{{!--
    Form Group Widget \ Form Properties
    ===================================

    @used-by `charcoal/admin/widget/form-group-widget`
--}}
{{!-- Loop form properties (typically `FormPropertyWidget`) --}}
{{# formProperties }}
    {{# layout }}
        {{ start }}
        {{# cellStartsRow }}

    <section class="o-section">
        <div class="row">
        {{/ cellStartsRow }}
    {{/ layout }}

            <div{{# layout }} class="col-md-{{ cellSpanBy12 }}"{{/ layout }}>
                {{> $form_property_widget }}
            </div>

    {{# layout }}
        {{# cellEndsRow }}
        </div>
    </section>

        {{/ cellEndsRow }}
        {{!-- Hack: Execute end layout --}}
        {{ end }}
    {{/ layout }}
{{/ formProperties }}