{{!--

    Form Group Widget - Object Revisions
    ====================================

--}}
{{# showHeader }}
    <header class="o-header -small">
        {{# showTitle }}
            <h3>{{ title }}</h3>
        {{/ showTitle }}
        {{> charcoal/admin/template/inc.description }}
        {{# showNotesAbove }}
            {{> charcoal/admin/template/inc.notes }}
        {{/ showNotesAbove }}
    </header>
{{/ showHeader }}
<div class="o-container c-form-widget_group_content">
    <fieldset>
        {{> charcoal/admin/widget/object-revisions/table }}
        {{> charcoal/admin/template/inc.notes }}
    </fieldset>
</div>

{{# addJsRequirement }}
    <script rel="l10n">
        {{> charcoal/admin/l10n/object-revisions.js }}
    </script>
{{/ addJsRequirement }}

{{# addJs }}
    <script>
        $(document).ready(function () {
            $('.js-obj-revert').on('click', function (event) {
                event.preventDefault();

                var url = Charcoal.Admin.admin_url() + 'object/revert-revision';
                var data = {
                    obj_type: "{{ objType }}",
                    obj_id: "{{ objId }}",
                    rev_num: $(this).attr('data-rev-num')
                };
                console.debug(data);
                BootstrapDialog.show({
                    title: objectRevisionsWidgetL10n.title,
                    message: objectRevisionsWidgetL10n.message,
                    buttons: [ {
                        id: 'ok-btn',
                        label: objectRevisionsWidgetL10n.restore,,
                        action: function (dialog) {
                            dialog.close();

                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: data,
                                dataType: 'json',
                                success: function (response) {
                                    if (response.success) {
                                        window.location.reload();
                                    } else {
                                        Charcoal.Admin.feedback().push([
                                            {
                                                level: 'error',
                                                message: objectRevisionsWidgetL10n.restoreError
                                            }
                                        ]);
                                        Charcoal.Admin.feedback().dispatch();
                                    }
                                },
                                error: function () {
                                    Charcoal.Admin.feedback().push([
                                        {
                                            level: 'error',
                                            message: objectRevisionsWidgetL10n.restoreError
                                        }
                                    ]);
                                    Charcoal.Admin.feedback().dispatch();
                                }
                            })
                        }
                    } ]
                });
            });
        });
    </script>
{{/ addJs }}