{{!--
    Form Group \ Structure Property
    ===============================

    `charcoal/admin/widget/form-group/structure-form-group`
--}}

<fieldset class="c-structure{{^ displays.seamless }} c-structure--bordered{{/ displays.seamless }}">
    {{# showHeader }}
    <header class="o-header -border">
        {{# showTitle }}
        <h2>{{ title }}</h2>
        {{/ showTitle }}

        {{> charcoal/admin/template/inc.description }}
        {{# showNotesAbove }}
        {{> charcoal/admin/template/inc.notes }}
        {{/ showNotesAbove }}
    </header>
    {{/ showHeader }}
    {{^ showHeader }}
    <h2 class="sr-only">{{ title }}</h2>
    {{# showDescription }}
    <div class="help-block o-section">{{& description }}</div>
    {{/ showDescription }}
    {{# showNotesAbove }}
    {{> charcoal/admin/template/inc.notes }}
    {{/ showNotesAbove }}
    {{/ showHeader }}

    <div class="c-structure_entries">
    {{^ hasFormProperties }}
    {{# showEmpty }}
    {{!^ hasEntries }}
        <div class="c-structure_empty alert alert-warning" role="alert">{{# _t }}No Template Options.{{/ _t }}</div>
        {{!> charcoal/admin/widget/structure/empty }}
    {{!/ hasEntries }}
    {{/ showEmpty }}
    {{/ hasFormProperties }}
    {{!# entries }}
        <section class="c-structure_entry" id="structure-entry-{{ structId }}">
            <div class="c-structure_entry_content">
                {{> charcoal/admin/widget/form-group/form-properties }}
            </div>
        </section>
    {{!/ entries }}
    </div>

    {{^ showNotesAbove }}
    {{> charcoal/admin/template/inc.notes }}
    {{/ showNotesAbove }}

</fieldset>
