{{!--
    Form Group \ Structure Property
    ===============================

    `charcoal/admin/widget/form-group/structure-form-group`
--}}
<fieldset class="c-structure-property">
    {{> $structure_template }}
</fieldset>