{{!--
    Form Groups
    ===========

    @used-by charcoal/admin/template/object-form
    @used-by charcoal/admin/template/quick-form
--}}
<div class="o-form-groups{{# isTabbable }} tab-content{{/ isTabbable }}">
{{# groups }}
    {{^ hidden }}
    {{# form.layout }}
        {{> charcoal/admin/widget/layout.start }}
    {{/ form.layout }}

    <div id="form_group_{{ widgetId }}" class="o-form-group{{# ident }} form-group-{{ . }}{{/ ident }}{{# form.layout.cellSpanBy12 }} col-md-{{ . }}{{/ form.layout.cellSpanBy12 }} js-group-tab{{# isTabbable }} tab-pane{{^ isHidden }} active{{/ isHidden }}{{/ isTabbable }}{{^ isTabbable }}{{# isHidden }} hidden{{/ isHidden }}{{/ isTabbable }}">
        {{> $formGroupWidget }}
    </div>

    {{# form.layout }}
        {{> charcoal/admin/widget/layout.end }}
    {{/ form.layout }}
    {{/ hidden }}
{{/ groups }}
</div>
