{{!--
    Togglable Tabs
    ==============

    @used-by charcoal/admin/template/object-form
    @used-by charcoal/admin/template/quick-form
--}}
<ul class="nav nav-tabs{{^ showHeader }} bootstrap-dialog-title{{/ showHeader }}" role="tablist">
{{# groups }}
    <li class="{{^ isHidden }}active{{/ isHidden }}{{# tabCssClasses }} {{.}}{{/ tabCssClasses }}" role="presentation">
        <a href="#form_group_{{ widgetId }}"
           class="tab-link js-group-tabs"
           role="tab"
           data-toggle="tab"
           data-tab-ident="{{ident}}"
           aria-controls="form_group_{{ widgetId }}">
            {{# showIcon }}
            {{# icon }}<span class="tab-icon fa fa-{{ . }}" aria-hidden="true"></span>{{/ icon }}
            {{/ showIcon }}
            {{# showTitle }}
            <span class="tab-title">{{& title }}</span>
            {{/ showTitle }}
            {{^ showTitle }}
            <div class="tab-title-hidden"><span>{{& title }}</span></div>
            {{/ showTitle }}
        </a>
    </li>
{{/ groups }}
</ul>
