<span class="o-color-swatch minicolors-sprite" aria-label="{{ displayVal }}">
    <span class="minicolors-swatch-color"{{# displayVal }} style="background-color: {{ . }};"{{/ displayVal }}></span>
</span>
