{{!
    You are at /admin of the website
}}
<img src="../{{displayVal}}" style="{{#height}}height: {{.}};{{/height}} {{#width}}width: {{.}};{{/width}} {{#maxWidth}}max-width:{{.}};{{/maxWidth}} {{#maxHeight}}max-height: {{.}};{{/maxHeight}}">
