{{!--
    Image Property Input \ Preview
    ==============================

    `charcoal/admin/property/input/image`
--}}
<img src="{{ previewVal }}" class="figure-img img-fluid rounded{{# classAttr }} {{ . }}{{/ classAttr }}"{{# styleAttr }} style="{{ . }}"{{/ styleAttr }}>
