{{!--
    Image Property Input \ Preview
    ==============================

    `charcoal/admin/property/input/image`
--}}
<img src="{{ previewVal }}"{{# classAttr }} class="{{ . }}"{{/ classAttr }}{{# styleAttr }} style="{{ . }}"{{/ styleAttr }}>
