{{!--
    Select \ JS Component
    =====================

    @used-by `charcoal/admin/property/input/select`
--}}
{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{ inputId }}',
    type: 'charcoal/admin/property/input/SelectPicker',
    data: {
        select_selector: '#{{ inputId }}',
        select_options:  {{& selectOptionsAsJson }}
    }
});
</script>
{{/ addJs }}
