{{!--
    Select \ JS Component
    =====================

    @used-by `charcoal/admin/property/input/select`
--}}
{{# addJsRequirement }}
    <script src="{{ baseUrl }}assets/admin/scripts/vendors/bootstrap-select/i18n/defaults-{{ locale }}.min.js?v={{ assetsVersions.bootstrap-select }}"></script>
{{/ addJsRequirement }}
{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{ inputId }}',
    type: 'charcoal/admin/property/input/SelectPicker',
    data: {
        select_selector: '#{{ inputId }}',
        select_options:  {{& selectOptionsAsJson }}
    }
});
</script>
{{/ addJs }}