{{!--
    Select \ Option
    ===============

    @used-by `charcoal/admin/property/input/select`
--}}
<option value="{{ value }}"{{# title }} title="{{ . }}"{{/ title }}{{# subtext }} data-subtext="{{ . }}"{{/ subtext }}{{# icon }} data-icon="{{ . }}"{{/ icon }}{{# selected }} selected{{/ selected }}>{{& label }}</option>
