/**
 * Attachment Widget
 */

$c-attachment-panel-width:  85%;
$c-attachment-aside-width:  16%;
$c-attachment-gutter-width: 2%;

$c-attachment-pv: (nth($panel-heading-padding, 1) + 3px);
$c-attachment-ph: nth($panel-heading-padding, 2);

.c-attachments {

    .ui-sortable-helper {
        cursor: move;
    }

    .thumbnail img,
    img.thumbnail {
        max-width:  200px;
    }

    img.thumbnail {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery-list {
        padding:    0;
        list-style: none;
    }

    .panel {
        position: relative;

        &.ui-sortable-helper {
            height: auto !important;
        }
    }

    .list-group-item {
        padding-right: ($c-attachment-ph * 4);
    }

    .panel-title-icon,
    .list-group-item-icon {
        padding: $c-attachment-pv $c-attachment-ph;
    }

    .panel-title-icon,
    .list-group-item > .list-group-item-icon {
        margin: (-$c-attachment-pv) $c-attachment-ph (-$c-attachment-pv) (-$c-attachment-ph);
        border-right: 1px solid #ddd;
    }

    .panel-heading > .panel-actions,
    .list-group-item-actions {
        position: absolute;
        top:      0;
        right:    0;

        .list-group-item-action {
            display:     block;
            float:       left;
            border-left: 1px solid #ddd;
            padding:     nth($panel-heading-padding, 1) $c-attachment-ph;
        }
    }

    .panel-headless-title {
        display: none;
    }

    .panel-heading {
        &.sr-only,
        &.hidden {
            ~ .panel-collapse {
                > .panel-body {
                    border-top: 0;
                }

                .panel-headless-title {
                    display: block;
                }
            }
        }
    }

    .panel-title {
        font-size: $font-size;
    }

    .panel-body {
        font-family: $font-family-base;
        font-size:   $font-size-base;
        line-height: $line-height-base;

        img,
        svg {
            max-width: 100%;
            height: auto;
        }
    }

    .panel-actions {
        .glyphicon {
            vertical-align: text-top;
        }
    }

    .panel-actions-float {
        position: absolute;
        top:      ceil($font-size * 0.25);
        left:     100% + $c-attachment-gutter-width;
        width:    $c-attachment-aside-width;
    }

    .panel-actions-inline {
        padding: ceil($font-size * 0.25);
    }
}

.c-attachments_header {
    margin-bottom: 2em;
}

.js-attachment-container {
    .js-grid-container {
        min-height: 100px;
    }

    > .panel-group {
        width: $c-attachment-panel-width;
    }
}

.js-attachment-placeholder {
    height:           ceil(($font-size * 1.1) + (nth($panel-heading-padding, 1) * 2)) + 2px;
    padding:          $panel-heading-padding;
    border-color:     #BBB;
    border-style:     dashed;
    box-shadow:       none;
    background-color: transparent;
}
