// ==========================================================================
// Audio player Simple, can be found in a table
// ==========================================================================
.audio-player-simple_button {
    position: relative;

    display: inline-block;

    width: rem(40px);
    height: rem(40px);

    vertical-align: middle;

    border: none;
    border-radius: 50%;
    outline: none;
    background-color: $gray-light;

    .glyphicon {
        line-height: rem(40px);

        position: absolute;
        top: rem(-1px);
        left: 50%;

        margin-left: rem(-6px);

        transition: opacity 0.3s;

        color: $white;
    }

    .glyphicon-pause {
        opacity: 0;
    }

    &.paused {
        .glyphicon-pause {
            opacity: 1;
        }
        .glyphicon-play {
            opacity: 0;
        }
    }
}

.audio-player-simple_time {
    font-size: rem(50px);
    font-weight: $weight-light;

    display: inline-block;

    width: calc(100% - #{rem(60px)});
    padding-left: rem(15px);

    color: $gray-light;

    vertical-align: middle;
}
