// ==========================================================================
// Charcoal-spinner
// ==========================================================================

.charcoal-loader_spinner {
    position: absolute;
    color: $charcoal-blue-1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    display: inline-block;
}

.charcoal-loader_box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $charcoal-gray-0;
    transition: opacity $speed $easing;
    pointer-events: none;

    opacity: 0;

    .-is-loading &,
    &.-is-loading {
        opacity: 1;
    }
}
