// ==========================================================================
// Dual Select
// ==========================================================================

.c-dualselect {
    &.-cols {
        align-items: start;

        @include media-breakpoint-down('sm') {
            > [class*="col-"] {
                max-width: none;
                flex: none;
                width: 100%;
            }
        }
    }
}

.c-dualselect_list {
    // Vertically space out multiple block controls
    // Use general sibling selector to skip hidden inputs
    .form-control ~ .form-control {
        margin-top: 5px;
    }
}

.c-dualselect_transfer {
    .c-dualselect.-cols & {
        @include media-breakpoint-down('sm') {
            margin: 1rem 0;

            .fa {
                transform: rotate(90deg);
            }
        }
    }

    .c-dualselect.-rows & {
        margin: 1rem 0;

        .fa {
            transform: rotate(90deg);
        }
    }

    .btn-group {
        + .btn-group {
            .c-dualselect.-rows & {
                margin-left: $spacer / 2;
            }

            .c-dualselect.-cols & {
                @include media-breakpoint-down('sm') {
                    margin-left: $spacer / 2;
                }

                @include media-breakpoint-up('md') {
                    margin-top: $spacer / 2;
                }
            }
        }

        .c-dualselect.-cols & {

            @include media-breakpoint-up('md') {
                flex-direction: column;
                width: 100%;

                > .btn {
                    border-radius: $border-radius;
                }

                > .btn:not(:last-child) {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                > .btn:not(:first-child) {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

                .btn + .btn {
                    margin-left: 0;
                    margin-top: -1px;
                }
            }
        }
    }
}

.c-dualselect_reorder {
    margin-top: $spacer / 2;
}
