// ==========================================================================
// Form Widget
// ==========================================================================

.c-form-widget {
    @media (max-width: $to-small) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.c-form-widget_form {
    position: relative;
}

.c-form-widget_nav {
    .c-form-widget.-object-form & {
        @media (min-width: $from-small) {
            justify-content: flex-end;
            transform: translateY(-100%);
        }

        @media (min-width: $from-large) {
            position: absolute;
            width: 100%;
        }
    }
}

.c-form-widget_groups {
    @media (min-width: $from-large) {
        background-color: $charcoal-white-0;
        border-radius: $border-radius;
    }

    .c-form-widget.-tabbed & {
        @media (min-width: $from-large) {
            padding: rem($unit / 2);
            margin-top: rem($header-height / 2);
        }
    }

    .c-form-widget.-quick-form & {
        background: none;
    }

    .c-form-widget.-quick-form.-tabbed & {
        background-color: $charcoal-white-1;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        @media (min-width: $from-large) {
            margin-top: 0;
            padding: rem($header-height / 2) rem($unit / 2) 0;
        }
    }
}

.c-form-widget_sidebar {
    @media (min-width: $from-small) and (max-width: $to-medium) {
        width: rem($sidebar-width);
    }

    @media (min-width: $from-medium) {
        width: $sidebar-width;
    }
}
