// ==========================================================================
// Form Widget
// ==========================================================================

.c-form-widget {
    @media (max-width: $to-small) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.c-form-widget_form {
    position: relative;
}

.c-form-widget_nav {
    .c-form-widget.-object-form & {
        @media (min-width: $from-small) {
            justify-content: flex-end;
            transform: translateY(-100%);
        }

        @media (min-width: $from-large) {
            position: absolute;
            width: 100%;
        }
    }
}

.c-form-widget.-tabbed {
    .c-form-widget_groups & {
        margin-top: 3.5rem;

        @media (min-width: $from-huge) {
            margin-top: 2.5rem;
        }
    }
}

.c-form-widget_groups {

    .c-form-widget_group {
        > header {
            margin-top: rem($unit / 2);
            padding: rem($unit / 2) rem($unit / 2) 0 rem($unit / 2);

            .c-form-widget.-quick-form & {
                margin-top: 0;
                margin-bottom: rem($unit / 2);
            }
        }

        .c-form-widget_group_content {
            background-color: $charcoal-white-0;
            border-radius: $border-radius;

            .c-form-widget &,
            .c-form-widget.-quick-form &,
            .c-form-widget.-object-form &,
            .c-form-widget.-tabbed & {
                padding: rem($unit / 2);
                margin-top: rem($unit / 2);
            }
            .c-form-widget.-quick-form & {
                background: none;
            }

            .c-form-widget.-quick-form & {
                background-color: $charcoal-white-0;
                //border-top-left-radius: 0;
                //border-top-right-radius: 0;

                @media (min-width: $from-large) {
                    margin-top: 0;
                    margin-bottom: rem($unit / 2);
                    padding: rem($unit / 2) rem($unit / 2) 0;
                }
            }
        }
    }
}

.c-form-widget_sidebar {
    @media (min-width: $from-small) and (max-width: $to-medium) {
        width: rem($sidebar-width);
    }

    @media (min-width: $from-medium) {
        width: $sidebar-width;
    }
}

.o-container .c-form-widget.-sticky-sidebar {
    @media (min-width: $from-small) {
        margin-right: -#{rem($unit / 2)};
    }
}

.bootstrap-dialog.-quick-form {
    .modal-body {
        background-color: $charcoal-white-1;
    }

    .modal-header {
        background-color: $charcoal-gray-0;
    }

    .modal-footer {
        background-color: $charcoal-gray-5;
    }
}

.bootstrap-dialog.-quick-form .modal-body {
    background-color: #e1e1e1;
}

.bootstrap-dialog.-quick-form .modal-body .-lang .form-field.-l10n[data-lang]::before {
    font-size:      10px;
    content:        attr(data-custom-modal-lang);
    position:       absolute;
    left:           -50px;
    display:        contents;
    width:          30px;
    text-transform: uppercase;
}
