// ==========================================================================
// Form Groups
// ==========================================================================

.c-form-group {
    position: relative;
}

.c-form-group_tabs {
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
}
