// ==========================================================================
// Header main Components
// ==========================================================================

.c-header-main {
    background-color: $charcoal-blue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: rem($unit);
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    z-index: 99;
    line-height: 1;

    .btn-link {
        opacity: 0.5;
        color: white;

        &:focus,
        &:hover {
            opacity: 1;
            color: white;
            text-decoration: none;
        }
    }
}

.c-header-main_button {
    width: 45px;
    padding: 16.5px 13.5px;
    text-align: center;
    cursor: pointer;
    height: 100%;

    @media (min-width: $from-large) {
        display: none;
    }
}

.c-header-main_button_line {
    display: block;
    height: 2px;
    background-color: $white;
    margin-bottom: 3px;
    transform-origin: center left;
    transition: transform $speed, opacity $speed;

    &:nth-child(1) {
        .has-nav-open & {
            transform: translateY(-1px) rotate(42deg);
        }
    }

    &:nth-child(2) {
        .has-nav-open & {
            opacity: 0;
        }
    }

    &:nth-child(3) {
        .has-nav-open & {
            transform: translateY(1px) rotate(-42deg);
            margin-bottom: 0;
        }
    }
}

.c-header-main_link {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.c-header-main_logo_img {
    fill: $white;

    @media (max-width: $to-large) {
        width: 77px;
        height: 14px;
        margin-right: 15px;
        margin-left: 10px;
    }

    @media (min-width: $from-large) {
        width: rem(87px);
        height: rem(16px);
        margin: 0 rem(20px);
    }
}

.c-header-main_help {
    font-size: rem(12px);

    @media (max-width: $to-large) {
        margin: 0 2px;
    }

    @media (min-width: $from-large) {
        margin: 0 rem(15px);
    }

    .c-header-main_link:hover & {
        text-decoration: underline;
        color: $white;
    }
}

.c-header-main_user {
    @extend .c-nav;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    border: none;
    outline: none;
    text-align: left;
    color: $white;
    display: flex;
    align-items: center;
    transition: background-color $speed;

    @media (max-width: $to-small) {
        width: 45px !important;
        padding: 0 20.5px !important;
    }

    &:hover, .has-nav-user & {
        background-color: $charcoal-darkblue;
    }
}

.c-header-main_user_name {
    @media (max-width: $to-small) {
        display: none;
    }

    @media (min-width: $from-small) {
        flex-grow: 1;
        @include ellipsis;
        margin-right: rem(20px);
    }
}

.c-header-main_user_icon {

}

.c-header-main_user_icon_dot {
    position: relative;
    background-color: $white;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    margin-bottom: rem(4px);
    display: block;
    transition: transform $speed, opacity $speed;
    transform-origin: center right;

    &:last-child {
        margin-bottom: 0;
    }

    .has-nav-user & {
        border-radius: 0px;
        height: 2px;

        &:nth-child(1) {
            @media (max-width: $to-small) {
                transform: translatex(4px) rotate(-43deg) scaleX(5);
            }

            @media (min-width: $from-small) and (max-width: $to-large) {
                transform: translateY(1px) rotate(-43deg) scaleX(4.5);
            }

            @media (min-width: $from-large) and (max-width: $to-huge) {
                transform: translateY(-1px) rotate(-43deg) scaleX(6.4);
            }

            @media (min-width: $from-huge) {
                transform: translateY(-1px) rotate(-43deg) scaleX(5.5);
            }
        }

       &:nth-child(2) {
            opacity: 0;

            @media (max-width: $to-small) {
                transform: scaleX(5);
            }

            @media (min-width: $from-small) and (max-width: $to-large) {
                transform: scaleX(4.5);
            }

            @media (min-width: $from-large) and (max-width: $to-huge) {
                transform: scaleX(6.4);
            }

            @media (min-width: $from-huge) {
                transform: scaleX(5.5);
            }
        }

        &:nth-child(3) {
            @media (max-width: $to-small) {
                transform: translatex(4px) rotate(43deg) scaleX(5);
            }

            @media (min-width: $from-small) and (max-width: $to-large) {
                transform: translateY(-1px) rotate(43deg) scaleX(4.5);
            }

            @media (min-width: $from-large) and (max-width: $to-huge) {
                transform: translateY(2px) rotate(43deg) scaleX(6.4);
            }

            @media (min-width: $from-huge) {
                transform: translateY(2px) rotate(43deg) scaleX(5.5);
            }
        }
    }
}
