// ==========================================================================
// Header main Components
// ==========================================================================

.c-header-main {
    background-color: $charcoal-blue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: rem($unit);
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    z-index: 99;
    line-height: 1;
}

.c-header-main_link {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.c-header-main_logo_img {
    fill: $white;
    margin: 0 rem(20px);

    @media (max-width: $to-small) {
        width: 77px;
        height: 14px;
    }

    @media (min-width: $from-small) {
        width: rem(87px);
        height: rem(16px);
    }
}

.c-header-main_help {
    font-size: rem(12px);
    opacity: 0.37;
    color: $white;

    @media (max-width: $to-small) {
        margin: 0 2px;
    }

    @media (min-width: $from-small) {
        margin: 0 rem(15px);
    }

    .c-header-main_link:hover & {
        text-decoration: underline;
        color: $white;
    }
}

.c-header-main_user {
    @extend .c-nav;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    border: none;
    outline: none;
    text-align: left;
    color: $white;
    display: flex;
    align-items: center;
    transition: background-color $speed;

    @media (max-width: $to-small) {
        width: 150px !important;
    }

    &:hover, .has-nav-user & {
        background-color: $charcoal-darkblue;
    }
}

.c-header-main_user_name {
    flex-grow: 1;
    @include ellipsis;
    margin-right: rem(20px);
}

.c-header-main_user_icon {

}

.c-header-main_user_icon_dot {
    position: relative;
    background-color: $white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-bottom: 4px;
    display: block;
    transition: transform $speed, opacity $speed;
    transform-origin: center right;

    &:last-child {
        margin-bottom: 0;
    }

    .has-nav-user & {
        border-radius: 0px;
        height: 2px;

        &:nth-child(1) {
            transform: translateY(1px) rotate(-43deg) scaleX(4.7);

            @media (min-width: $from-small) {
                transform: translateY(-1px) rotate(-43deg) scaleX(5.5);
            }
        }

       &:nth-child(2) {
            opacity: 0;

            @media (min-width: $from-small) {
                transform: scaleX(5.5);
            }
        }

        &:nth-child(3) {
            transform: translateY(-4px) rotate(43deg) scaleX(4.7);

            @media (min-width: $from-small) {
                transform: translateY(2px) rotate(43deg) scaleX(5.5);
            }
        }
    }
}
