// ==========================================================================
// Info - (?) additional info
// ==========================================================================

.c-info {
    display: inline-block;

    width: rem(23px);
    height: rem(23px);

    text-align: center;

    border: 1px solid $gray-light;
    border-radius: 50%;

    color:$gray-light;

    margin-left:rem(10px);
    cursor:help;
    font-size:rem(16px);
    font-weight: normal;
    line-height:rem(22px);
}
