// ==========================================================================
// Login
// ==========================================================================

.c-login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    min-height: rem(700px);
}

.c-login_panel {
    position: relative;
    display: block;
    width: rem($nav);
    padding: rem($unit);
    margin: 0 auto;
    background-color: $white;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
    border-radius: $radius;
    font-size: 13px;
}

.c-login_header {
    text-align: center;
    margin-bottom: rem(30px);
}

.c-login_avatar {
    display: inline-block;
    width: rem(95px);
    height: rem(95px);
    border-radius: 50%;
    overflow: hidden;
}

.c-login_avatar_image {
    width: 100%;
}
