// ==========================================================================
// Map maker
// ==========================================================================

.c-map-maker {

}

.c-map-maker_map {
    background-color: #E5E3DF;
    height: 100%;
    overflow: hidden;
    top: -72px;
    // transform: translateY(-72px);


    .maker_header-open & {
        height: calc(100% - 72px);
        top: 0;
        // transform: translateY(0);
    }

}

.c-map-maker_header {
    border-color: $gray-light;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1px;
    padding: 11.5px 20px;
    position: relative;
    top: -72px;

    .maker_header-open & {
        top: 0;
    }
}

.c-map-maker_label {
    margin-right: 13px;
}

.c-map-maker_btn {
    margin-left: 13px;
}

.c-map-maker_input {
    display: inline-block;
    width: calc(100% - 276px);

    [lang='en'] & {
        width: calc(100% - 244px);
    }
}
