// ==========================================================================
// Nav / Container
// ==========================================================================

.c-nav-container {
    top: 0;
    left: 0;
    z-index: 900;
    backface-visibility: hidden;

    @media (max-width: $to-large) {
        background-color: $charcoal-gray-4;
        position: fixed;
        right: 0;
        height: $unit;
    }

    @media (min-width: $from-large) {
        background-color: $charcoal-gray-6;
        bottom: 0;
        width: rem($nav-width);
    }
}

.c-nav-container_button {
    @media (max-width: $to-large) {
        cursor: pointer;
        background: none;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: $nav-button-width;
        padding: 0;
        padding-bottom: 6px;
        text-align: center;
    }

    @media (min-width: $from-large) {
        display: none;
    }
}


.c-nav-container_button_icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: $white;
    transition: background-color $speed $easing, transform $speed $easing;

    .has-nav-open & {
        background-color: transparent;
        transform: translateX(-3px);
    }

    &::before, &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $white;
        height: 2px;
        transform-origin: center right;
        transition: transform $speed $easing;
    }

    &::before {
        top: -6px;

        .has-nav-open & {
            transform: translateY(-1px) rotate(-45deg);
        }
    }

    &::after {
        bottom: -6px;

        .has-nav-open & {
            transform: translateY(1px) rotate(45deg);
        }
    }
}

.c-nav-container_header {
    @media (max-width: $to-large) {
        position: absolute;
        top: 0;
        left: $nav-button-width;
        right: 0;
        height: $unit;
    }
    @media (min-width: $from-large) {
        background-color: $charcoal-gray-4;
        height: rem($header-height);
        overflow: visible;
        position: relative;
    }
}

.c-nav-container_logo {
    position: absolute;
    bottom: 0;
    font-size: 0;
    line-height: 1;
    left: 0;
    z-index: 1100;

    svg {
        fill: $charcoal-gray-1;
    }

    @media (max-width: $to-small) {
        padding: 6px;
    }

    @media (min-width: $from-small) and (max-width: $to-large) {
        padding: 6px 20px;
    }

    @media (max-width: $to-large) {
        svg {
            width: 81px;
            height: 48px;
        }
    }

    @media (min-width: $from-large) {
        padding: rem(22px) rem($spacer-x);
        // right: 0;

        svg {
            width: rem(130px);
            height: rem(24px);
        }
    }
}
