// ==========================================================================
// Nav user Components
// ==========================================================================

.c-nav-user {
    @extend .c-nav;
    position: fixed;
    top: rem($unit);
    right: 0;
    bottom: 0;
    background-color: $charcoal-darkblue;
    color: $white;
    transform: translateX(100%);
    transition: transform $slow-speed;
    z-index: 99;

    @media (max-width: $to-small) {
        width: 150px;
    }

    .has-nav-user & {
        transform: translateX(0);
    }
}

.c-nav-user-overlay {
    @extend .o-overlay;

    .has-nav-user & {
        opacity: 1;
        visibility: visible;
    }
}

.c-nav-user_avatar {
    width: rem(80px);
    height: rem(80px);
    overflow: hidden;
    border-radius: $radius;
    margin-right: rem(20px);
    flex-shrink: 0;

    img {
        width: 100%;
    }
}

.c-nav-user_info {
    flex-grow: 1;

    @media (max-width: $to-small) {
        padding: 15px 0 17px;
    }
}

.c-nav-user_name {
    display: block;
    width: 100%;
    @include u-truncate;
}

.c-nav-user_link {
    display: inline-block;
    margin-top: rem(6px);
    color: $blue;

    &:hover {
        color: $blue;
        text-decoration: underline;
    }
}
