// ==========================================================================
// Nav user Components
// ==========================================================================
.c-nav-user {
    @extend .c-nav;
    position: fixed;
    top: rem($unit);
    right: 0;
    bottom: 0;
    background-color: $lighter-black;
    color: $white;
}

.c-nav-user_avatar {
    width: rem(80px);
    height: rem(80px);
    overflow: hidden;
    border-radius: 2px;
    margin-right: rem(20px);

    img {
        width: 100%;
    }
}

.c-nav-user_username {
    display: block;
}

.c-nav-user_link {
    color: $blue;

    &:hover {
        color: $blue;
        text-decoration: underline;
    }
}
