// ==========================================================================
// Panel
// ==========================================================================

.c-panel {
    background-color: $charcoal-lightblue;
    border-radius: $radius;
    //overflow: hidden;

    &.-fixed {
        @media (max-width: $to-small) {
            width: 100%;
        }

        @media (min-width: $from-small) and (max-width: $to-medium) {
           width: 50%;
        }

        @media (max-width: $to-medium) {
            margin-top: rem($unit / 2);
            margin-bottom: rem($unit);
        }

        @media (min-width: $from-medium) {
            position: fixed;
            top: rem($unit * 2);
            right: rem($unit);
            width: rem(280px);
        }

    }
}

// Header
// ==========================================================================
.c-panel_header {
    background-color: $black;
    padding: 0 rem(30px);
    display: flex;
    align-items: center;
    color: $white;
    height: rem(50px);
}

// Main
// ==========================================================================
.c-panel_main {
    padding: 0 rem(30px);
    margin: rem(30px) 0;
}

.c-panel_table {
    width: 100%;
    margin-top: rem(15px);
    margin-bottom: rem(25px);
    font-size: rem(13px);
}

ol.c-panel_table,
ul.c-panel_table {
    padding-left: 0;
    list-style: none;
}

.c-panel_table_row {
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;

    :not(table) &:not(:last-child) {
        border-bottom: 0;
    }

    > p {
        margin: 0;
    }
}

.c-panel_table_header,
.c-panel_table_data {
    padding: rem(8px) 0;
}

.c-panel_table_header {
    opacity: 0.4;

    :not(table) & {
        padding-bottom: 0;
    }
}

// Footer
// ==========================================================================
.c-panel_footer {
    background-color: $charcoal-lightblue-dark;
    padding: 0 rem(30px);
    height: rem(50px);
    display: flex;
    justify-content: center;
}

.c-panel_footer_item {
    width: 50%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(13px);
    transition: color $speed;

    &:hover {
        &.-red {
            color: $red;
        }

        &.-blue {
            color: $blue;
        }
    }
}
