// ==========================================================================
// Recording maker
// ==========================================================================

.c-recording-maker {
    position: relative;
    height: 100%;
    width: 100%;
}

.c-recording-maker_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.c-recording-maker_canvas {
    background: $white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

    &.-waves {
    }

    &.-analyser {
        z-index: 1;
    }
}
