// ==========================================================================
// Search
// ==========================================================================

.c-search {
    right: 0;

    @media (max-width: $to-small) {
        max-width: 300px;
    }

    @media (min-width: $from-small) {
        border-top-left-radius: 3px;
        position: absolute;
    }

    @media (min-width: $from-small) and (max-width: $to-large) {
        top: $unit;
    }

    @media (min-width: $from-large) {
        background-color: $charcoal-white-1;
        top: rem(50px);
    }
}

.c-search_wrap {
    line-height: 1;
    padding: $unit-small;

    @media (max-width: $to-small) {
        padding-top: 0;
    }
    @media (min-width: $from-small) {
        padding-right: rem($unit / 2);
    }

    &.-bottom {
        @media (max-width: $to-small) {
            display: none;
        }

        @media (max-width: $to-large) {
            padding-top: 0;
        }
    }
}

.c-search_input {
    box-shadow: 1px 1px 5px -2px rgba($charcoal-gray-2, 0.4) inset;
    font-size: 13px;
    padding: 8px 11px;
    width: rem(210px) !important;
}

.c-search_button {
    border-color: $input-border-color !important; // From Bootstrap
    border-left: none;
    cursor: pointer;

    &:first-child {
        border-radius: 0;
    }
}

.c-search_advanced {
    @include u-button-reset;
    color: $black;
    font-size: 12px;
    opacity: 0.7;
    padding: 0;
    text-decoration: underline;
    transition: opacity $speed $easing;

    &:hover {
        opacity: 1;
    }
}
