// ==========================================================================
// Form Widget \ Sidebar
// ==========================================================================

.c-sidebar-widget {
    @media (min-width: $from-medium) {
        width: $sidebar-width;
    }
}

.c-sidebar-widget_inner {
    background-color: $black;
    border-bottom-left-radius: $radius;
    overflow: hidden;
    width: 100%;

    @media (max-width: $to-small) {
    }

    @media (min-width: $from-medium) {
        width: $sidebar-width;
    }
    @media (min-width: $from-small) and (max-width: $to-medium) {
       // width: 50%;
    }

    @media (max-width: $to-medium) {
        margin-top: rem($unit / 2);
        margin-bottom: rem($unit);
    }

    @media (min-width: $from-medium) {
        position: fixed;
        top: 0;
        // top: rem($unit * 2);
        // right: rem($unit);
        // width: rem(280px);
    }

    // @media (max-width: $to-small) {
        // padding: 0 $unit-small;
    // }

    @media (min-width: $from-medium) {
        right: 0;
    }

    @media (min-width: $from-small) and (max-width: $to-large) {
        top: $nav-main-width;
    }

    @media (min-width: $from-large) {
        top: rem($header-height);
    }
}

// Header
// ==========================================================================
.c-sidebar-widget_header {
    color: $charcoal-gray-0;
    padding: rem(24px) rem($unit / 2) rem(14px);
}

.c-sidebar-widget_heading {
    margin: 0;
}

// Main
// ==========================================================================
.c-sidebar-widget_wrapper {
    border-top: 1px solid $charcoal-gray-5;
    padding: rem($unit / 2);

    &:last-child {
        border-bottom: 1px solid $charcoal-gray-5;
    }
}

.c-sidebar-widget_subtitle {
    color: $charcoal-gray-0;
}

.c-sidebar-widget_table {
    font-size: 10px;
    width: 100%;
    margin-bottom: 0;
}

.c-sidebar-widget_table_row {
    padding: rem(8px) 0;

    & + & {
        border-top: 1px solid $charcoal-gray-5;
    }
}

.c-sidebar-widget_table_header,
.c-sidebar-widget_table_data {
    color: $charcoal-gray-0;
}

.c-sidebar-widget_table_header {
    opacity: 0.7;
    margin-bottom: rem(5px);
}

// Footer
// ==========================================================================
.c-sidebar-widget_footer {
    border-top: 1px solid $charcoal-gray-5;
    // background-color: $charcoal-lightblue-dark;
    padding: 0 rem($unit / 2);
    height: rem(50px);
    // display: flex;
    // justify-content: center;
}

.c-sidebar-widget_button {
    border: none;
    color: $charcoal-gray-0;
    background-color: transparent !important;
    font-size: 10px;

    &.-delete {
        @include hover-focus {
            color: $primary;
        }
    }

    &.-reset {
        @include hover-focus {
            color: $danger;
        }
    }
}

// .c-sidebar-widget_footer_item {
//     width: 50%;
//     height: 100%;
//     cursor: pointer;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: rem(13px);
//     transition: color $speed;

//     &:hover {
//         &.-red {
//             color: $red;
//         }

//         &.-blue {
//             color: $blue;
//         }
//     }
// }
