// ==========================================================================
// Stats
// ==========================================================================

.stats {
}
.stats__title {
    font-size:rem(100px);
    font-weight:100;
}

.stats__bar {
    height:rem(6px);
    width:100%;
    background-color: $gray-light;
}

.stats__progress {
    height:rem(6px);
    background-color: $blue;
}

.stats__info {
    margin-bottom: rem(15px);

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.stats__text {
    margin-top: rem(5px);
    display: block;

    &.-left {
        float:left;
    }

    &.-right {
        float:right;
    }
}
