// ==========================================================================
// Table Container / Card Collection
// ==========================================================================

.c-table-card {
    .card-img-top {
        height: 160px;
        background-size: cover;
        background-position: center;
    }

    .card-body {
        position: relative;
        padding-right: 2.5rem;
    }

    .card-status {
        font-size: 12px;
    }

    .tool-dropdown {
        position: absolute;
        top: 0;
        right: 0;

        .dropdown-toggle:after {
            content: none;
        }

        button {
            font-size: 14px;
        }
    }

    .top-btn-bar {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
}
