// ==========================================================================
// Table Container / Collection
// ==========================================================================

.c-table-container {
    background-color: $white;
    border-radius: $border-radius;
    padding: 0 $table-cell-padding;

    .property-active {
        text-align: center;
        @include u-auto-cell-width;
    }

    .ui-tablesort-placeholder {
        margin: 12px;
        border: 2px dotted black;
        height: calc(#{rem(40px)} - 2px);
    }
}

.c-table-container_actions {
    padding: 0 !important;

    @media (min-width: $from-small) {
        @include u-auto-cell-width;
    }
}
