// ==========================================================================
// Table Pagination / Collection
// ==========================================================================

.c-table-pagination {
    color: $charcoal-gray-4;
    font-size: 12px;
    margin: $table-cell-padding * 2 0;
}
