// ==========================================================================
// Table Container / Collection
// ==========================================================================

.c-table-container {
    background-color: $white;
    border-radius: $border-radius;
    padding: 0 $table-cell-padding;
}
