{{!--
    Sidemenu Widget \ Actions
    =========================

    @used-by `charcoal/admin/widget/sidemenu`
--}}
<div class="btn-group">
    <div class="btn-group">
        <a href="{{url}}" class="btn btn-danger {{ classname }}">{{ label }}</a>
        {{# hasActions }}
            <button type="button"
                    class="btn btn-danger dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                {{# actions }}
                <li><a href="{{ adminUrl }}{{ url }}">{{ label }}</a>
                {{/ actions }}
            </ul>
        {{/ hasActions }}
    </div>
</div>
