{{!--
    Sidemenu Widget \ Link
    ======================

    @used-by `charcoal/admin/widget/sidemenu`
--}}
<li class="c-nav_list_item">
    <div class="c-nav_list_header{{# selected }} is-active{{/ selected }}">
        <a class="c-nav_list_link" href="{{ adminUrl }}{{ url }}">
            <span class="c-nav_list_link_main">
                <span class="c-nav_list_link_text">{{ name }}</span>
            </span>
            {{# num }}
            <span class="c-nav_list_link_number{{# numNew }} is-new{{/ numNew }}">{{ . }}</span>
            {{/ num }}
        </a>
    </div>
</li>
