{{!--

    Sidemenu Widget \ Link
    ======================

    @used-by `charcoal/admin/widget/sidemenu`

--}}

<li class="c-nav-secondary_list_item">
    <a class="c-nav-secondary_link{{# selected }} is-active{{/ selected }}" href="{{ adminUrl }}{{ url }}">
        <span class="c-nav-secondary_link_text">{{ name }}</span>
        {{# num }}
        <span class="c-nav-secondary_link_number{{# numNew }} is-new{{/ numNew }}">{{ . }}</span>
        {{/ num }}
    </a>
</li>
