{{!--
    Select Options Property Input
    =============================

    `charcoal/admin/property/input/select`
--}}
{{> charcoal/admin/property/control/select }}


{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{ inputId }}',
    type: 'charcoal/admin/property/input/selectize/search',
    data: {
        title: '{{ label }}',
        {{# property.objType }}
        obj_type: '{{ . }}',
        {{/ property.objType }}
        {{# multiple }}
        multiple: true,
        multiple_separator: '{{ property.multipleSeparator }}',
        {{/ multiple }}
        {{# allowClipboardCopy }}
        copy_items: true,
        {{/ allowClipboardCopy }}
        selectize_selector: '#{{ inputId }}',
        selectize_options: {{& selectizeOptionsAsJson }}
    }
});
</script>
{{/ addJs }}

