{{!--
    Select Options Property Input
    =============================

    `charcoal/admin/property/input/select`
--}}
{{> charcoal/admin/property/control/select }}


{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{ inputId }}',
    type: 'charcoal/admin/property/input/selectize/search',
    data: {{& controlDataForJsAsJson }}
});
</script>
{{/ addJs }}

