{{!--
   Selectize Tags Property Input
   =============================

   `charcoal/admin/property/input/selectize/tags`
--}}

{{> charcoal/admin/property/input/selectize/tags/control }}
{{> charcoal/admin/property/input/selectize/js }}