{{!--
    Table Widget \ Table Body \ Column
    ==================================

    @used-by `charcoal/admin/widget/tbody`
--}}
{{# truncate }}<span class="u-truncated"><span class="u-truncated_target">{{& val }}</span></span>{{/ truncate }}
