{{!--
    Admin \ UI \ Dropdown Actions
    =============================

    @used-by `charcoal/admin/widget/actions`
--}}
<div class="btn-group" role="group">
    {{# isButton }}
    <button class="{{ cssClasses }}{{^ splitButton }} dropdown-toggle{{/ splitButton }}"
            type="{{ buttonType }}"
            {{# name }}
            name="{{ . }}"
            {{/ name }}
            {{# value }}
            value="{{ . }}"
            {{/ value }}
            {{# widgetType }}
            data-widget-type="{{ . }}"
            {{/ widgetType }}
            {{^ splitButton }}
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            {{/ splitButton }}>
            {{> charcoal/admin/widget/actions/label }}
            {{^ splitButton }}
            <span class="caret" aria-hidden="true"></span>
            {{/ splitButton }}
        </button>
    {{/ isButton }}
    {{^ isButton }}
    <a class="{{ cssClasses }}{{^ splitButton }} dropdown-toggle{{/ splitButton }}"
       href="{{ url }}"
       {{# target }}
       target="{{ . }}"
       {{/ target }}
       {{# widgetType }}
       data-widget-type="{{ . }}"
       {{/ widgetType }}
       {{^ splitButton }}
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false"
       {{/ splitButton }}>
        {{> charcoal/admin/widget/actions/label }}
        {{^ splitButton }}
        <span class="caret" aria-hidden="true"></span>
        {{/ splitButton }}
    </a>
    {{/ isButton }}
    {{# splitButton }}
    <button class="btn{{# actionType }} btn-{{ . }}{{/ actionType }} dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">{{# _t }}Toggle Dropdown{{/ _t }}</span>
    </button>
    {{/ splitButton }}
    <ul class="dropdown-menu">
    {{# actions }}
        {{> charcoal/admin/widget/actions/dropdown-menu }}
    {{/ actions }}
    </ul>
</div>
