{{!--
    Admin \ UI \ Dropdown Menu
    ==========================

    @used-by `charcoal/admin/widget/actions/dropdown`
--}}
{{# active }}
{{# isSeparator }}
<div class="divider"></div>
{{/ isSeparator }}
{{^ isSeparator }}
    {{# isHeader }}
    <h3 class="dropdown-header">{{& label }}</h3>
    {{/ isHeader }}
    {{# hasActions }}
    <div class="dropdown-submenu dropdown-item">
        {{> charcoal/admin/widget/actions/dropdown-submenu }}
    </div>
    {{/ hasActions }}
    {{^ hasActions }}
    {{! <li class="dropdown-item"> }}
        {{# isButton }}
        <button class="dropdown-item btn{{# ident }} {{ jsActionPrefix }}-{{ . }}{{/ ident }}"
                type="{{ buttonType }}"
                {{# name }}
                name="{{ . }}"
                {{/ name }}
                {{# value }}
                value="{{ . }}"
                {{/ value }}
                {{# widgetType }}
                data-widget-type="{{ . }}"
                {{/ widgetType }}
                {{# dataAttributes }}
                data-{{ key }}="{{ value }}"
                {{/ dataAttributes }}
                >{{> charcoal/admin/widget/actions/label }}</button>
        {{/ isButton }}
        {{# isLink }}
        <a{{# ident }} class="dropdown-item {{ jsActionPrefix }}-{{ . }}"{{/ ident }}
           href="{{ url }}"
           {{# target }}
           target="{{ . }}"
           {{/ target }}
           {{# widgetType }}
           data-widget-type="{{ . }}"
           {{/ widgetType }}
           {{# dataAttributes }}
           data-{{ key }}="{{ value }}"
           {{/ dataAttributes }}
           >{{> charcoal/admin/widget/actions/label }}</a>
        {{/ isLink }}
        {{# isText }}
        <div class="dropdown-item">
        {{> charcoal/admin/widget/actions/label }}
        </div>
        {{/ isText }}
    {{! </li> }}
    {{/ hasActions }}
{{/ isSeparator }}
{{/ active }}
