{{!--
    Table Widget \ Action Label
    ===========================
--}}
{{> charcoal/admin/widget/inc.icon }}
{{# isSubmittable }}<span class="glyphicon glyphicon-refresh u-spin hidden"></span>{{/ isSubmittable }}
{{# showLabel }}<span class="btn-label">{{& label }}</span>{{/ showLabel }}
{{^ showLabel }}<span class="sr-only">{{& label }}</span>{{/ showLabel }}
