// ==========================================================================
// Base
// ==========================================================================

html {
    @media (max-width: $to-small) {
        font-size: 12px;
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        font-size: 13px;
    }

	@media (min-width: $from-medium) and (max-width: $to-huge) {
		font-size: 14px;
	}

	@media (min-width: $from-huge) {
		font-size: $font-size;
	}
}

body {
    font-family: $font-family;
    font-size: 1rem;
	padding-top: rem($unit);

    &.has-nav-main {
        @media (max-width: $to-small) {
            padding-left: 45px;
        }

        @media (min-width: $from-small) {
            padding-left: rem($unit * 2);
        }
    }
}

::selection {
    background-color: $blue;
    text-shadow: none;
}

th {
    font-weight: $weight-normal;
}

td {
    font-size: rem(14px);
}
