// ==========================================================================
// Base
// ==========================================================================

html {
    @media (max-width: $to-small) {
        font-size: $font-size - 2px;
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        font-size: $font-size - 4px;
    }

    @media (min-width: $from-medium) and (max-width: $to-huge) {
        font-size: $font-size - 2px;
    }

    @media (min-width: $from-huge) {
        font-size: $font-size;
    }
}

body {
    font-family: $font-family;
    font-size: 1rem;
}

::selection {
    background-color: $blue;
    color: $white;
    text-shadow: none;
}

th {
    font-size: 14px;
    font-weight: $weight-bold;
}

td {
    font-size: 12px;
}
