// ==========================================================================
// Base
// ==========================================================================

html {
	@media (max-width: $to-huge) {
		font-size: 14px;
	}

	@media (min-width: $from-huge) {
		font-size: $font-size;
	}
}

body {
    font-family: $font-family;
    font-size: 1rem;
	padding-top: rem($unit);

    &.has-nav-main {
        padding-left: rem($unit * 2);
    }
}

::selection {
    background-color: $blue;
    text-shadow: none;
}

th {
    font-weight: $weight-normal;
}

td {
    font-size: rem(14px);
}
