// ==========================================================================
// Base
// ==========================================================================

html {
    @media (max-width: $to-small) {
        font-size: 12px;
    }

    @media (min-width: $from-small) and (max-width: $to-large) {
        font-size: 13px;
    }

    @media (min-width: $from-large) and (max-width: $to-huge) {
        font-size: 12px;
    }

    @media (min-width: $from-huge) {
        font-size: $font-size;
    }
}

body {
    font-family: $font-family;
    font-size: 1rem;
    // padding-top: rem($unit);

    // &.has-nav-main {
    //     @media (min-width: $from-large) {
    //         padding-left: rem($unit * 2);
    //     }
    // }
}

::selection {
    background-color: $blue;
    color: $white;
    text-shadow: none;
}

th {
    font-weight: $weight-bold;
}

td {
    font-size: rem(14px);
}
