{{!--

Page Not Found Template
=======================

--}}

<div class="content o-container">
    <h1>{{# _t }}Page Not Found{{/ _t }}</h1>
    <p>{{# _t }}The page you are looking for could not be found.{{/ _t }}</p>
    <p>{{# _t }}Check the address bar to ensure your URL is spelled correctly. If all else fails, you can visit our home page at the link below.{{/ _t }}</p>
    <br />
    <p><a href="{{ adminUrl }}">{{# _t }}View Charcoal home page{{/ _t }}</a></p>
    {{# baseUrl}}
        <p><a href="{{ . }}">{{# _t }}Visit website{{/_t}}</a></p>
    {{/baseUrl}}
</div>
