{{!--

Error Handler Template
======================

This template expects a `Charcoal\Admin\Template\HandlerTemplate` model as context.

--}}{{ purgeAssets }}
{{> charcoal/admin/template/inc.header }}

<main class="c-page-container o-flex_main">
    <div class="c-page-header o-header"></div>
    <section class="o-container -bottom">
        <div class="o-section">
            <div class="o-header">
                <div>
                    {{> $handlerMessage }}
                </div>
            </div>
        </div>
    </section>
</main>

{{> charcoal/admin/template/inc.footer }}
