// ==========================================================================
// Trumps
// ==========================================================================

// Backgrounds
// ==========================================================================
.u-background-blue {
    background-color: $charcoal-blue;
}

.u-background-darkblue {
    background-color: $charcoal-darkblue;
}

.u-background-lightblue {
    background-color: $charcoal-lightblue;
}
