// ==========================================================================
// Trumps
// ==========================================================================

// Backgrounds
// ==========================================================================
.u-background-blue {
    background-color: $charcoal-blue;
}

.u-background-darkblue {
    background-color: $charcoal-darkblue;
}

.u-background-lightblue {
    background-color: $charcoal-lightblue;
}

// Forms
// ==========================================================================

.u-resize-vertical {
    resize: vertical;
}

// Decorative
// ==========================================================================

.u-truncate {
    @include u-truncate;
}

.u-spin {
    animation: spin 1.5s infinite linear;

    &.glyphicon-refresh {
            transform-origin: 50% 42%;
    }
}

@keyframes spin {
    from { transform: rotate(0deg);   }
    to   { transform: rotate(360deg); }
}
