// ==========================================================================
// Trumps
// ==========================================================================

// Backgrounds
// ==========================================================================

.u-background-blue {
    background-color: $charcoal-blue;
}

.u-background-darkblue {
    background-color: $charcoal-darkblue;
}

.u-background-lightblue {
    background-color: $charcoal-lightblue;
}

// Forms
// ==========================================================================

.u-resize-vertical {
    resize: vertical;
}

// Decorative
// ==========================================================================

.u-truncate {
    @include u-truncate;
}

.u-truncated {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.u-truncated > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

img.u-transparent {
    border: 1px solid #DDD;
    background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkwA4k0YUZh4hCDIcD3f0cm2cGu0IAl7sFiL+f5rUAAAAASUVORK5CYII=);
    background-repeat: repeat;
}

img.u-contrast-dark {
    border-color:     #333;
    background-color: #666;
}

.u-spin {
    animation: spin 1.5s infinite linear;

    &.glyphicon-refresh {
            transform-origin: 50% 42%;
    }
}

@keyframes spin {
    from { transform: rotate(0deg);   }
    to   { transform: rotate(360deg); }
}
