{{> charcoal/admin/widget/form-group/structure/header-hidden }}
<div class="c-structure-property_entries">
    {{> charcoal/admin/widget/form-group/structure/entries }}
</div>
{{^ showNotesAbove }}
    {{> charcoal/admin/template/inc.notes }}
{{/ showNotesAbove }}