{{!--
    Hidden Fallback Control
    =======================

    @used-by
        - `charcoal/admin/property/control/select`
        - `charcoal/admin/property/input/checkbox`
        - `charcoal/admin/property/input/checkbox-color`
        - `charcoal/admin/property/input/dual-select`
--}}
<input type="hidden" name="{{ inputNameFallback }}" value="">
