{{!--
    Input Control
    =============

    @used-by
        - `charcoal/admin/property/input/text`
        - `charcoal/admin/property/input/phone`
        - `charcoal/admin/property/input/url`
--}}
<input
    type="{{ type }}"
    id="{{ inputId }}"
    name="{{ inputName }}"
    class="form-control {{ inputClass }}"
    {{# inputMode }}inputmode="{{ . }}"{{/ inputMode }}
    {{# size }}size="{{ . }}"{{/ size }}
    {{# min }}min="{{ . }}"{{/ min }}
    {{# max }}max="{{ . }}"{{/ max }}
    {{# step }}step="{{ . }}"{{/ step }}
    {{# minLength }}minlength="{{ . }}"{{/ minLength }}
    {{# maxLength }}maxlength="{{ . }}"{{/ maxLength }}
    {{# pattern }}pattern="{{ . }}"{{/ pattern }}
    {{# placeholder }}placeholder="{{ . }}"{{/ placeholder }}
    {{# readOnly }}readonly{{/ readOnly }}
    {{# required }}required{{/ required }}
    {{# disabled }}disabled{{/ disabled }}
    value="{{ inputVal }}"
>
