{{!--
    Input Control
    =============

    @used-by
        - `charcoal/admin/property/input/text`
        - `charcoal/admin/property/input/email`
        - `charcoal/admin/property/input/phone`
        - `charcoal/admin/property/input/url`
--}}
<input
    type="{{ type }}"
    id="{{ inputId }}"
    name="{{ inputName }}"
    class="form-control{{# inputClass }}{{ . }}{{/ inputClass }}"
    {{# inputMode }}inputmode="{{ . }}"{{/ inputMode }}
    {{# size }}size="{{ . }}"{{/ size }}
    {{# hasMin }}min="{{ min }}"{{/ hasMin }}
    {{# hasMax }}max="{{ max }}"{{/ hasMax }}
    {{# hasStep }}step="{{ step }}"{{/ hasStep }}
    {{# minLength }}minlength="{{ . }}"{{/ minLength }}
    {{# maxLength }}maxlength="{{ . }}"{{/ maxLength }}
    {{# pattern }}pattern="{{ . }}"{{/ pattern }}
    {{# placeholder }}placeholder="{{ . }}"{{/ placeholder }}
    {{# readOnly }}readonly{{/ readOnly }}
    {{# required }}required{{/ required }}
    {{# disabled }}disabled{{/ disabled }}
    value="{{ inputVal }}"
>
