{{!--
Object Collection Template
==========================

`charcoal/admin/template/objet/edit`

Display the object's "collection" dashboard.

This template expects a `Charcoal\Admin\Template\Object\Collection` model as context.

--}}
{{>charcoal/admin/template/inc.header}}

{{!--
Hack: Create the object's table if necessary
--}}
{{createObjTable}}

<div class="o-flex">

    {{#sidemenu}}
        {{>charcoal/admin/widget/sidemenu}}
    {{/sidemenu}}

    {{>charcoal/admin/widget/feedbacks}}

    {{!-- Object edit section --}}
    <div class="o-flex_main">
        <section class="o-container">
            <header class="o-header">
                <h1>{{title}}</h1>

                {{#searchWidget}}
                    {{>charcoal/admin/widget/search}}
                {{/searchWidget}}

            </header>
            {{#dashboard}}
                {{>charcoal/admin/widget/dashboard}}
            {{/dashboard}}

        </section>
    </div>
</div>

{{>charcoal/admin/template/inc.footer}}
