{{!--
Object Edit Template
====================

`charcoal/admin/template/objet/edit`

Display the object's "edit" dashboard.

This template expects a `Charcoal\Admin\Template\Object\Edit` model as context.

--}}
{{>charcoal/admin/template/inc.header}}

<div class="container">

	{{>charcoal/admin/widget/feedbacks}}

	<section class="section object-edit">

	    <h2>{{title}}</h2>
	    <h3>{{subtitle}}</h3>

	    {{!-- Display the object's "edit" dashboard --}}
	    {{#dashboard}}
	        {{>charcoal/admin/widget/dashboard}}
	    {{/dashboard}}
	    
	</section>

</div>

{{>charcoal/admin/template/inc.footer}}
