{{!--

    Object Edit Template \ Header
    =============================

--}}
<header class="o-container_header">
    {{# title }}<h1>{{& . }}</h1>{{/ title }}
    {{# subtitle }}<h2>{{& . }}</h2>{{/ subtitle }}
</header>