{{!--

    Object Collection Template \ Header
    ===================================

--}}
<header class="o-header">
    <h1>{{ title }}</h1>
    {{# searchWidget }}
        {{> charcoal/admin/widget/search }}
    {{/ searchWidget }}
</header>