{{!--
    Table Widget \ Action Label
    ===========================
--}}
{{> charcoal/admin/widget/inc.icon }}
{{# showLabel }}<span class="btn-label">{{& label }}</span>{{/ showLabel }}
{{^ showLabel }}<span class="sr-only">{{& label }}</span>{{/ showLabel }}
