{{!--
    Audio Property Input \ File \ Preview
    =====================================

    `charcoal/admin/property/input/audio`
--}}
<audio controls src="{{ previewVal }}" class="js-file-audio">{{# _t }}Your browser does not support the <code>audio</code> element.{{/ _t }}</audio>