<tr class="js-table-row">
    <td class="text-center">{{ revNum }}</td>
    <td>{{ revTsDisplay }}</td>
    <td>{{ revUserDisplay }}</td>
    <td>{{& changedProperties }}{{# droppedProperties }}<br><strong>{{# _t }}Deprecated{{/ _t }}</strong>: {{& . }}{{/ droppedProperties }}</td>
    <td>
        {{# allowRevert }}
            <button class="js-obj-revert btn btn-secondary" data-rev-num="{{ revNum }}" type="button">
                <span aria-hidden="true">{{# _t }}Restore{{/ _t }}</span>
                <span class="sr-only">{{# _t }}Restore This Revision{{/ _t }}</span>
            </button>
        {{/ allowRevert }}
    </td>
</tr>