{{!--
`charcoal/admin/template/system/users`
--}}
{{# addCss }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
{{/ addCss }}
{{> charcoal/admin/template/inc.header }}

<main class="c-page-container o-flex_main">
    <header class="c-page-header o-header">
        <div class="o-container">
            {{# title }}<h1 class="c-page-header_title">{{& . }}</h1>{{/ title }}
            {{# subtitle }}<h2>{{&.}}</h2>{{/ subtitle }}
        </div>
    </header>

    <section class="o-container -top -bottom">
        {{> charcoal/admin/widget/feedbacks }}
        <div class="dashboard">
            <dl class="mb-4">
                <dt>{{# _t }}Active?{{/ _t }}</dt>
                <dd>{{# cacheInfo.active }}Yes{{/ cacheInfo.active }}{{^ cacheInfo.active }}No{{/ cacheInfo.active }}</dd>
                <dt>{{# _t }}Cache type{{/ _t }}</dt>
                <dd>{{ cacheInfo.type }}</dd>
            </dl>
            <div class="row mb-4">
                <div class="col-12">
                    <section class="card">
                        <header class="card-header">
                            <h3 class="card-title mb-0">{{# _t }}Global cache{{/ _t }}</h3>
                        </header>
                        <div class="card-body">
                            <p>{{# _t }}Clearing this cache will clear *all* entries in the cache. In other words, it completely erase all items in the cache (pages, objects and everything else).{{/ _t }}</p>
                            <p><small>Note that if the <a href="{{adminUrl}}system/static-website">static website</a> option is enabled, clearing the cache might not result in new versions of the page, as the static website, when properly configured, supercedes all cache.</small></p>
                            <dl>
                                <dt>{{# _t }}Num entries{{/ _t }}</dt>
                                <dd>{{ cacheInfo.global.num_entries }}</dd>
                                <dt>{{# _t }}Total size{{/ _t }}</dt>
                                <dd>{{ cacheInfo.global.total_size }}
                                <dd></dd>
                            </dl>
                            <p>
                                <button class="btn btn-primary btn-lg" data-purge="cache" data-cache-type="global">
                                    <i class="fa fa-refresh" aria-hidden="true">&nbsp;</i>
                                    <span class="btn-label">{{# _t }}Clear global cache{{/ _t }}</span>
                                </button>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                    <section class="card">
                        <header class="card-header">
                            <h3 class="card-title mb-0">{{# _t }}Pages cache{{/ _t }}</h3>
                        </header>
                        <div class="card-body">
                            <p>{{# _t }}Some pages might be saved entirely in the cache, either at route-level or template-level. Clearing this cache will make sure the pages will be rebuilt at next request.{{/ _t }}</p>
                            <dl>
                                <dt>{{# _t }}Num entries{{/ _t }}</dt>
                                <dd>{{ cacheInfo.pages.num_entries }}</dd>
                                <dt>{{# _t }}Total size{{/ _t }}</dt>
                                <dd>{{ cacheInfo.pages.total_size }}
                                <dd></dd>
                            </dl>
                            <p>
                                <button class="btn btn-primary" data-purge="cache" data-cache-type="pages">
                                    <span class="btn-label">{{# _t }}Clear pages cache{{/ _t }}</span>
                                </button>
                            </p>
                        </div>
                    </section>
                </div>

                <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                    <section class="card">
                        <header class="card-header">
                            <h3 class="card-title mb-0">{{# _t }}Objects cache{{/ _t }}</h3>
                        </header>
                        <div class="card-body">
                            <p>{{# _t }}This cache includes the objects and their metadata. Clearing this cache will reset all metadata from their JSON files and objects will be reloaded from their source (database) at next request.{{/ _t }}</p>
                            <dl>
                                <dt>{{# _t }}Num entries{{/ _t }}</dt>
                                <dd>{{ cacheInfo.objects.num_entries }}</dd>
                                <dt>{{# _t }}Total size{{/ _t }}</dt>
                                <dd>{{ cacheInfo.objects.total_size }}
                                <dd></dd>
                            </dl>
                            <p>
                                <button class="btn btn-primary" data-purge="cache" data-cache-type="objects">
                                    <span class="btn-label">{{# _t }}Clear objects cache{{/ _t }}</span>
                                </button>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <section class="card">
                        <header class="card-header">
                            <h3 class="card-title mb-0">{{# _t }}Cache entries{{/ _t }}</h3>
                        </header>
                        {{# cacheInfo.has_global_items }}
                            <table class="table" data-toggle="table">
                                <thead>
                                    <tr>
                                        <th scope="col" data-sortable="true">{{# _t }}Key{{/ _t }}</th>
                                        <th scope="col" data-sortable="true">{{# _t }}Hits{{/ _t }}</th>
                                        <th scope="col" data-sortable="true">{{# _t }}Size{{/ _t }}</th>
                                        <th scope="col" data-sortable="true">{{# _t }}Created{{/ _t }}</th>
                                        <th scope="col" data-sortable="true">{{# _t }}Timeout{{/ _t }}</th>
                                        <th scope="col" data-sortable="true">{{# _t }}Expiry{{/ _t }}</th>
                                        <th scope="col">{{# _t }}Action{{/ _t }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{# cacheInfo.global_items }}
                                        <tr>
                                            <td><strong>{{ ident }}</strong></td>
                                            <td>{{ num_hits }}</td>
                                            <td><span data-value="{{ mem_size }}">{{ size }}</span></td>
                                            <td>{{ created }}</td>
                                            <td>{{ ttl }}</td>
                                            <td>{{ expiry }}</td>
                                            <td><!--<a class="btn btn-danger">Delete</a>--></td>
                                        </tr>
                                    {{/ cacheInfo.global_items }}
                                </tbody>
                            </table>
                        {{/ cacheInfo.has_global_items }}
                        {{^ cacheInfo.has_global_items }}
                            <div class="card-body text-center">{{# _t }}No records found{{/ _t }}</div>
                        {{/ cacheInfo.has_global_items }}
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>

{{# addJs }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
{{/ addJs }}
{{> charcoal/admin/template/inc.footer }}
