{{!--
`charcoal/admin/template/system/users`
--}}
{{#addCss}}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
{{/addCss}}
{{>charcoal/admin/template/inc.header}}

<div class="o-flex">
    {{#showSidemenu}}
        {{#sidemenu}}
            {{>charcoal/admin/widget/sidemenu}}
        {{/sidemenu}}
    {{/showSidemenu}}

    {{!-- Object list section --}}
    <div class="o-flex_main">
        <div class="o-container -top -bottom clearfix">
            <header class="o-container_header">
                {{# title }}<h2>{{&.}}</h2>{{/ title }}
                {{# subtitle }}<h3>{{&.}}</h3>{{/ subtitle }}
            </header>

            {{>charcoal/admin/widget/feedbacks}}

            <div class="dashboard">

                <div class="row">
                    <div class="col-md-12">
                        <dl>
                            <dt>{{#_t}}Active?{{/_t}}</dt>
                            <dd>{{#cacheInfo.active}}Yes{{/cacheInfo.active}}{{^cacheInfo.active}}No{{/cacheInfo.active}}</dd>
                            <dt>{{#_t}}Cache type{{/_t}}</dt>
                            <dd>{{cacheInfo.type}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel panel-default">
                            <header class="panel-heading">
                                <h3 class="panel-title">{{#_t}}Global cache{{/_t}}</h3>
                            </header>
                            <div class="panel-body">
                                <p>{{#_t}}Clearing this cache will clear *all* entries in the cache. In other words, it completely erase all items in the cache (pages, objects and everything else).{{/_t}}</p>
                                <p><small>Note that if the <a href="{{adminUrl}}system/static-website">static website</a> option is enabled, clearing the cache might not result in new versions of the page, as the static website, when properly configured, supercedes all cache.</small></p>
                                <p>
                                    <dl>
                                        <dt>{{#_t}}Num entries{{/_t}}</dt>
                                        <dd>{{cacheInfo.global.num_entries}}</dd>
                                        <dt>{{#_t}}Total size{{/_t}}</dt>
                                        <dd>{{cacheInfo.global.total_size}}
                                        <dd></dd>
                                    </dl>
                                </p>
                                <p>
                                    <button class="btn btn-info btn-lg" data-purge="cache" data-cache-type="global">
                                        <i class="fa fa-refresh" aria-hidden="true">&nbsp;</i>
                                        <span class="btn-label">{{# _t }}Clear global cache{{/ _t }}</span>
                                    </button>
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <section class="panel panel-default">
                            <header class="panel-heading">
                                <h3 class="panel-title">{{#_t}}Pages cache{{/_t}}</h3>
                            </header>
                            <div class="panel-body">
                                <p>{{#_t}}Some pages might be saved entirely in the cache, either at route-level or template-level. Clearing this cache will make sure the pages will be rebuilt at next request.{{/_t}}</p>
                                <p>
                                    <dl>
                                        <dt>{{#_t}}Num entries{{/_t}}</dt>
                                        <dd>{{cacheInfo.pages.num_entries}}</dd>
                                        <dt>{{#_t}}Total size{{/_t}}</dt>
                                        <dd>{{cacheInfo.pages.total_size}}
                                        <dd></dd>
                                    </dl>
                                </p>
                                <p>
                                    <button class="btn btn-info" data-purge="cache" data-cache-type="pages">
                                        <span class="btn-label">{{# _t }}Clear pages cache{{/ _t }}</span>
                                    </button>
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <section class="panel panel-default">
                            <header class="panel-heading">
                                <h3 class="panel-title">{{#_t}}Objects cache{{/_t}}</h3>
                            </header>
                            <div class="panel-body">
                                <p>{{#_t}}This cache includes the objects and their metadata. Clearing this cache will reset all metadata from their JSON files and objects will be reloaded from their source (database) at next request.{{/_t}}</p>
                                <p>
                                    <dl>
                                        <dt>{{#_t}}Num entries{{/_t}}</dt>
                                        <dd>{{cacheInfo.objects.num_entries}}</dd>
                                        <dt>{{#_t}}Total size{{/_t}}</dt>
                                        <dd>{{cacheInfo.objects.total_size}}
                                        <dd></dd>
                                    </dl>
                                </p>
                                <p>
                                    <button class="btn btn-info" data-purge="cache" data-cache-type="objects">
                                        <span class="btn-label">{{# _t }}Clear objects cache{{/ _t }}</span>
                                    </button>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>

                {{#cacheInfo.global.num_entries}}
                <div class="col-md-12">
                    <section class="panel panel-default">
                        <header class="panel-heading">
                            <h3 class="panel-title">{{#_t}}Cache entries{{/_t}}</h3>
                        </header>
                        <table class="table" data-toggle="table">
                            <thead>
                            <tr>
                                <th scope="col" data-sortable="true">{{#_t}}Key{{/_t}}</th>
                                <th scope="col" data-sortable="true">{{#_t}}Hits{{/_t}}</th>
                                <th scope="col" data-sortable="true">{{#_t}}Size{{/_t}}</th>
                                <th scope="col" data-sortable="true">{{#_t}}Created{{/_t}}</th>
                                <th scope="col" data-sortable="true">{{#_t}}Timeout{{/_t}}</th>
                                <th scope="col" data-sortable="true">{{#_t}}Expiry{{/_t}}</th>
                                <th scope="col">{{#_t}}Action{{/_t}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#cacheInfo.objects_items}}
                                <tr>
                                    <td><strong>{{ident}}</strong></td>
                                    <td>{{num_hits}}</td>
                                    <td><span data-value="{{mem_size}}">{{size}}<span></td>
                                    <td>{{created}}</td>
                                    <td>{{ttl}}</td>
                                    <td>{{expiry}}</td>
                                    <td><!--<a class="btn btn-default">Delete</a>--></td>
                                </tr>
                            {{/cacheInfo.objects_items}}
                        </table>
                    </section>
                </div>
                {{/cacheInfo.global.num_entries}}

            </div>
        </div>
    </div>
</div>

{{#addJs}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
{{/addJs}}
{{>charcoal/admin/template/inc.footer}}
