{{!--
Charcoal Admin Home Template
============================

`charcoal/admin/template/contents`

Display the "home" dashboard.
--}}
{{>charcoal/admin/template/inc.header}}

<div class="o-flex">

    <nav class="c-nav-secondary o-flex_aside">
        <header class="o-header">
            <h1 class="c-nav_heading">Alertes</h1>
        </header>
        <ul class="c-nav_list -light -secondary">
            <li class="c-nav_list_item">
                <div class="c-nav_list_header is-active">
                    <a class="c-nav_list_link" href="#">
                        <span class="c-nav_list_link_main">
                            <span class="c-nav_list_link_text">
                                Zone de publication
                            </span>
                        </span>
                        <span class="c-nav_list_link_number">
                            23
                        </span>
                    </a>
                </div>
            </li>
            <li class="c-nav_list_item">
                <div class="c-nav_list_header">
                    <a class="c-nav_list_link" href="#">
                        <span class="c-nav_list_link_main">
                            <span class="c-nav_list_link_text">
                                Zone de test d’envoie
                            </span>
                        </span>
                        <span class="c-nav_list_link_number is-new">
                            20
                        </span>
                    </a>
                </div>
            </li>
            <li class="c-nav_list_item">
                <div class="c-nav_list_header">
                    <a class="c-nav_list_link" href="#">
                        <span class="c-nav_list_link_main">
                            <span class="c-nav_list_link_text">
                                Zone d’envoie
                            </span>
                        </span>
                        <span class="c-nav_list_link_number">
                            15
                        </span>
                    </a>
                </div>
            </li>
            <li class="c-nav_list_item">
                <div class="c-nav_list_header">
                    <a class="c-nav_list_link" href="#">
                        <span class="c-nav_list_link_main">
                            <span class="c-nav_list_link_text">
                                Gabarits
                            </span>
                        </span>
                        <span class="c-nav_list_link_number">
                            6
                        </span>
                    </a>
                </div>
            </li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-danger">Nouvelle alerte</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </nav>

    <div class="o-flex_main">
        <div class="o-container">

            <header class="o-header -border">
                <h1>Nouvelle alerte</h1>
            </header>

            <div class="row">
                <div class="col-md-6">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>


        </div>
    </div>

    <aside class="c-aside o-flex_aside">

    </aside>

</div>

{{>charcoal/admin/template/inc.footer}}
