
{{!--
Charcoal Admin Home Template
============================

`charcoal/admin/template/envoie`

Display the "home" dashboard.
--}}
{{>charcoal/admin/template/inc.header}}
<div class="o-flex">
    <div class="o-flex_main">
        <div class="o-container">

            <header class="o-header -border">
                <h1 class="media-middle">Zone d’envoie (15) <span class="c-info media-middle" data-toggle="tooltip" data-placement="top" title="Tooltip on top">?</span></h1>
            </header>
            <div class="o-section">
                <h2 class="media-middle">Via Courriel <span class="c-info media-middle" data-toggle="tooltip" data-placement="top" title="Tooltip on top">?</span></h2>
                {{!--
                @TODO Implement a better responsive table solution (Tablesaw?)
                <div class="table-responsive">
                --}}
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Votre courriel</th>
                                <th>Catégorie</th>
                                <th>Cible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Attention innondation dans le secteur de boucherville ouest</strong>
                                </td>
                                <td>Stationnement</td>
                                <td><strong>45 8746</strong> utilisateurs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Visualisé</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">+ liste</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="o-section">
                <h2 class="media-middle">Via SMS<span class="c-info media-middle" data-toggle="tooltip" data-placement="top" title="Tooltip on top">?</span></h2>
                {{!--
                @TODO Implement a better responsive table solution (Tablesaw?)
                <div class="table-responsive">
                --}}
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Votre SMS</th>
                                <th>Catégorie</th>
                                <th>Cible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Attention innondation dans le secteur de boucherville ouest</strong>
                                </td>
                                <td>Stationnement</td>
                                <td><strong>45 8746</strong> utilisateurs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Visualisé</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">+ liste</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="o-section">
                <h2 class="media-middle">Via Message vocal<span class="c-info media-middle" data-toggle="tooltip" data-placement="top" title="Tooltip on top">?</span></h2>
                {{!--
                @TODO Implement a better responsive table solution (Tablesaw?)
                <div class="table-responsive">
                --}}
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Votre message</th>
                                <th>Catégorie</th>
                                <th>Cible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="audio-player-simple">
                                        <button class="audio-player-simple_button js-audio-play">

                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>

                                        </button>

                                        <time class="audio-player-simple_time">00:31</time>
                                    </div>
                                </td>
                                <td>Stationnement</td>
                                <td><strong>45 8746</strong> utilisateurs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Visualisé</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">+ liste</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <aside class="c-aside o-flex_aside">
        <div class="o-container -top -right">
            <div class="c-panel -fixed">
                <header class="c-panel_header">
                    Actions
                </header>

                <div class="c-panel_main">
                    <p>
                        Attention, innondation dans le secteur de boucherville ouest
                    </p>
                    <table class="c-panel_table">
                        <tr class="c-panel_table_row">
                            <th class="c-panel_table_header">Status</th>
                            <td class="c-panel_table_data">Brouillon</td>
                        </tr>
                        <tr class="c-panel_table_row">
                            <th class="c-panel_table_header">Création</th>
                            <td class="c-panel_table_data">20.24.14  16:00</td>
                        </tr>
                        <tr class="c-panel_table_row">
                            <th class="c-panel_table_header">Révision</th>
                            <td class="c-panel_table_data">20.24.14  16:00</td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-lg btn-block">Sauvegarder</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger btn-lg btn-block">Envoyer l'alerte</button>
                    </div>
                </div>

                <footer class="c-panel_footer">
                    <div class="c-panel_footer_item -red">
                        <span>
                            <i class="fa fa-trash-o"></i> Effacer
                        </span>
                    </div>
                    <div class="c-panel_footer_item -blue">
                        <span>
                            <i class="fa fa-refresh"></i> Réinitialiser
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </aside>
</div>

{{#add_js}}
<script>
    $(document).ready(function() {
         $('[data-toggle="tooltip"]').tooltip();


         //to be destroyed
         $(".js-audio-play").on('click', function(event) {
             event.preventDefault();
            $(this).toggleClass('paused');
         });

    });
</script>
{{/add_js}}


{{>charcoal/admin/template/inc.footer}}
