{{!--
Error Handler Template
======================

This template expects a `Charcoal\Admin\Template\HandlerTemplate` model as context.
--}}
{{>charcoal/admin/template/inc.header}}

<section class="section error jumbotron">
    <div class="content o-container">
        {{& errorMessage }}
    </div>
</section>

{{>charcoal/admin/template/inc.footer}}
