{{!--
Help template
=============
--}}
{{>charcoal/admin/template/inc.header}}

{{>charcoal/admin/widget/feedbacks}}


<section class="section help">
	<h2>{{title}}</h2>
    <h3>{{subtitle}}</h3>

    <div class="content">
    	<h1>Besoin d'aide?</h1>

        <div>
            Pour toutes questions à propos de l'utilisation de ce service, n'hésitez pas à communiquer avec <a href="mailto:charcoal@locomotive.ca">charcoal@locomotive.ca</a>.
        </div>
        <br />
        <div>
            Charcoal est opéré par Locomotive, une agence Web de Montréal.
        </div>
    </div>
</section>

{{>charcoal/admin/template/inc.footer}}
