{{!--
Help template
=============
--}}
{{>charcoal/admin/template/inc.header}}

{{>charcoal/admin/widget/feedbacks}}


<section class="section help jumbotron">
    <h2>{{title}}</h2>
    <h3>{{subtitle}}</h3>

    <div class="content o-container">
        <h1>Besoin d'aide?</h1>

        <div>
            Pour toutes questions à propos de l'utilisation de ce service, n'hésitez pas à communiquer avec <a href="mailto:charcoal@locomotive.ca">charcoal@locomotive.ca</a>.
        </div>
        <br />
        <div>
            Charcoal est opéré par <a href="http://locomotive.ca">Locomotive</a>, une agence Web de Montréal.
        </div>

        <div>
            Memo, le système d'alerte, est propulsé par <em>Charcoal</em>.
        </div>

        <div style="margin-top:3em;">&copy; 2015 Locomotive</div>
    </div>
</section>

{{>charcoal/admin/template/inc.footer}}
