{{!--
Charcoal Admin Home Template
============================

`charcoal/admin/template/home`

Display the "home" dashboard.
--}}
{{>charcoal/admin/template/inc.header}}

<nav class="c-nav-secondary">
    <header class="c-nav_header">
        <h1>Alertes</h1>
    </header>
    <ul class="c-nav_list -light -secondary">
        <li class="c-nav_list_item">
            <a class="c-nav_list_header is-active" href="#">
                <span>Zone de publication</span>
            </a>
        </li>
        <li class="c-nav_list_item">
            <a class="c-nav_list_header" href="#">
                <span>Zone de test d’envoie</span>
            </a>
        </li>
        <li class="c-nav_list_item">
            <a class="c-nav_list_header" href="#">
                <span>Zone d’envoie</span>
            </a>
        </li>
        <li class="c-nav_list_item">
            <a class="c-nav_list_header" href="#">
                <span>Gabarits</span>
            </a>
        </li>
    </ul>
</nav>

{{>charcoal/admin/template/inc.footer}}
