{{!--
Header include
==============

`charcoal/admin/template/inc.header`

Open the HTML document and include meta tags and required external resources.

Based on the HTML5 boilerplate.

--}}
<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="theme-color" content="#1a252d">

    <title>{{page_title}}</title>

    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
    <link rel="icon" href="assets/images/favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{{url}}assets/admin/styles/charcoal.admin.vendors.css" rel="stylesheet" type="text/css">
    <link href="{{url}}assets/admin/styles/charcoal.admin.css" rel="stylesheet" type="text/css">
</head>
<body {{#show_header_menu}}class="has-nav-main"{{/show_header_menu}}>


    {{>charcoal/admin/widget/menu.header}}

    <main>
