{{!--

    Admin Site Icons
    ================

--}}
<link rel="apple-touch-icon-precomposed" href="{{baseUrl}}assets/admin/images/charcoal-96x96.png" sizes="96x96">
<link rel="icon" href="{{baseUrl}}assets/admin/images/favicon.ico">