    </div> {{! Closing .o-flex }}

    <div class="c-notifications"></div>

    {{> charcoal/admin/widget/menu.footer }}

    {{> charcoal/admin/template/inc.foot.extra }}

    <!-- Styles from widgets & templates -->
    {{& cssRequirements }}
    <style>{{& assets.output.css }}</style>
    {{& css }}

    {{# addJsRequirement }}
        <script rel="l10n">
            {{> charcoal/admin/l10n/common.js }}
            {{> charcoal/admin/l10n/cache.js }}
        </script>
    {{/ addJsRequirement }}

    <script rel="l10n">
        {{> charcoal/admin/l10n/bootstrap-dialog.js }}
    </script>

    <script src="{{ baseUrl }}assets/admin/scripts/charcoal.admin.vendors.js"></script>

    {{& jsRequirements }}

    <script src="{{ baseUrl }}assets/admin/scripts/charcoal.admin.js"></script>

    <script>
        Charcoal.Admin.set_data({{& adminDataForJsAsJson }});

        $(document)
            .ready(function() {
                var $html = $(document.documentElement);
                $html.removeClass('has-no-js').addClass('has-js');

                // Initialize tooltips globally
                $('[data-toggle="tooltip"]').tooltip();
            })
            .on('click.charcoal.filemanager', '.js-toggle-filemanager', function (event) {
                event.preventDefault();

                BootstrapDialog.show({
                    title:    '{{# _t }}File Manager{{/ _t }}',
                    size:     BootstrapDialog.SIZE_WIDE,
                    cssClass: '-elfinder',
                    message: $(
                        '<iframe width="100%" height="400px" frameborder="0" ' +
                        'src="' + Charcoal.Admin.admin_url() + 'elfinder"></iframe>'
                    )
                });
            });
    </script>
    <!--Modules from widgets & templates-->
    <script type="module">{{& assets.output.module }}</script>

    <!--Scripts from widgets & templates-->
    <script>{{& assets.output.js }}</script>

    {{& js }}

</body>
</html>
