{{!--

    Page Header
    ===========

    Usually displayed above a dashboard.
    Used by most templates.

--}}
<header class="c-page-header o-header">
    <div class="o-container">
        {{> charcoal/admin/template/inc.page-header-inner }}
    </div>
</header>