    </main>

    {{#showFooterMenu}}
        {{>charcoal/admin/widget/menu.footer}}
    {{/showFooterMenu}}

    {{!-- Styles from widgets & templates --}}
    {{&cssRequirements}}
    {{&css}}

    {{# addJsRequirement }}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {{/ addJsRequirement }}

    {{& jsRequirements }}

    <script src="{{baseUrl}}assets/admin/scripts/charcoal.admin.vendors.js"></script>
    <script src="{{baseUrl}}assets/admin/scripts/charcoal.admin.js"></script>
    <script>
        Charcoal.Admin.set_data({
            'base_url'   : '{{baseUrl}}',
            'admin_path' : 'admin'
        });


        $(document).ready(function() {
            // Initialize tooltips globally
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Initialize bootstrap-select globally
        $('.selectpicker').selectpicker({});
    </script>

    {{!-- Scripts from widgets & templates --}}
    {{&js}}

</body>
</html>
