{{!--
Login template
==============

`charcoal/admin/template/login`

Display the login form / feedback

This template expects a `Charcoal\Admin\Template\Login` model as context.

--}}
{{>charcoal/admin/template/inc.header}}

{{!-- Login form --}}
<div class="container">

	{{>charcoal/admin/widget/feedbacks}}

	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Sign in to Charcoal</strong>
		</div>
		<div class="panel-body">
			<form method="post" action="{{url_login_action}}">
				<input type="hidden" name="csrf_token" value="{{csrf_token}}">

				<label for="username" class="sr-only">{{#_t}}Username{{/_t}}</label>
				<br/>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
					<input type="text" name="username" class="form-control" id="username" placeholder="{{#_t}}Username{{/_t}}" required autofocus>
				</div>

				<label for="password" class="sr-only">{{#_t}}Password{{/_t}}</label>
				<br/>
				<div class="input-group">
		            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
					<input type="password" name="password" class="form-control" id="password" placeholder="{{#_t}}Password{{/_t}}" required>
				</div>

				<br/>

				<button name="login" type="submit" class="btn btn-lg btn-primary btn-block"><span class="fa fa-sign-in" aria-hidden="true"></span> {{#_t}}Log in{{/_t}}</button>

			</form>

			<div class="pull-right">
				<a href="{{url_lost_password}}">{{#_t}}Lost your password?{{/_t}}</a>
			</div>
		</div>
	</div>
</div>

{{>charcoal/admin/template/inc.footer}}
