{{!--
Login template
==============

`charcoal/admin/template/login`

Display the login form / feedback

This template expects a `Charcoal\Admin\Template\LoginTemplate` model as context.

--}}
{{>charcoal/admin/template/inc.header}}

<div class="o-background -fixed u-background-lightblue"{{#backgroundImage}} style="background-image: url({{.}});"{{/backgroundImage}}>
    {{#backgroundVideo}}
    <video class="embedded-video horizontal" muted="" preload="auto" autoplay loop>
      <source src="{{.}}" type="video/mp4">
    </video>
    {{/backgroundVideo}}
</div>

{{!-- Login form --}}

<div class="c-login">
    <div class="c-login_panel">
        <div class="c-login_header">
            <div class="c-login_avatar">
                <img class="c-login_avatar_image" src="{{baseUrl}}assets/admin/images/avatar.jpg">
            </div>
        </div>
        <form method="post" action="{{urlLoginAction}}">
            <input type="hidden" name="csrf_token" value="{{csrfToken}}">

             <div class="form-group">
                <label class="sr-only" for="username">{{#_t}}Username{{/_t}}</label>
                <div class="input-group">
                    <label class="input-group-addon" for="username"><i class="fa fa-user fa-fw"></i></label>
                    <input class="form-control" type="text" name="username" id="username" placeholder="{{#_t}}Username{{/_t}}" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">{{#_t}}Password{{/_t}}</label>
                <div class="input-group">
                    <label class="input-group-addon" for="password"><i class="fa fa-lock fa-fw"></i></label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="{{#_t}}Password{{/_t}}" required>
                </div>
            </div>
            {{#rememberMeEnabled}}
            <div class="form-group">
                <div class="checkbox">
                    <input type="hidden" name="remember-me" value="0">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <label for="remember-me">
                        {{#_t}}Remember Me{{/_t}}
                    </label>
                </div>
            </div>
            {{/rememberMeEnabled}}
            <div class="form-group">
                <button class="btn btn-info btn-lg btn-block js-login-submit" name="login" type="submit">{{#_t}}Log In{{/_t}}</button>

                <small><a href="{{urlLostPassword}}" id="btn-lost-password">{{#_t}}Lost your password?{{/_t}}</a></small>
            </div>
        </form>

        {{>charcoal/admin/widget/feedbacks}}
    </div>
</div>

{{#addJs}}
<script>
var login_template;
$(document).ready(function() {
    login_template = new Charcoal.Admin.Template_Login({

    });
    //Charcoal.Admin.register_template(login_template);
});
</script>
{{/addJs}}

{{>charcoal/admin/template/inc.footer}}
