{{!--
Logout template
===============

--}}
{{>charcoal/admin/template/inc.header}}

<div class="o-background -fixed u-background-lightblue"{{#backgroundImage}} style="background-image: url({{.}});"{{/backgroundImage}}>
    {{#backgroundVideo}}
    <video class="embedded-video horizontal" muted="" preload="auto" autoplay loop>
      <source src="{{.}}" type="video/mp4">
    </video>
    {{/backgroundVideo}}
</div>

<div class="c-login">
    <div class="c-login_panel">
        <div class="c-login_header">
            <div class="c-login_avatar">
                <img class="c-login_avatar_image" src="{{avatarImage}}">
            </div>
        </div>
        <div class="text-center">
            <h2>{{#_t}}auth.logout.title{{/_t}}</h2>
            <p>{{#_t}}You have safely logged out from Charcoal.{{/_t}}</p>

            <a href="{{urlLogin}}" class="btn btn-default">{{#_t}}Log In Again{{/_t}}</a>
        </div>
    </div>
</div>

{{# addJsRequirement }}
<script rel="l10n">
    {{> charcoal/admin/l10n/auth.js }}
</script>
{{/ addJsRequirement }}

{{>charcoal/admin/template/inc.footer}}
