{{!--
Lost Password template
======================

`charcoal/admin/template/lost-password`

--}}
{{>charcoal/admin/template/inc.header}}

<div class="o-background u-background-lightblue"></div>

{{!-- Lost-password form form --}}

{{>charcoal/admin/template/inc.footer}}
