{{!--
Charcoal Admin Media Template
============================

Display the "media" dashboard, which consists of elFinder in quasi-fullscreen.
--}}
{{> charcoal/admin/template/inc.header }}

<main class="c-page-container o-flex_main">
    {{> charcoal/admin/template/inc.page-header }}
    <section class="o-flex">
        <script language="javascript" type="text/javascript">
            function resizeIframe(obj) {
                var ele = document.getElementsByClassName('c-page-header');

                obj.style.height = window.innerHeight - ele[0].clientHeight + 'px';
                obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
            }
        </script>
        {{!-- Object edit section --}}
        <iframe width="100%" height="auto" frameborder="0" src="elfinder" onload="javascript:resizeIframe(this);"></iframe>
    </section>
</main>

{{> charcoal/admin/template/inc.footer }}
