<dl class="mb-4">
    <dt>{{# _t }}Active?{{/ _t }}</dt>
    <dd>{{# active }}Yes{{/ active }}{{^ active }}No{{/ active }}</dd>
    <dt>{{# _t }}Cache Type{{/ _t }}</dt>
    <dd>{{ type }}</dd>
</dl>
