<dl class="mb-4">
    {{# attributes }}
        <dt>{{ label }}</dt>
        <dd>{{ value }}</dd>
    {{/ attributes }}
</dl>
{{# notes }}
<div class="alert alert-warning" role="alert">
    {{& . }}
</div>
{{/ notes }}