<p>{{# _t }}Some pages might be saved entirely in the cache, either at route-level or template-level.{{/ _t }}</p>
<p>{{# _t }}Clearing this cache will make sure the pages will be rebuilt at next request.{{/ _t }}</p>