<p>{{# _t }}Clearing this cache will clear *all* entries in the cache. In other words, it completely erase all items in the cache (pages, objects and everything else).{{/ _t }}</p>
<p class="small">{{# _t }}If the <a href="{{ adminUrl }}system/static-website">static website</a> option is enabled, clearing the cache might not result in new versions of the page, as the static website, when properly configured, supercedes all cache.{{/ _t }}</p>
<p class="small">{{# _t }}The <em>Purge</em> function allows the cache to perform basic maintenance tasks, such as removing stale or expired items and reindexing data for improved performance.{{/ _t }}</p>