{{!--
    Table Widget \ CSS Component
    ============================

    @used-by `charcoal/admin/widget/table`
--}}
{{# addCss }}
<style>
.ui-tablesort-placeholder{
    margin: 12px;
    border: 2px dotted black;
    height: 5em;
}
</style>
{{/ addCss }}

