{{!--
    Table Widget \ Empty State
    ==========================

    @used-by `charcoal/admin/widget/table`
--}}
<aside class="alert alert-danger mb-0" role="alert">
    <div class="alert-body">
        <p>
            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
            <span class="sr-only">{{# _t }}Errors:{{/ _t }}</span>
            <span>&nbsp; {{# _t }}No objects have been created yet for "{{ objType }}".{{/ _t }}</span>
        </p>
        <p class="mb-0">
            <span class="btn-group" role="group">
            {{# emptyListActions }}
                {{# isSeparator }}
                    </span>
                    <span class="btn-group" role="group">
                {{/ isSeparator }}
                {{^ isSeparator }}
                    {{> charcoal/admin/widget/actions }}
                {{/ isSeparator }}
            {{/ emptyListActions }}
            {{^ showEmptyListActions }}
                {{# isObjCreatable }}
                <a class="btn btn-info" href="{{ objectCreateUrl }}">{{# _t }}Add New Object{{/ _t }}</a>
                {{/ isObjCreatable }}
            {{/ showEmptyListActions }}
            </span>
        </p>
    </div>
</aside>
