{{!--
    Table Widget \ Header \ Left-Side
    =================================

    @used-by `charcoal/admin/widget/table/header`
--}}
{{# showListActions }}
<div class="btn-group" role="group">
{{# listActions }}
    {{# isSeparator }}
        </div>
        <div class="btn-group" role="group">
    {{/ isSeparator }}
    {{^ isSeparator }}
        {{> charcoal/admin/widget/actions }}
    {{/ isSeparator }}
{{/ listActions }}
</div>
{{/ showListActions }}
