{{!--
    Table Widget \ Header \ Left-Side
    =================================

    @used-by `charcoal/admin/widget/table/header`
--}}
{{!--
<div class="btn-group">
    <button type="button" class="btn btn-primary">Actions</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        [[#sublistActions]]
            <li><a href="#0" class="sublist-[[ident]]">[[label]]</a></li>
        [[/sublistActions]]
    </ul>
</div>
--}}
{{# listActions }}
    {{# isButton }}
    <button class="btn btn-{{ button_type }} js-list-{{ ident }}" data-widget-type="{{ widgetType }}">{{ label }}</button>
    {{/ isButton }}
    {{^ isButton }}
    <a class="btn btn-{{ button_type }} js-list-{{ ident }}" href="{{ adminUrl }}{{ url }}" data-widget-type="{{ widgetType }}">{{ label }}</a>
    {{/ isButton }}
{{/ listActions }}
