{{!--
    Table Widget \ Header \ Left-Side
    =================================

    @used-by `charcoal/admin/widget/table/header`
--}}
{{!--
<div class="btn-group">
    <button type="button" class="btn btn-primary">Actions</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        [[#sublistActions]]
            <li><a href="#0" class="sublist-[[ident]]">[[label]]</a></li>
        [[/sublistActions]]
    </ul>
</div>
--}}
{{# showListActions }}
<div class="btn-group" role="group">
{{# listActions }}
    {{# isSeparator }}
        </div>
        <div class="btn-group" role="group">
    {{/ isSeparator }}
    {{^ isSeparator }}
        {{> charcoal/admin/widget/actions }}
    {{/ isSeparator }}
{{/ listActions }}
</div>
{{/ showListActions }}
