{{!--
    Table Widget \ Header
    =====================

    @used-by `charcoal/admin/widget/table`
--}}
<div class="table-header clearfix">
    <div class="pull-left">
        {{> charcoal/admin/widget/table/header-left }}
    </div>
    {{!--
    <div class="pull-right">
        [[> charcoal/admin/widget/table/header-right ]]
    </div>
    --}}
</div>
