{{!--
    Table Widget \ Header \ Right-Side
    ==================================

    @used-by `charcoal/admin/widget/table/header`
--}}
{{!--
<strong>Filtres</strong>
<div class="btn-group">
    <button type="button" class="btn btn-info">Les plus récentes alertes</button>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>
--}}
{{#numPerPage}}
    {{#_t}}Page: {{ page }} / {{ numPages }} ({{ numTotal }} in total){{/_t}}
{{/numPerPage}}
{{^numPerPage}}
    {{#_t}}{{ numTotal }} in total{{/_t}}
{{/numPerPage}}
