{{!--
    Table Widget \ JS Component
    ===========================

    @used-by `charcoal/admin/widget/table`
--}}
{{# addJsRequirement }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{{/ addJsRequirement }}

{{# addJsRequirement }}
<script rel="l10n">
    {{> charcoal/admin/l10n/widget.js }}
</script>
{{/ addJsRequirement }}

{{# addJsRequirement }}
<script rel="l10n">
    {{> charcoal/admin/l10n/table.js }}
</script>
{{/ addJsRequirement }}

{{# addJs }}
<script>
Charcoal.Admin.manager().add_widget({
    id: '{{ widgetId }}',
    type: 'charcoal/admin/widget/table',
    widget_type: '{{ type }}',
    data: {
        obj_type: '{{ objType }}',
        template: '{{ template }}',
        collection_ident: '{{ collectionIdent }}',
        {{# hasFilters }}
        filters: {
            {{# filters }}
            {{ ident }} : {
                property: '{{ property }}',
                val: '{{ val }}',
                operator: '{{ operator }}'
            },
            {{/ filters }}
        },
        {{/ hasFilters }}
        {{# hasOrders }}
        orders: {
            {{# orders }}
            {{ ident }} : {
                property: '{{ property }}',
                mode: '{{ mode }}'
            },
            {{/ orders }}
        },
        {{/ hasOrders }}
        pagination: {
            page: {{ page }},
            num_per_page: {{ numPerPage }}
        }
    }
});
</script>
{{/ addJs }}
