{{!--
    Table Widget \ Pagination
    =========================

    @used-by `charcoal/admin/widget/table`
--}}
{{# showPagination }}
<div class="pull-right">
    {{> charcoal/admin/widget/pagination }}
</div>
{{/ showPagination }}
