{{!--
    Table Widget \ Table Body
    =========================

    @used-by `charcoal/admin/widget/table`
--}}
{{# sortable }}
    {{# isFirst }}
        <td>
            <button class="table-sortable-handle js-sortable-handle" type="button">
                <i class="fa fa-sort" aria-hidden="true"></i>
            </button>
        </td>
    {{/ isFirst }}
{{/ sortable }}
