{{!--
    Table Widget \ Table Body \ Row
    ===============================

    @used-by `charcoal/admin/widget/tbody`
--}}
<tr class="js-table-row" data-id="{{ objectId }}" data-type="{{ objType }}">
    {{# objectProperties }}
    {{> charcoal/admin/widget/table/tbody-col }}
    {{/ objectProperties }}
    {{# showObjectActions }}
    {{> charcoal/admin/widget/table/tbody-row-actions }}
    {{/ showObjectActions }}
</tr>
