{{!--
    Table Widget \ Table Body \ Row Actions
    =======================================

    @used-by `charcoal/admin/widget/tbody-row`
--}}
<td class="table-row-actions">
{{# object }}
    {{# showObjectActions }}
    <div class="btn-group" role="group">
    {{# objectActions }}
        {{# isSeparator }}
            </div>
            <div class="btn-group" role="group">
        {{/ isSeparator }}
        {{^ isSeparator }}
            {{> charcoal/admin/widget/actions }}
        {{/ isSeparator }}
    {{/ objectActions }}
    </div>
    {{/ showObjectActions }}
{{/ object }}
</td>
