{{!--
    Table Widget \ Table Body \ Column
    ==================================

    @used-by `charcoal/admin/widget/tbody`
--}}
<td {{& attr }}>{{> charcoal/admin/widget/table/tbody-col/truncated }}{{^ truncate }}{{& val }}{{/ truncate }}</td>
