{{!--
    Table Widget \ Table Body \ Row Selector
    ========================================

    @used-by `charcoal/admin/widget/tbody-row`
--}}
{{!--
<td class="table-cell-checkbox">
    <div class="checkbox">
        <input type="checkbox" class="select-row" id="checkbox_[[ objectId ]]">
        <label><span class="sr-only">[[# _t ]]Select Row[[/ _t ]]</span></label>
    </div>
</td>
--}}
