{{!--
    Table Widget \ Table Body \ Row Actions
    =======================================

    @used-by `charcoal/admin/widget/tbody-row`
--}}
<td class="table-row-actions">
    {{> charcoal/admin/widget/table/object-actions }}
</td>
