{{!--
    Table Widget \ Table Body \ Row Selector
    ========================================

    @used-by `charcoal/admin/widget/tbody-row`
--}}
{{!--
<td class="table-cell-checkbox">
    <div class="checkbox -nolabel">
        <input type="checkbox" class="select-row" id="checkbox[[objectId]]">
        <label for="checkbox[[objectId]]"></label>
    </div>
</td>
--}}
