{{!--
    Table Widget \ Table Header
    ===========================

    @used-by `charcoal/admin/widget/table`
--}}
<thead>
    <tr>
        {{# collectionProperties }}
        {{> charcoal/admin/widget/table/thead-col }}
        {{/ collectionProperties }}
        {{# showObjectActions }}
        <th class="table-row-actions">{{# _t }}Actions{{/ _t }}</th>
        {{/ showObjectActions }}
    </tr>
</thead>
