{{!--
    Table Widget \ Table Header \ Column
    ====================================

    @used-by `charcoal/admin/widget/thead`
--}}
<th{{# classes }} class="{{ . }}"{{/ classes }}>{{& label }}</th>
