<span class="u-vertical-center">
    <svg fill="currentColor" viewBox="0 0 25 25" height=35 role='img'><use xlink:href='{{# withBaseUrl }}{{ spritePathWithHash }}{{/ withBaseUrl }}'></use></svg>
    {{# showSpriteId }}<span class="ml-3">{{ value }}</span>{{/ showSpriteId }}
</span>
