<span class="u-vertical-center">
    <svg fill="currentColor" class="pr-2" viewBox="0 0 25 25" width=45px height=100% role='img'><use xlink:href='{{# withBaseUrl }}{{ spritePathWithHash }}{{/ withBaseUrl }}'></use></svg>
    {{# showSpriteId }}<span>{{ value }}</span>{{/ showSpriteId }}
</span>