<span class="u-vertical-center">
    <svg fill="currentColor" viewBox="0 0 25 25" height=50 role='img'><use xlink:href='{{# withBaseUrl }}{{ spritePathWithHash }}{{/ withBaseUrl }}'></use></svg>
    {{# showSpriteId }}<span>&nbsp;{{ value }}</span>{{/ showSpriteId }}
</span>
