<span class="u-vertical-center">
    <svg width=50 height=50 role='img'><use xlink:href='{{# withBaseUrl }}{{ spritePathWithHash }}{{/ withBaseUrl }}'></use></svg>
    {{# showSpriteId }}<span>&nbsp;{{ value }}</span>{{/ showSpriteId }}
</span>
