{{# objects }}
<div>
    <strong>{{# _t }}Date:{{/ _t }}</strong> {{ dateStr }}<br>
    <strong>{{# _t }}Author:{{/ _t }}</strong> {{ userObject.username }} ({{ userObject.email }})
    <strong>{{# _t }}Object Type:{{/ _t }}</strong> {{ targetType }}<br>
    <strong>{{# _t }}Object ID:{{/ _t }}</strong> {{ targetId }}
    <strong>{{# _t }}№ Properties:{{/ _t }}</strong> {{ numProperties }}
</div>
{{/ objects }}
