{{#objects}}
<div>
    <label>Date</label> {{dateStr}}<br>
    <label>Author</label> {{userObject.username}} ({{userObject.email}})
    <label>Object type</label> {{targetType}}<br>
    <label>Object ID</label> {{targetId}}
    <label>Num. properties</label> {{numProperties}}
</div>
{{/objects}}