{{>charcoal/admin/email/inc.header}}

<h1>{{#_t}}Last minute updates{{/_t}}</h1>
<h2>{{dateString}}</h2>

<h3>{{#_t}}{{ numObjects }} update(s) in the last minute{{/_t}}</h3>

<div>
    {{>charcoal/admin/email/inc.notifications}}
</div>


{{>charcoal/admin/email/inc.footer}}
