{{>charcoal/admin/email/inc.header}}

<p>{{# _t }}The password has been reset for the following Charcoal account:{{/ _t }}</p>
<p>
    {{# _t }}Notification For: &lt;{{ adminUrl }}&gt;{{/ _t }}<br>
    {{# _t }}IP Address: {{ ipAddress }}{{/ _t }}<br>
    {{# _t }}Email: {{ user.email }}{{/ _t }}
</p>

<p>{{# _t }}If you did not request this change, you can <a href="{{ urlLockAccount }}">lock your account</a> to protect your information or contact your administrator: <a href="mailto:{{ adminEmail }}">{{ adminEmail }}</a>{{/ _t }}</p>

{{>charcoal/admin/email/inc.footer}}