{{>charcoal/admin/email/inc.header}}

<h1>Lost password.</h1>

<div>
    <a href="{{urlResetPassword}}">Click here</a> to reset your password.
</div>

<div>
    Your token: {{token}}.<br>
    <small>Valid until {{expiry}}
</div>

{{>charcoal/admin/email/inc.footer}}
