{{>charcoal/admin/email/inc.header}}

<p>{{# _t }}Someone (hopefully you) requested a password reset for the following Charcoal account:{{/ _t }}</p>
<p>
    {{# _t }}Notification For: &lt;{{ adminUrl }}&gt;{{/ _t }}<br>
    {{# _t }}IP Address: {{ ipAddress }}{{/ _t }}<br>
    {{# _t }}Email: {{ user.email }}{{/ _t }}
</p>
<p>{{# _t }}No changes have been made to the account yet.{{/ _t }}</p>
<p>{{# _t }}If this is a mistake, just ignore this email and nothing will happen.{{/ _t }}</p>
<hr />
{{# urlResetPassword }}
<p>{{# _t }}To reset your password, visit the following address:{{/ _t }}</p>
<p>&lt;<a href="{{ . }}">{{ . }}</a>&gt;</p>
{{/ urlResetPassword }}
{{# token }}
<p>{{# _t }}Your Password Reset Token: <code>{{ token }}</code>{{/ _t }}</p>
<p><small>{{# _t }}Your reset token expires at {{ expiry }}.{{/ _t }}</small></p>
{{/ token }}

{{>charcoal/admin/email/inc.footer}}