{{!--
    Dual Select \ JS Component
    ==========================

    @used-by `charcoal/admin/property/input/dual-select`
--}}
{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{ inputId }}',
    type: 'charcoal/admin/property/input/DualSelect',
    data: {
        {{# searchable }}searchable: true, {{/ searchable }}
        dualselect_selector: '#{{ inputId }}',
        dualselect_options:  {{& dualSelectOptionsAsJson }}
    }
});
</script>
{{/ addJs }}
