{{!--
    Dual Select \ Option
    ====================

    @used-by `charcoal/admin/property/input/dual-select`
--}}
<option value="{{ value }}"{{# title }} title="{{ . }}"{{/ title }}>{{& label }}</option>
