{{!--
    Dual Select \ Option
    ====================

    @used-by `charcoal/admin/property/input/dual-select`
--}}
<option value="{{ value }}"{{# title }} title="{{ . }}"{{/ title }}{{# subtext }} data-subtext="{{ . }}"{{/ subtext }}{{# icon }} data-icon="{{ . }}"{{/ icon }}>{{& label }}</option>
