{{!--
    Dual Select \ Reorder Right-Side
    ================================

    @used-by `charcoal/admin/property/input/dual-select`
--}}
<div class="col-xs-6">
    <button type="button" id="{{ inputId }}_move_up" class="btn btn-default btn-block" title="{{# _t }}Move up the selected options from the right side{{/ _t }}"><i class="glyphicon glyphicon-arrow-up"></i></button>
</div>
<div class="col-xs-6">
    <button type="button" id="{{ inputId }}_move_down" class="btn btn-default btn-block" title="{{# _t }}Move down the selected options from the right side{{/ _t }}"><i class="glyphicon glyphicon-arrow-down"></i></button>
</div>
