{{!--
Collection Map Widget
=====================

`charcoal/admin/widget/alert/collection-map`
--}}

<div id="{{ widget_id }}" class="card mt-4">
    <div class="card-body">
        <div id="{{ widget_id }}_map" class="js-map-div" style="height: 50em; width: 100%;"></div>
    </div>
</div>

{{# show_infobox }}
    <div style="display: none;">
        {{# map_objects }}
            <div id="{{ widget_id }}_infowindow_{{ id }}">
                {{> $widget_template }}
            </div>
        {{/ map_objects }}
    </div>
{{/ show_infobox }}

{{# addJs }}
<script>

function load_collection_map() {
    var default_styles = {
        strokeColor: '#000000',
        strokeOpacity: 0.8,
        strokeWeight: 3,
        fillColor: '#ffffff',
        fillOpacity: 0.35,
        hover: {
            strokeColor: '#000000',
            strokeOpacity: 1,
            strokeWeight: 2,
            fillColor: '#ffffff',
            fillOpacity: 0.5
        },
        focused: {
            fillOpacity: 0.8
        }
    };

    var map_options = {
        default_styles: default_styles,
        use_clusterer: true,
        map: {
            center: {
                lat: 45.3752754,
                lng: -73.5884044
            },
            zoom: 13,
            mapType: 'roadmap',
            coordsType: 'inpage', // array, json? (vs ul li)
            map_mode: 'default'
        },
        places: {
        {{#map_objects}}
            {{#mapShowMarker}}
                "marker_{{id}}": {
                    type: 'marker',
                    coords: [{{mapLat}}, {{mapLon}}],
                    {{#show_infobox}}
                    onclick: function(){
                        BootstrapDialog.show({
                            nl2br: false,
                            message: $('#{{widget_id}}_infowindow_{{id}}').html(),
                            buttons: [{
                                label: '{{# _t }}Modify{{/ _t }}',
                                action: function(dialog) {
                                    window.location.href = '{{baseUrl}}/admin/object/edit?{{#main_menu}}main_menu={{.}}&{{/main_menu}}obj_type={{obj_type}}&obj_id={{id}}'
                                }
                            }]
                        });
                    }
                    {{/show_infobox}}
                },
            {{/mapShowMarker}}
            {{#mapShowPolygon}}
                "polygon_{{id}}": {
                    type: 'polygon',
                    paths: {{mapPolygon}},
                    {{#show_infobox}}
                    onclick: function(){
                        BootstrapDialog.show({
                            nl2br: false,
                            message: $('#{{widget_id}}_infowindow_{{id}}').html(),
                            buttons: [{
                                label: '{{# _t }}Modify{{/ _t }}',
                                action: function(dialog) {
                                    window.location.href = '{{baseUrl}}/admin/object/edit?obj_type={{obj_type}}&obj_id={{id}}'
                                }
                            }]
                        });
                    }
                    {{/show_infobox}}
                },
            {{/mapShowPolygon}}
            {{#mapShowPath}}
                "line_{{id}}": {
                    type: 'line',
                    paths: {{mapPath}},
                    {{#show_infobox}}
                    onclick: function(){
                        BootstrapDialog.show({
                            nl2br: false,
                            message: $('#{{widget_id}}_infowindow_{{id}}').html(),
                            buttons: [{
                                label: '{{# _t }}Modify{{/ _t }}',
                                action: function(dialog) {
                                    window.location.href = '{{baseUrl}}/admin/object/edit?{{#main_menu}}main_menu={{.}}&{{/main_menu}}obj_type={{obj_type}}&obj_id={{id}}'
                                }
                            }]
                        });
                    }
                    {{/show_infobox}}
                },
            {{/mapShowPath}}
        {{/map_objects}}
        }
    };

    MapController = new window.BB.gmap.controller(
        document.getElementById('{{ widget_id }}_map'),
        map_options
    );

    MapController.init().ready(function() {
        MapController.fit_bounds();
    });

    return MapController;
}

var map_controller;

Charcoal.Admin.maps.whenMapsApiReady(function () {
    map_controller = load_collection_map();
});
</script>
{{/ addJs }}