{{!--
Dashboard Widget
================

`charcoal/admin/widget/dashboard`

This widget expects a `Charcoal\Admin\Widget\Dashboard` model as context.

--}}
<div class="dashboard{{# ident }} dashboard-{{ . }}{{/ ident }}">

    {{# widgets }}
        {{# dashboard.layout }}
            {{> charcoal/admin/widget/layout.start }}
        {{/ dashboard.layout }}

        <div class="widget{{# ident }} widget-{{ . }}{{/ ident }}{{# dashboard.layout.cellSpanBy12 }} col-md-{{ . }}{{/ dashboard.layout.cellSpanBy12 }}">

            {{# showHeader }}
                <header class="o-header -small">
                    {{# showTitle }}
                        <h3>{{ title }}</h3>
                    {{/ showTitle }}
                    {{!> charcoal/admin/template/inc.description }}
                </header>
            {{/ showHeader }}

            {{# showActions }}
                <div class="widget-actions">
                    {{# actions }}
                        <a href="{{ url }}">{{ label }}</a>
                    {{/ actions }}
                </div>
            {{/ showActions }}

            {{!--
            Include the widget's partial (template).
            Magic (global) variable $widget_template, set by dashboard's controller
            --}}
            {{> $widget_template }}

        </div>

        {{# dashboard.layout }}
           {{> charcoal/admin/widget/layout.end }}
        {{/ dashboard.layout }}

    {{/ widgets }}

</div>
