{{!--
    Object Form Widget
    ==================

    @see charcoal/admin/widget/object-form

    This widget expects to be in a context (model) of type `Charcoal\Admin\Widget\Form`.
--}}
<div id="{{ widgetId }}">
    {{! Using object form classes for style only }}
    <div class="o-flex c-form-widget -object-form{{# isTabbable }} -tabbed{{/ isTabbable }}">
        <div class="o-flex_main c-form-widget_form">
            {{# isTabbable }}
                {{> charcoal/admin/template/form/nav-tabs }}
            {{/ isTabbable }}

            {{# hasGroups }}
                {{> charcoal/admin/template/form/groups }}
            {{/ hasGroups }}
        </div>

        {{# sidebars }}
            {{> $sidebar_widget }}
        {{/ sidebars }}
    </div>
</div>
