{{!--
Feedbacks Widget
================

`charcoal/admin/widget/feedbacks

Loop the available feedbacks (the `feedbacks()` method is available for all admin templates) and display them according to their level.

This widget expects a `Charcoal\Admin\Template` (or children) model as context.

--}}
<div class="feedbacks">
{{#has_feedbacks}}
    {{#feedbacks}}
    <div class="alert alert-{{level}} alert-dismissible" role="alert">
        {{msg}}
    </div>
    {{/feedbacks}}
{{/has_feedbacks}}
</div>
