{{!--
Form Widget
===========

`charcoal/admin/widget/form`

This widget expects to be in a context (model) of type `Charcoal\Admin\Widget\Form`.

--}}
<div class="form charcoal-admin-widget-form">

    <form id="{{widget_id}}" action="{{admin_url}}{{action}}" method="{{method}}" enctype="multipart/form-data">

        {{!-- Loop all form groups --}}
        {{#groups}}
            {{>$widget_template}}
        {{/groups}}

        <input class="form-submit" type="submit" value="Save">
    </form>

</div>

{{#add_js}}
<script>
Charcoal.Admin.manager().add_widget({
    id: '{{widget_id}}',
    type: 'charcoal/admin/widget/form',
    data: {
    }
});
</script>
{{/add_js}}
