 {{!--

--}}
<aside class="c-aside o-flex_aside">
    <div class="o-container -top -right">
        <div class="c-panel -fixed">
            <header class="c-panel_header">
                {{title}} Sidebar title
            </header>

            <div class="c-panel_main">
                <p>{{subtitle}} Attention, innondation dans le secteur de boucherville ouest</p>
                <table class="c-panel_table">
                    {{#form_properties}}
                    <tr class="c-panel_table_row">
                        <th class="c-panel_table_header">{{prop.label}}</th>
                        <td class="c-panel_table_data">{{prop.val}}</td>
                    </tr>
                    {{/form_properties}}
                    <tr class="c-panel_table_row">
                        <th class="c-panel_table_header">Status</th>
                        <td class="c-panel_table_data">Brouillon</td>
                    </tr>
                    <tr class="c-panel_table_row">
                        <th class="c-panel_table_header">Création</th>
                        <td class="c-panel_table_data">20.24.14  16:00</td>
                    </tr>
                    <tr class="c-panel_table_row">
                        <th class="c-panel_table_header">Révision</th>
                        <td class="c-panel_table_data">20.24.14  16:00</td>
                    </tr>
                </table>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-lg btn-block" value="Save">Sauvegarder</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-lg btn-block">Envoyer l'alerte</button>
                </div>
            </div>

            <footer class="c-panel_footer">
                <div class="c-panel_footer_item -red">
                    <span>
                        <i class="fa fa-trash-o"></i> Effacer
                    </span>
                </div>
                <div class="c-panel_footer_item -blue">
                    <span>
                        <i class="fa fa-refresh"></i> Réinitialiser
                    </span>
                </div>
            </footer>
        </div>
    </div>
    </aside>
