{{!--
Form group (Default) Widget
===========================

`charcoal/admin/widget/form.group`

Display a form group (as a fieldset) and loop the properties to display them.

This widget expects a `Charcoal\Admin\Widget\FormGroup` model as context.

--}}
<fieldset class="form-group">
   
    {{#show_label}}
         <legend>Legend for form: {{label}}</legend>
    {{/show_label}}


    <section class="form-group-content">
    {{!-- Loop all form properties --}}
    {{#form_properties}}
        <div class="property">
            {{!-- Actual property input --}}
            <div class="form-group">
                <label for="{{prop.input_id}}" class="col-sm-3 control-label">Label{{label}}</label>
                <div class="col-sm-9">
                     {{#prop}}
                        {{>$widget_template}}
                    {{/prop}}
                </div>
            </div>

        </div>
    {{/form_properties}}
    </section>



</fieldset>
