{{!--
    Form Property Widget
    ====================

    @used-by `charcoal/admin/widget/form-group-widget`
--}}
<fieldset class="{{ formGroupCssClass }}">
    {{# showLabel }}
    <label class="control-label" for="{{ widgetId }}">{{> charcoal/admin/property/control/label }}</label>

    {{# showActiveLanguage }}
    <span class="active-lang pull-right" aria-label="{{# _t }}Languages{{/ _t }}">
        {{# languages }}
        <span aria-label="{{ name }}" data-lang="{{ ident }}"{{^ current }} class="hidden"{{/ current }}>{{ ident }}</span>
        {{/ languages }}
    </span>
    {{/ showActiveLanguage }}
    {{/ showLabel }}
    {{^ showLabel }}
    <label class="control-label sr-only" for="{{ widgetId }}">{{> charcoal/admin/property/control/label }}</label>
    {{/ showLabel }}

    {{> charcoal/admin/template/inc.description }}
    {{# showNotesAbove }}
    {{> charcoal/admin/template/inc.notes }}
    {{/ showNotesAbove }}

    {{# output }}
    {{!-- The actual property control (typically `PropertyInput`) --}}
    <div id="form-field-{{ widgetId }}" class="{{ formFieldCssClass }}{{# hidden }} hidden{{/ hidden }}"{{# l10n }} data-lang="{{ lang }}"{{/ l10n }}>
        {{> $formPropertyWidget }}
    </div>
    {{/ output }}
    {{^ showNotesAbove }}

    {{> charcoal/admin/template/inc.notes }}
    {{/ showNotesAbove }}
</fieldset>
