{{!--
Form group (Default) Widget
===========================

`charcoal/admin/widget/form.group`

Display a form group (as a fieldset) and loop the properties to display them.

This widget expects a `Charcoal\Admin\Widget\FormGroup` model as context.

--}}

<fieldset>

    <header class="o-header -border">
        {{#show_title}}
        <h2>{{title}}</h1>
        {{/show_title}}
    </header>

{{#form_properties}}

    {{#layout}}

        {{start}}
        {{#cell_starts_row}}

    <section class="o-section">
        <div class="row">

        {{/cell_starts_row}}
    {{/layout}}

            <div class="col-md-{{layout.cell_span_by12}}">
                 <div class="form-group">
                    <label for="{{prop.input_id}}">{{prop.label}}</label>

                {{#show_description}}
                    <span class="c-info" data-toggle="tooltip" data-placement="top" title="{{description}}">?</span>
                {{/show_description}}

                    {{#input}}
                        {{!-- PropertyInput --}}
                        {{>$widget_template}}
                    {{/input}}

                {{#show_notes}}
                    <p class="help-block small">{{notes}}</p>
                {{/show_notes}}

                </div>
            </div>

    {{#layout}}
        {{#cell_ends_row}}

        </div>
    </section>

        {{/cell_ends_row}}

        {{!-- Hack: Execute end layout --}}
        {{end}}
    {{/layout}}

{{/form_properties}}

</fieldset>

