{{!--
Form group (Default) Widget
===========================

`charcoal/admin/widget/form.group`

Display a form group (as a fieldset) and loop the properties to display them.

This widget expects a `Charcoal\Admin\Widget\FormGroup` model as context.

--}}

<fieldset>

    {{#showHeader}}
    <header class="o-header -border">
        {{#showTitle}}
        <h2>{{title}}</h2>
        {{/showTitle}}

        {{#showDescription}}
            <span class="c-info" data-toggle="tooltip" data-placement="top" title="{{description}}">?</span>
        {{/showDescription}}
    </header>
    {{/showHeader}}

{{!-- Loop form properties (typically `FormPropertyWidget`) --}}
{{#formProperties}}

    {{#layout}}

        {{start}}
        {{#cellStartsRow}}

    <section class="o-section">
        <div class="row">

        {{/cellStartsRow}}
    {{/layout}}

            <div class="col-md-{{layout.cellSpanBy12}}">
                 <div class="form-group">
                    <label for="{{prop.inputId}}">{{prop.label}}</label>


                    {{#l10n}}
                    <span class="pull-right">
                        {{#languages}}
                            <span aria-label="{{name}}" data-lang="{{ident}}" class=" small text-uppercase text-muted {{^current}}hidden{{/current}}">{{ident}}</span>
                        {{/languages}}
                    </span>
                    {{/l10n}}

                    {{#showDescription}}
                        <span class="c-info" data-toggle="tooltip" data-placement="top" title="{{description}}">?</span>
                    {{/showDescription}}

                    {{#input}}
                        {{!-- The actual property control (typically `PropertyInput`) --}}
                        <div {{#l10n}}data-lang="{{lang}}"{{/l10n}} {{#hidden}}class="hidden"{{/hidden}}>
                            {{>$widget_template}}
                        </div>
                    {{/input}}

                    {{#showNotes}}
                        <p class="help-block small">{{&notes}}</p>
                    {{/showNotes}}

                </div>
            </div>

    {{#layout}}
        {{#cellEndsRow}}

        </div>
    </section>

        {{/cellEndsRow}}

        {{!-- Hack: Execute end layout --}}
        {{end}}
    {{/layout}}

{{/formProperties}}

{{#showNotes}}
    <p class="help-block small">{{&notes}}</p>
{{/showNotes}}

</fieldset>

