{{!--
Form group (Default) Widget
===========================

`charcoal/admin/widget/form.group`

Display a form group (as a fieldset) and loop the properties to display them.

This widget expects a `Charcoal\Admin\Widget\FormGroup` model as context.

--}}
<fieldset class="form-group">

    {{#show_label}}
         <legend>Legend for form: {{label}}</legend>
    {{/show_label}}


    <section class="form-group-content">
    {{!-- Loop all form properties --}}
    {{#form_properties}}
        <div class="property" style="height:26px;">
            {{!-- Actual property input --}}
            <div class="form-group">
                <label for="{{prop.input_id}}" class="col-sm-3 control-label">{{prop.label}}</label>
                <div class="col-sm-9">
                     {{#input}}
                        {{>$widget_template}}

                    {{/input}}
                </div>
            </div>

        </div>
         <div style="clear:both;">&nbsp;</div>
    {{/form_properties}}
    </section>

</fieldset>
