{{!--
    Form Widget
    ===========

    @see charcoal/admin/widget/form

    This widget expects to be in a context (model) of type `Charcoal\Admin\Widget\Form`.
--}}
<div class="form charcoal-admin-widget-form">
    <form id="{{ widgetId }}" method="{{ method }}" action="{{ adminUrl }}{{ action }}" enctype="multipart/form-data">

        {{# isTabbable }}
        {{> charcoal/admin/template/form/nav-tabs }}
        {{/ isTabbable }}

        {{# hasGroups }}
        {{> charcoal/admin/template/form/groups }}
        {{/ hasGroups }}

        {{# hiddenProperties }}
        {{# input }}
        {{> $widget_template }}
        {{/ input }}
        {{/ hiddenProperties }}

        <button type="submit" class="btn btn-info">{{ submitLabel }}</button>
    </form>
</div>

{{# addJs }}
<script>
Charcoal.Admin.manager().add_widget({
    id:   '{{ widgetId }}',
    type: 'charcoal/admin/widget/form',
    data: {}
});
</script>
{{/ addJs }}
