{{!--

    Form Group Widget
    =================

    `charcoal/admin/widget/form-group-widget`

    Display a form group (as a fieldset) and loop the properties to display them.

    This widget expects a `Charcoal\Admin\Widget\FormGroup` model as context.

--}}

{{# showHeader }}
<header class="o-header -small">
    {{# showTitle }}
        <h3>{{ title }}</h3>
    {{/ showTitle }}
    {{> charcoal/admin/template/inc.description }}
</header>
{{/ showHeader }}
<div class="o-container c-form-widget_group_content">
    <fieldset>
        {{^ showHeader }}
            {{# showDescription }}
                <div class="form-text border-bottom mb-4 pb-4">{{& description }}</div>
            {{/ showDescription }}
        {{/ showHeader }}
        {{# showNotesAbove }}
        <div class="form-text mb-4">
            {{> charcoal/admin/template/inc.notes }}
        </div>
        {{/ showNotesAbove }}

        {{> charcoal/admin/widget/form-group/form-properties }}
        {{^ showNotesAbove }}
            {{> charcoal/admin/template/inc.notes }}
        {{/ showNotesAbove }}
    </fieldset>
</div>
