{{!--
Form Widget
===========

`charcoal/admin/widget/form`

This widget expects to be in a context (model) of type `Charcoal\Admin\Widget\Form`.

--}}
<div class="form charcoal-admin-widget-form">

    <form id="{{widgetId}}" action="{{adminUrl}}{{action}}" method="{{method}}" enctype="multipart/form-data">

        {{!-- Loop all form groups --}}
        {{#groups}}
            {{#form.layout}}
                {{>charcoal/admin/widget/layout.start}}
            {{/form.layout}}

            <div class="form-group form-group-{{ident}} col-md-{{form.layout.cellSpanBy12}}">
                {{>$widget_template}}
            </div>

             {{#form.layout}}
               {{>charcoal/admin/widget/layout.end}}
            {{/form.layout}}
        {{/groups}}

        <input class="form-submit" type="submit" value="Save">
    </form>

</div>

{{#addJs}}
<script>
Charcoal.Admin.manager().add_widget({
    id: '{{widgetId}}',
    type: 'charcoal/admin/widget/form',
    data: {
    }
});
</script>
{{/addJs}}
