{{!--

--}}
<aside class="c-form-sidebar c-aside o-flex_aside" id="{{widgetId}}">
    <div class="o-container -top -right">
        <div class="c-panel -fixed">
            {{# showTitle }}
            <header class="c-panel_header">{{& title }}</header>
            {{/ showTitle }}

            <div class="c-panel_main">
                {{# showSubtitle }}
                <p>{{& subtitle }}</p>
                {{/ showSubtitle }}

                {{#showLanguageSwitch}}
                    <div class="btn-group btn-group-justified form-group js-lang-switch" role="group" aria-label="{{#_t}}Languages{{/_t}}">
                    {{#languages}}
                        <div class="btn-group" role="group">
                            <button type="button" data-lang-switch="{{ident}}" class="btn{{#current}} btn-info{{/current}}{{^current}} btn-default{{/current}}">
                                <span class="btn-label">{{name}}</span>
                            </button>
                        </div>
                    {{/languages}}
                    </div>
                {{/showLanguageSwitch}}

                {{#hasSidebarProperties}}
                    <ul class="c-panel_table form-group">
                    {{#formProperties}}
                        <li class="c-panel_table_row">
                            {{# showLabel }}
                            <label class="c-panel_table_header" for="{{ widgetId }}">{{> charcoal/admin/property/control/label }}</label>

                            {{# showActiveLanguage }}
                            <span class="active-lang pull-right" aria-label="{{# _t }}Languages{{/ _t }}">
                                {{# languages }}
                                <span aria-label="{{ name }}" data-lang="{{ ident }}"{{^ current }} class="hidden"{{/ current }}>{{ ident }}</span>
                                {{/ languages }}
                            </span>
                            {{/ showActiveLanguage }}
                            {{/ showLabel }}
                            {{^ showLabel }}
                            <label class="c-panel_table_header sr-only" for="{{ widgetId }}">{{> charcoal/admin/property/control/label }}</label>
                            {{/ showLabel }}

                            {{> charcoal/admin/template/inc.description }}
                            {{# showNotesAbove }}
                            {{> charcoal/admin/template/inc.notes }}
                            {{/ showNotesAbove }}

                            {{# output }}
                            <div class="c-panel_table_data{{# prop.type }} form-property-{{ . }}{{/ prop.type }}{{# hidden }} hidden{{/ hidden }}{{# showActiveLanguage }} -l10n{{/ showActiveLanguage }}{{# prop.multiple }} -multiple{{/ prop.multiple }}"{{# l10n }} data-lang="{{ lang }}"{{/ l10n }}>
                                {{> $widget_template }}
                            </div>
                            {{/ output }}

                            {{^ showNotesAbove }}

                            {{> charcoal/admin/template/inc.notes }}
                            {{/ showNotesAbove }}
                        </li>
                    {{/formProperties}}
                    </ul>
                {{/hasSidebarProperties}}

                {{# showSidebarActions }}
                <div class="btn-group-vertical btn-block" role="group">
                {{# sidebarActions }}
                    {{# isSeparator }}
                        </div>
                        <div class="btn-group-vertical btn-block" role="group">
                    {{/ isSeparator }}
                    {{^ isSeparator }}
                        {{> charcoal/admin/widget/actions }}
                    {{/ isSeparator }}
                {{/ sidebarActions }}
                </div>
                {{/ showSidebarActions }}
            </div>

            {{# showFooter }}
                <footer class="c-panel_footer">
                {{!--
                @todo Only show the "delete" button if there's an object's ID.
                --}}
                {{#isObjDeletable}}
                    <div class="c-panel_footer_item -red">
                        <span role="button" class="js-obj-delete" aria-label="{{# _t }}Delete Object{{/ _t }}">
                           <span class="fa fa-trash-o" aria-hidden="true"></span>
                           <span class="btn-label" aria-hidden="true">{{# _t }}Delete{{/ _t }}</span>
                        </span>
                    </div>
                {{/isObjDeletable}}
                {{#isObjResettable}}
                    <div class="c-panel_footer_item -blue">
                        <span role="button" class="js-reset-form" aria-label="{{# _t }}Reset Form{{/ _t }}">
                            <span class="fa fa-refresh" aria-hidden="true"></span>
                            <span class="btn-label" aria-hidden="true">{{# _t }}Reset{{/ _t }}</span>
                        </span>
                    </div>
                {{/isObjResettable}}
                </footer>
            {{/ showFooter }}
        </div>
    </div>
</aside>

{{!--
[[#addJs]]
<script>
Charcoal.Admin.manager().add_widget({
    id: '[[widgetId]]',
    type: 'charcoal/admin/widget/form.sidebar',
    data: {
        obj_type: '[[objType]]',
        collection_ident: '[[collectionIdent]]'
    }
});
</script>
[[/addJs]]
--}}
