 {{!--

--}}
<aside class="c-aside o-flex_aside" id="{{widgetId}}">
    <div class="o-container -top -right">
        <div class="c-panel -fixed">
            <header class="c-panel_header">{{title}}</header>

            <div class="c-panel_main">
                {{#subtitle}}
                <p>{{subtitle}}</p>
                {{/subtitle}}

                {{#showLanguageSwitch}}
                <div class="js-lang-switch" class="btn-group" role="group" aria-label="{{#_t}}Language switcher{{/_t}}">
                    {{#languages}}
                        <button type="button" data-lang-switch="{{ident}}" class="btn {{#current}}btn-info{{/current}}">{{name}}</button>
                    {{/languages}}
                </div>
                {{/showLanguageSwitch}}

                {{#hasSidebarProperties}}
                <table class="c-panel_table">
                    {{#formProperties}}
                    <tr class="c-panel_table_row">
                        <th class="c-panel_table_header">{{prop.label}}</th>
                        <td class="c-panel_table_data">{{prop.displayVal}}</td>
                    </tr>
                    {{/formProperties}}
                </table>
                {{/hasSidebarProperties}}
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-lg btn-block" value="Save">Sauvegarder</button>
                </div>

                {{#actions}}
                <div class="form-group">
                    <a href="{{baseUrl}}{{url}}" class="{{^objId}}disabled{{/objId}} btn btn-{{btn}} btn-lg btn-block">{{label}}</a>
                </div>
                {{/actions}}
            </div>

            <footer class="c-panel_footer">
                {{!--
                @todo Only show the "delete" button if there's an object's ID.
                }}
                <div class="c-panel_footer_item -red">
                    <span class="js-obj-delete">
                       <i class="fa fa-trash-o"></i> Effacer
                    </span>
                </div>
                <div class="c-panel_footer_item -blue">
                    <span class="js-reset-form">
                        <i class="fa fa-refresh"></i> Réinitialiser
                    </span>
                </div>
            </footer>
        </div>
    </div>
</aside>

{{#addJs}}
<script>
// Charcoal.Admin.manager().add_widget({
//     id: '{{widgetId}}',
//     type: 'charcoal/admin/widget/form.sidebar',
//     data: {
//         obj_type: '{{objType}}',
//         collection_ident: '{{collectionIdent}}'
//     }
// });
</script>
{{/addJs}}
