{{# showAsCard }}
    <div class="card">
        {{# showLabel }}
            <header class="card-header">
                <h3 class="card-title mb-0">{{ label }}</h3>
            </header>
        {{/ showLabel }}
        <div class="card-body">
            <div id="{{ widgetId }}" class="js-graph-container" style="height: {{ height }};"></div>
        </div>
    </div>
{{/ showAsCard }}
{{^ showAsCard }}
    <div>
        <div id="{{ widgetId }}" class="js-graph-container" style="height: {{ height }};"></div>
    </div>
{{/ showAsCard }}

{{> charcoal/admin/widget/graph/js }}