{{!--
    Primary Menu \ Item
    ===================
--}}
<li class="c-nav-main_item{{# ident }} s-nav-main_item--{{ . }}{{/ ident }}">
    <a class="c-nav-main_link{{# selected }} is-active{{/ selected }}" href="{{ url }}">
        <span class="c-nav-main_link_wrap">
            {{# svg }}<svg class="c-nav-main_link_icon" role="img"><use xlink:href="{{ . }}"></use></svg>{{/ svg }}
            {{# icon }}<img class="c-nav-main_link_icon" src="{{ . }}">{{/ icon }}
            {{# iconCss }}<i class="{{ . }}" aria-hidden="true"></i>{{/ iconCss }}
            {{# label }}<span class="c-nav-main_link_text{{^ show_label }} sr-only{{/ show_label }}">{{ . }}</span>{{/ label }}
        </span>
    </a>
</li>
