{{!--
`charcoal/admin/widget/layout.start.php`

This widget expects a `Layout` context
--}}
{{!-- Hack: Execute start layout --}}
{{start}}

{{#cellStartsRow}}
    <div class="row">
{{/cellStartsRow}}
