 {{!--
    Map sidebar
--}}

<div id="{{widget_id}}">
    <div class="o-container">
        <div class="js-map-maker-map" style="height: 400px; width: 100%;">

        </div>
    </div>
</div>

{{#add_js}}
<script>
Charcoal.Admin.manager().add_widget({
    id: '{{widget_id}}',
    type: 'charcoal/admin/widget/map',
    data: {
        obj_type: '{{obj_type}}'
    },
    coords : [{{obj.lat}}, {{obj.lng}}]
});
</script>
{{/add_js}}
