{{!--
Header menu Widget
==================

`charcoal/admin/widget/menu.header`

--}}
<header class="c-header-main">
    <a class="c-header-main_link" href="#">
        <svg class="c-header-main_logo_img" role="img" title="Charcoal"><use xlink:href="{{base_url}}assets/admin/images/svgs.svg#charcoal-logo"></use></svg>
    </a>
    <a class="c-header-main_link" href="#">
        <span class="c-header-main_help">
            {{#_t}}Besoin d’aide ?{{/_t}}
        </span>
    </a>
    {{#show_header_menu}}
    <button class="c-header-main_user js-toggle-class" type="button" data-target="body" data-class="has-nav-user">
        <span class="c-header-main_user_name">Bienvenue sur memo</span>
        <span class="c-header-main_user_icon">
            <span class="c-header-main_user_icon_dot"></span>
            <span class="c-header-main_user_icon_dot"></span>
            <span class="c-header-main_user_icon_dot"></span>
        </span>
    </button>
    {{/show_header_menu}}
</header>

{{#show_header_menu}}
{{!-- Charcoal Main Menu --}}
<nav class="c-nav-main">
    <ul class="c-nav-main_list">
        {{#header_menu}}
           {{>charcoal/admin/widget/inc.menu.item}}
       {{/header_menu}}
    </ul>
</nav>

<div class="c-nav-user-overlay js-toggle-class" data-target="body" data-class="has-nav-user"></div>
<nav class="c-nav-user">
    <header class="o-header">
        <div class="c-nav-user_avatar">
            <img src="{{base_url}}assets/admin/images/user_01.jpg">
        </div>
        <div class="c-nav-user_info">
            <span class="c-nav-user_name">
                Memo
            </span>
            <a class="c-nav-user_link" href="#">
                Mon compte
            </a>
        </div>
    </header>
    <ul class="c-nav_list -dark">
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="#">
                    <span class="c-nav_list_link_text">
                        Gérer les comptes
                    </span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="#">
                    <span class="c-nav_list_link_text">
                        Langues
                    </span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="#">
                    <span class="c-nav_list_link_text">
                        Tester les courriels
                    </span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="{{base_url}}admin/messaging/send-sms">
                    <span class="c-nav_list_link_text">
                        Tester les SMS
                    </span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="{{base_url}}admin/messaging/send-voice">
                    <span class="c-nav_list_link_text">
                        Tester les messages vocaux
                    </span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="#">
                    <span class="c-nav_list_link_text">
                        Aide
                    </span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
    </ul>
    <button type="button" class="btn btn-danger">Déconnexion</button>
</nav>
{{/show_header_menu}}

{{#add_js}}
<script>
    $(document).ready(function() {
        var headerMenu_template = new Charcoal.Admin.Template_MenuHeader();
    });
</script>
{{/add_js}}
