{{!--

    System Logout Widget
    ====================

--}}
<a href="{{# withAdminUrl }}logout{{/ withAdminUrl }}" class="c-nav-system_logout btn">
    <i class="fa fa-lg fa-sign-out" aria-hidden="true">&nbsp;</i>
    <span class="btn-label">{{# _t }}auth.logout.action{{/ _t }}</span>
</a>