{{!--
Header menu Widget
==================

`charcoal/admin/widget/menu.header`

--}}
<header class="c-header-main">
    <a class="c-header-main_link" href="#">
        <svg class="c-header-main_logo_img" role="img" title="Charcoal"><use xlink:href="{{url}}assets/admin/images/svgs.svg#charcoal-logo"></use></svg>
    </a>
    <a class="c-header-main_link" href="#">
        <span class="c-header-main_help">
            Besoin d’aide ?
        </span>
    </a>
</header>

<nav class="c-nav-main">
    <ul class="c-nav-main_list">
        <li class="c-nav-main_item">
            <a class="c-nav-main_link" href="#">
                <span class="c-nav-main_link_wrap">
                    <svg class="c-nav-main_link_icon" role="img"><use xlink:href="{{url}}assets/admin/images/svgs.svg#icon-home"></use></svg>
                    <span class="c-nav-main_link_text">Accueil</span>
                </span>
            </a>
        </li>
        <li class="c-nav-main_item">
            <a class="c-nav-main_link is-active" href="#">
                <span class="c-nav-main_link_wrap">
                    <svg class="c-nav-main_link_icon" role="img"><use xlink:href="{{url}}assets/admin/images/svgs.svg#icon-alerts"></use></svg>
                    <span class="c-nav-main_link_text">Alertes</span>
                </span>
            </a>
        </li>
        <li class="c-nav-main_item">
            <a class="c-nav-main_link" href="#">
                <span class="c-nav-main_link_wrap">
                    <svg class="c-nav-main_link_icon" role="img"><use xlink:href="{{url}}assets/admin/images/svgs.svg#icon-users"></use></svg>
                    <span class="c-nav-main_link_text">Utilisateurs</span>
                </span>
            </a>
        </li>
        <li class="c-nav-main_item">
            <a class="c-nav-main_link" href="#">
                <span class="c-nav-main_link_wrap">
                    <svg class="c-nav-main_link_icon" role="img"><use xlink:href="{{url}}assets/admin/images/svgs.svg#icon-contents"></use></svg>
                    <span class="c-nav-main_link_text">Contenus</span>
                </span>
            </a>
        </li>
        <li class="c-nav-main_item">
            <a class="c-nav-main_link" href="#">
                <span class="c-nav-main_link_wrap">
                    <svg class="c-nav-main_link_icon" role="img"><use xlink:href="{{url}}assets/admin/images/svgs.svg#icon-stats"></use></svg>
                    <span class="c-nav-main_link_text">Statistiques</span>
                </span>
            </a>
        </li>
        <li class="c-nav-main_item">
            <a class="c-nav-main_link" href="#">
                <span class="c-nav-main_link_wrap">
                    <svg class="c-nav-main_link_icon" role="img"><use xlink:href="{{url}}assets/admin/images/svgs.svg#icon-config"></use></svg>
                    <span class="c-nav-main_link_text">Configuration</span>
                </span>
            </a>
        </li>
    </ul>
</nav>
