{{!--
Header menu Widget
==================

`charcoal/admin/widget/menu.header`

--}}
<header class="c-header-main">
    <div class="c-header-main_button js-toggle-class" data-target="body" data-class="has-nav-open">
        <span class="c-header-main_button_line"></span>
        <span class="c-header-main_button_line"></span>
        <span class="c-header-main_button_line"></span>
    </div>
    <a class="c-header-main_link" href="{{adminUrl}}">
        <svg class="c-header-main_logo_img" role="img" title="Charcoal"><use xlink:href="{{baseUrl}}assets/admin/images/svgs.svg#charcoal-logo"></use></svg>
    </a>
    {{#baseUrl}}
    <a class="btn btn-link" href="{{baseUrl}}" target="_blank">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <span class="btn-label">{{# _t }}Visit Site{{/ _t }}</span>
    </a>
    {{/baseUrl}}
    {{!--
    <a class="btn btn-link" href="[[adminUrl]]help">
        <span class="c-header-main_help">
            [[#_t]]Besoin d’aide ?[[/_t]]
        </span>
    </a>
    --}}
    {{#showTopHeaderMenu}}
    <button class="c-header-main_user js-toggle-class" type="button" data-target="body" data-class="has-nav-user">
        <span class="c-header-main_user_name">{{# _t }}Welcome{{/ _t }}</span>
        <span class="c-header-main_user_icon">
            <span class="c-header-main_user_icon_dot"></span>
            <span class="c-header-main_user_icon_dot"></span>
            <span class="c-header-main_user_icon_dot"></span>
        </span>
    </button>
    {{/showTopHeaderMenu}}

    {{^showTopHeaderMenu}}
    {{#isAuthenticated}}
    <button type="button" class="c-header-main_user btn btn-danger" id="btn-logout">{{#_t}}Log Out{{/_t}}</button>
    {{/isAuthenticated}}
    {{/showTopHeaderMenu}}
</header>

{{#showHeaderMenu}}
{{!-- Charcoal Main Menu --}}
<div class="c-nav-main-overlay js-toggle-class" data-target="body" data-class="has-nav-open"></div>
<nav class="c-nav-main">
    <ul class="c-nav-main_list">
        {{#headerMenu}}
           {{>charcoal/admin/widget/inc.menu.item}}
       {{/headerMenu}}
    </ul>
</nav>

<div class="c-nav-user-overlay js-toggle-class" data-target="body" data-class="has-nav-user"></div>
<nav class="c-nav-user">
    {{# isAuthenticated }}
    {{# getAuthenticatedUser }}
    <header class="o-header">
        <div class="c-nav-user_avatar">
            <img src="{{baseUrl}}assets/admin/images/avatar.jpg">
        </div>
        <div class="c-nav-user_info">
            <span class="c-nav-user_name">{{ username }}</span>
            <a class="c-nav-user_link" href="#">{{#_t}}Account Management{{/_t}}</a>
        </div>
    </header>
    {{/ getAuthenticatedUser }}
    <ul class="c-nav_list -dark">
        {{!--
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="#">
                    <span class="c-nav_list_link_text">[[# _t ]]Manage Users[[/ _t ]]</span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="#">
                    <span class="c-nav_list_link_text">[[# _t ]]Languages[[/ _t ]]</span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="#">
                    <span class="c-nav_list_link_text">[[# _t ]]Test Emails[[/ _t ]]</span>
                </a>
            </div>
        </li>--}}
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="{{baseUrl}}admin/messaging/send-sms">
                    <span class="c-nav_list_link_text">{{#_t}}Test SMS{{/_t}}</span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="{{baseUrl}}admin/messaging/send-voice">
                    <span class="c-nav_list_link_text">
                        {{#_t}}Test Voice Messages{{/_t}}
                    </span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
            <div class="c-nav_list_header">
                <a class="c-nav_list_link" href="help">
                    <span class="c-nav_list_link_text">
                        {{#_t}}Help{{/_t}}
                    </span>
                </a>
            </div>
        </li>
        <li class="c-nav_list_item">
    </ul>
    <button type="button" class="btn btn-danger" id="btn-logout">{{#_t}}Log Out{{/_t}}</button>
    {{/ isAuthenticated }}
</nav>
{{/showHeaderMenu}}

{{#addJs}}
<script>
    $(document).ready(function() {
        var headerMenu_template = new Charcoal.Admin.Template_MenuHeader();

        $('#btn-logout').on('click', function() {
            window.location.href = '{{adminUrl}}logout';
        })
    });
</script>
{{/addJs}}
