{{!--

    Form Group Widget - Object Revisions
    ====================================

--}}
<div id="{{widgetId}}" class="o-container c-form-widget_group_content">
    <fieldset>
        <table class="table table-bordered table-hover">
            <thead>
                <th class="text-center">
                    <span aria-hidden="true">#</span>
                    <span class="sr-only">{{# _t }}Revision #{{/ _t }}</span>
                </th>
                <th>{{# _t }}Date{{/ _t }}</th>
                <th>{{# _t }}Author{{/ _t }}</th>
                <th>{{# _t }}Changeset{{/ _t }}</th>
                <th>{{# _t }}Options{{/ _t }}</th>
            </thead>
            <tbody>
                {{# objectRevisions }}
                    <tr class="js-table-row">
                        <td class="text-center">{{ revNum }}</td>
                        <td>{{ revTsDisplay }}</td>
                        <td>{{ revUser }}</td>
                        <td>{{& changedProperties }}{{# droppedProperties }}<br><strong>{{# _t }}Deprecated{{/ _t }}</strong>: {{& . }}{{/ droppedProperties }}</td>
                        <td>
                            {{# allowRevert }}
                                <button class="js-obj-revert btn btn-secondary" data-rev-num="{{ revNum }}" type="button">
                                    <span aria-hidden="true">{{# _t }}Restore{{/ _t }}</span>
                                    <span class="sr-only">{{# _t }}Restore This Revision{{/ _t }}</span>
                                </button>
                            {{/ allowRevert }}
                        </td>
                    </tr>
                {{/ objectRevisions }}
                {{^ objectRevisions }}
                    <tr class="js-table-row">
                        <td colspan="5" class="text-center">{{# _t }}No history of changes{{/ _t }}</td>
                    </tr>
                {{/ objectRevisions }}
            </tbody>
        </table>
        {{> charcoal/admin/template/inc.notes }}
    </fieldset>
</div>
<div class="modal-footer">
    <button type="button" class="btn text-danger" data-dismiss="dialog">
        {{# _t }}Cancel{{/ _t }}
    </button>
</div>

{{# addJsRequirement }}
    <script rel="l10n">
        {{> charcoal/admin/l10n/widget.js }}
        {{> charcoal/admin/l10n/object-revisions.js }}
    </script>
{{/ addJsRequirement }}

{{& jsRequirements }}
