{{!--
    Object Form Widget
    ==================

    @see charcoal/admin/widget/object-form

    This widget expects to be in a context (model) of type `Charcoal\Admin\Widget\Form`.
--}}
<form id="{{ widgetId }}" method="{{ method }}" action="{{ adminUrl }}{{ action }}" enctype="multipart/form-data"{{# novalidate }} novalidate{{/ novalidate }}>
    <div class="o-flex c-form-widget -object-form{{# isTabbable }} -tabbed{{/ isTabbable }}">
        <div class="o-flex_main c-form-widget_form">
            {{# isTabbable }}
                {{> $form_tabs_template }}
            {{/ isTabbable }}

            {{> $form_groups_template }}
        </div>

        {{# sidebars }}
            {{> $widget_template }}
        {{/ sidebars }}

        {{# hiddenProperties }}
            {{# output }}
                {{> $widget_template }}
            {{/ output }}
        {{/ hiddenProperties }}

        <input type="hidden" name="widget_id" value="{{ widgetId }}">
        <input type="hidden" name="obj_type" value="{{ objType }}">
        <input type="hidden" name="obj_id" value="{{ objId }}">
        {{# nextUrl }}
            <input type="hidden" name="next_url" value="{{ nextUrl }}">
        {{/ nextUrl }}
    </div>
</form>

{{> charcoal/admin/template/form/js }}