{{!--
Object Form Widget
===========

`charcoal/admin/widget/form`

This widget expects to be in a context (model) of type `Charcoal\Admin\Widget\Form`.

--}}
<form action="{{adminUrl}}{{action}}" method="{{method}}" enctype="multipart/form-data" id="{{widgetId}}">

    {{#isTab}}
        <ul class="nav nav-tabs">
        {{#groups}}
            <li{{^isHidden}} class="active"{{/isHidden}}><a href="{{ident}}" class="js-group-tabs">{{title}}</a></li>
        {{/groups}}
        </ul>
    {{/isTab}}

    <div class="o-flex">

        <div class="o-flex_main">
            {{!-- Loop all form groups --}}
            {{#groups}}
                 {{#form.layout}}
                    {{>charcoal/admin/widget/layout.start}}
                {{/form.layout}}

                <div class="col-md-{{form.layout.cellSpanBy12}} js-group-tab {{ident}}{{#isHidden}} hidden{{/isHidden}}">
                    {{>$widget_template}}
                </div>

                 {{#form.layout}}
                   {{>charcoal/admin/widget/layout.end}}
                {{/form.layout}}
            {{/groups}}

        </div>

        {{!-- Get the FormSidebarWidget object --}}
        {{#sidebars}}
            {{>charcoal/admin/widget/form.sidebar}}
        {{/sidebars}}

        <input type="hidden" name="widget_id" value="{{widgetId}}">
        <input type="hidden" name="obj_type" value="{{objType}}">
        <input type="hidden" name="obj_id" value="{{objId}}">

        {{#nextUrl}}
        <input type="hidden" name="next_url" value="{{nextUrl}}">
        {{/nextUrl}}

    </div>
</form>

{{#addJs}}
<script>
Charcoal.Admin.manager().add_widget({
    id: '{{widgetId}}',
    type: 'charcoal/admin/widget/form',
    data: {
        form_selector: '#{{widgetId}}',
        obj_type: '{{objType}}',
        obj_id: '{{objId}}',
        tab: {{isTab}}
    }
});
</script>
{{/addJs}}
