{{!--
Pagination Widget
=================

`charcoal/admin/widget/pagination`
--}}

<nav>
    <ul class="pagination">
        <li data-page-num="{{pagePrev}}" class="js-page-switch {{^previousEnabled}}disabled{{/previousEnabled}}">
            <a href="#" aria-label="{{#_t}}Previous{{/_t}}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{#pages}}
        <li data-page-num="{{num}}" class="js-page-switch {{#active}}active{{/active}}"><a href="#">{{num}}</a></li>
        {{/pages}}
        <li data-page-num="{{pageNext}}" class="js-page-switch {{^nextEnabled}}disabled{{/nextEnabled}}">
            <a href="#" aria-label="{{#_t}}Next{{/_t}}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
