{{!--
    Quick Object Form Widget
    ========================

    @see charcoal/admin/widget/quick-form

    Expects JS initialization of this component to be handled by the dialog manager.
--}}
<form id="{{ widgetId }}" method="{{ method }}" action="{{ adminUrl }}{{ action }}" enctype="multipart/form-data">
    <div class="o-flex">
        <div class="o-flex_main" style="min-height: 0;">
            {{# isTabbable }}
            {{> charcoal/admin/template/form/nav-tabs }}
            {{/ isTabbable }}

            {{# hasGroups }}
            {{> charcoal/admin/template/form/groups }}
            {{/ hasGroups }}
        </div>

        <input type="hidden" name="widget_id" value="{{ widgetId }}">
        <input type="hidden" name="obj_type" value="{{ objType }}">
        <input type="hidden" name="obj_id" value="{{ objId }}">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link-danger" data-dismiss="dialog">
            <span class="btn-label">{{# _t }}Cancel{{/ _t }}</span>
        </button>
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-refresh u-spin hidden"></span>
            <span class="btn-lable">{{ submitLabel }}</span>
        </button>
    </div>
</form>

{{& jsRequirements }}
{{& js }}
