{{!--
    Quick Object Form Widget
    ========================

    @see charcoal/admin/widget/quick-form

    Expects JS initialization of this component to be handled by the dialog manager.
--}}
<form id="{{ widgetId }}" method="{{ method }}" action="{{ adminUrl }}{{ action }}" enctype="multipart/form-data">
    <div class="o-flex c-form-widget -quick-form{{# isTabbable }} -tabbed{{/ isTabbable }}{{# isDisplayModeLang }} -lang{{/ isDisplayModeLang }}">
        <div class="o-flex_main c-form-widget_form">
            {{# isTabbable }}
                {{> $form_tabs_template }}
            {{/ isTabbable }}

            {{> $form_groups_template }}
        </div>

        {{# hiddenProperties }}
            {{# output }}
                {{> $widget_template }}
            {{/ output }}
        {{/ hiddenProperties }}

        <input type="hidden" name="widget_id" value="{{ widgetId }}">
        <input type="hidden" name="obj_type" value="{{ objType }}">
        <input type="hidden" name="obj_id" value="{{ objId }}">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="dialog">
            {{# _t }}Cancel{{/ _t }}
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-refresh u-spin d-none" aria-hidden="true"></span>
            <span class="btn-label">{{ submitLabel }}</span>
        </button>
    </div>
</form>

{{# addJsRequirement }}
<script rel="l10n">
    {{> charcoal/admin/l10n/widget.js }}
    {{> charcoal/admin/l10n/form.js }}
</script>
{{/ addJsRequirement }}

{{& jsRequirements }}
{{& js }}

{{# isDisplayModeLang }}
<script rel="l10n">
    {{> charcoal/admin/l10n/quick-form-languages.js }}
</script>
<style>
.bootstrap-dialog.-quick-form .modal-body {
    background-color: #e1e1e1;
}
.modal .-lang .form-field.-l10n[data-lang]::before {
    font-size:      10px;
    content:        attr(data-custom-modal-lang);
    position:       absolute;
    left:           -50px;
    display:        contents;
    width:          30px;
    text-transform: uppercase;
}
</style>
{{/ isDisplayModeLang }}