<form id="{{ widgetId }}" class="c-search" method="post">
    <div class="c-search_wrap">
        <div class="input-group">
            <input type="text" name="query" class="c-search_input form-control" placeholder="{{# _t }}Search…{{/ _t }}">
            <span class="btn-group">
                <button class="c-search_button btn btn-outline-secondary js-search" type="submit">
                    <span class="fa fa-search" aria-hidden="true"></span>
                    <span class="btn-label sr-only">{{# _t }}Search{{/ _t }}</span>
                </button>
                <button class="c-search_button btn btn-outline-secondary js-undo" type="reset">
                    <span class="fa fa-undo" aria-hidden="true"></span>
                    <span class="btn-label sr-only">{{# _t }}Clear Results{{/ _t }}</span>
                </button>
            </span>
        </div>
    </div>
    {{! <div class="c-search_wrap -bottom">
        <button class="c-search_advanced" type="button">{-# _t -}Advanced Search{-/ _t -}</button>
    </div> }}

    <input type="hidden" name="widget_id" value="{{ widgetId }}">
    <input type="hidden" name="obj_type" value="{{ objType }}">
    <input type="hidden" name="obj_id" value="{{ objId }}">
</form>

{{# addJs }}
<script>
Charcoal.Admin.manager().add_widget({
    id:   '{{ widgetId }}',
    type: 'charcoal/admin/widget/search',
    data: {{& widgetDataForJsAsJson }}
});
</script>
{{/ addJs }}
