{{!--

    Secondary Menu Widget
    =====================

--}}
{{# hasSecondaryMenu }}
    <nav class="c-nav-secondary_pane tab-pane{{# isCurrent }} active{{/ isCurrent }}"
        id="{{ ident }}_pane"
        role="tabpanel">
        {{# showTitle }}
            <header class="o-header">
                <h1 class="c-nav-secondary_heading">{{ title }}</h1>
            </header>
        {{/ showTitle }}
        {{# hasLinks }}
            <div class="c-nav-secondary_row c-nav-secondary_wrapper">
                <ul class="c-nav-secondary_list">
                    {{# links }}
                        {{> charcoal/admin/widget/secondary-menu/link }}
                    {{/ links }}
                </ul>
            </div>
        {{/ hasLinks }}
        {{# hasGroups }}
            {{# groups }}
                <div class="c-nav-secondary_row c-nav-secondary_wrapper">
                    {{# showTitle }}
                        {{# collapsible }}
                            <a class="c-nav-secondary_link -arrow"
                                data-toggle="collapse"
                                href="#{{ groupId }}"
                                role="button"
                                aria-expanded="{{# collapsed }}false{{/ collapsed }}{{^ collapsed }}true{{/ collapsed }}"
                                aria-controls="{{ groupId }}"
                                {{# parented }}
                                data-parent="#{{ widget_id }}"
                                {{/ parented }}>
                        {{/ collapsible }}
                        <h2 class="h3 c-nav-secondary_subheading{{# collapsible }} -button{{/ collapsible }}">
                            {{ title }}
                        </h2>
                        {{# collapsible }}
                            </a>
                        {{/ collapsible }}
                    {{/ showTitle }}
                    <div class="{{# collapsible }}collapse{{/ collapsible }}{{^ collapsed }} show{{/ collapsed }}" id="{{ groupId }}">
                        <ul class="c-nav-secondary_list">
                            {{# links }}
                                {{> charcoal/admin/widget/secondary-menu/link }}
                            {{/ links }}
                        </ul>
                    </div>
                </div>
            {{/ groups }}
        {{/ hasGroups }}
        {{# showSecondaryMenuActions }}
            <div class="c-nav-secondary_row c-nav-secondary_actions btn-group-vertical btn-block" role="group">
                {{# secondaryMenuActions }}
                    {{# isSeparator }}
                        </div>
                        <div class="btn-group-vertical btn-block" role="group">
                    {{/ isSeparator }}
                    {{^ isSeparator }}
                        {{> charcoal/admin/widget/actions }}
                    {{/ isSeparator }}
                {{/ secondaryMenuActions }}
            </div>
        {{/ showSecondaryMenuActions }}
        {{# showDescription }}
            <div class="c-nav-secondary_row c-nav-secondary_footer">
                <p class="m-0 small">
                    {{& description }}
                </p>
            </div>
        {{/ showDescription }}
    </nav>
{{/ hasSecondaryMenu }}
