{{!--
charcoal/admin/widget/sidemenu
}}

<nav class="c-nav-secondary o-flex_aside">
    <header class="o-header">
        <h1 class="c-nav_heading">{{title}}</h1>
    </header>
    {{#hasLinks}}
    <ul class="c-nav_list -light -secondary">
    {{#links}}
        <li class="c-nav_list_item">
            <div class="c-nav_list_header {{#selected}}is-active{{/selected}}">
                <a class="c-nav_list_link" href="{{adminUrl}}{{url}}">
                    <span class="c-nav_list_link_main">
                        <span class="c-nav_list_link_text">
                            {{name}}
                        </span>
                    </span>
                    {{#num}}
                    <span class="c-nav_list_link_number {{#numNew}}is-new{{/numNew}}">
                        {{num}}
                    </span>
                    {{/num}}
                </a>
            </div>
        </li>
    {{/links}}
    </ul>
    {{/hasLinks}}


    {{#mainAction}}
    <div class="btn-group">
        <div class="btn-group">
            <a href="{{url}}" class="btn btn-danger">{{label}}</a>
            {{#hasActions}}
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                {{#actions}}
                    <li><a href="{{url}}">{{label}}</a>
                {{/actions}}
                </ul>
            {{/hasActions}}
        </div>
    </div>
    {{/mainAction}}

</nav>
