{{!--

    Sidemenu Widget
    ===============

    @see `charcoal/admin/widget/sidemenu`

--}}

{{# hasSidemenu }}
<nav class="c-nav-secondary" id="{{ widget_id }}" data-children=".panel">
    {{# showTitle }}
    <header class="o-header c-nav-secondary_header">
        <h1 class="c-nav-secondary_heading">{{ title }}</h1>
    </header>
    {{/ showTitle }}
    {{# hasLinks }}
    <ul class="c-nav-secondary_list">
    {{# links }}
        {{> charcoal/admin/widget/sidemenu/link }}
    {{/ links }}
    </ul>

    {{/ hasLinks }}
    {{# hasGroups }}
    {{# groups }}
    <div class="{{# displayAsPanel }}panel panel-default{{/ displayAsPanel }}">
        {{# showTitle }}
        <div class="{{# displayAsPanel }}panel-heading{{/ displayAsPanel }}{{^ displayAsPanel }} o-section{{/ displayAsPanel }}">
            {{# collapsible }}
            <a class="c-nav-secondary_link{{# collapsible }} -arrow{{/ collapsible }}"
                data-toggle="collapse"
                href="#{{ groupId }}"
                role="button"
                aria-expanded="{{# collapsed }}false{{/ collapsed }}{{^ collapsed }}true{{/ collapsed }}"
                aria-controls="{{ groupId }}"
                {{# parented }}
                data-parent="#{{ widget_id }}"
                {{/ parented }}>
            {{/ collapsible }}
            <h2 class="h3 c-nav-secondary_heading">{{ title }}</h2>
            {{# collapsible }}
            </a>
            {{/ collapsible }}
        </div>
        {{/ showTitle }}
        <div id="{{ groupId }}" class="{{# displayAsPanel }}panel-collapse{{/ displayAsPanel }}{{# collapsible }} collapse{{/ collapsible }}{{^ collapsed }} show{{/ collapsed }}">
            <div class="{{# displayAsPanel }}panel-body{{/ displayAsPanel }}">
                <ul class="c-nav-secondary_list">
                {{# links }}
                    {{> charcoal/admin/widget/sidemenu/link }}
                {{/ links }}
                </ul>
            </div>
        </div>
    </div>
    {{/ groups }}

    {{/ hasGroups }}

    {{# showSidemenuActions }}
    <div class="btn-group-vertical btn-block" role="group">
    {{# sidemenuActions }}
        {{# isSeparator }}
            </div>
            <div class="btn-group-vertical btn-block" role="group">
        {{/ isSeparator }}
        {{^ isSeparator }}
            {{> charcoal/admin/widget/actions }}
        {{/ isSeparator }}
    {{/ sidemenuActions }}
    </div>
    {{/ showSidemenuActions }}
</nav>
{{/ hasSidemenu }}
