{{!--
    Sidemenu Widget
    ===============

    @see `charcoal/admin/widget/sidemenu`
--}}
{{# hasSidemenu }}
<nav class="c-nav-secondary o-flex_aside" id="{{ widget_id }}">
    {{# showTitle }}
    <header class="o-header">
        <h1 class="c-nav_heading">{{ title }}</h1>
    </header>
    {{/ showTitle }}
    {{# hasLinks }}
    <ul class="c-nav_list -light -secondary">
    {{# links }}
        {{> charcoal/admin/widget/sidemenu/link }}
    {{/ links }}
    </ul>

    {{/ hasLinks }}
    {{# hasGroups }}
    {{# groups }}
    <div class="{{# collapsible }}panel panel-default -light{{/ collapsible }}">
        <div class="{{# collapsible }}panel-heading{{/ collapsible }}{{^ collapsible }} o-section{{/ collapsible }}">
            {{# collapsible }}
            <a class="c-nav_list_link{{# collapsible }} c-nav_header_arrow{{/ collapsible }} "
               href="#{{ groupId }}"
               data-toggle="collapse"
               {{# parented }} data-parent="#{{ widget_id }}"{{/ parented }}
               >{{/ collapsible }}<h2 class="c-nav_heading">{{title}}</h2>{{# collapsible }}</a>{{/ collapsible }}
        </div>
        <div id="{{ groupId }}" class="{{# collapsible }}collapse panel-collapse{{/ collapsible }}{{^ collapsed }} in{{/ collapsed }}">
            <div class="{{# collapsible }}panel-body{{/ collapsible }}">
                <ul class="c-nav_list -light -secondary -inpanel">
                {{# links }}
                    {{> charcoal/admin/widget/sidemenu/link }}
                {{/ links }}
                </ul>
            </div>
        </div>
    </div>
    {{/ groups }}

    {{/ hasGroups }}

    {{# showSidemenuActions }}
    <div class="btn-group-vertical btn-block" role="group">
    {{# sidemenuActions }}
        {{# isSeparator }}
            </div>
            <div class="btn-group-vertical btn-block" role="group">
        {{/ isSeparator }}
        {{^ isSeparator }}
            {{> charcoal/admin/widget/actions }}
        {{/ isSeparator }}
    {{/ sidemenuActions }}
    </div>
    {{/ showSidemenuActions }}
</nav>

{{!-- TODO: This does not belong here. --}}
{{#addJs}}
<script>
    $('.js-filemanager-btn').on('click', function (e) {
        e.preventDefault();

        BootstrapDialog.show({
            title:   '{{# _t }}Media Library{{/ _t }}',
            size:    BootstrapDialog.SIZE_WIDE,
            message: $(
                '<iframe width="100%" height="400px" frameborder="0" ' +
                'src="' + Charcoal.Admin.admin_url() + 'elfinder"></iframe>'
            )
        });

    });
</script>
{{/addJs}}
{{/ hasSidemenu }}
