{{!--
    Table Widget Body
    =================

    @see `charcoal/admin/widget/table`

    This widget expects to be in a context (model) of type `Charcoal\Admin\Widget\Table`.
--}}

<div class="o-section">
    <div class="charcoal-admin-widget-table" id="{{ widgetId }}">
        {{# hasObjects }}
        {{> charcoal/admin/widget/table/header }}

        {{!--
        @TODO Implement a better responsive table solution (Tablesaw?)
        <div class="table-responsive">
        --}}
        <div class="table-container">
            <table class="table table-bordered table-hover">
                {{# showTableHeader }}
                {{> charcoal/admin/widget/table/thead }}
                {{/ showTableHeader }}
                {{> charcoal/admin/widget/table/tbody }}
                {{# showTableFooter }}
                {{> charcoal/admin/widget/table/tfoot }}
                {{/ showTableFooter }}
            </table>

            {{# paginationWidget }}
            {{> charcoal/admin/widget/table/pagination }}
            {{/ paginationWidget }}
        </div>

        {{/ hasObjects }}
        {{^ hasObjects }}
        {{> charcoal/admin/widget/table/empty }}
        {{/ hasObjects }}
    </div>
</div>

{{> charcoal/admin/widget/table/css }}
{{> charcoal/admin/widget/table/js }}
