{{!--
Object Doc Template
====================

`charcoal/admin/docs/template/objet/doc`

Display the object's "doc" dashboard.

This template expects a `Charcoal\Admin\Template\Object\Doc` model as context.

--}}
{{>charcoal/admin/template/inc.header}}

<div class="o-flex">
    {{#showSidemenu}}
        {{#sidemenu}}
            {{>charcoal/admin/widget/sidemenu}}
        {{/sidemenu}}
    {{/showSidemenu}}

    {{>charcoal/admin/widget/feedbacks}}

    <div class="o-flex_main">
        <div class="o-container -top -bottom clearfix">
            <header class="o-container_header">
                {{# title }}<h2>{{&.}}</h2>{{/ title }}
                {{# subtitle }}<h3>{{&.}}</h3>{{/ subtitle }}
            </header>
            {{#dashboard}}
                {{>charcoal/admin/widget/dashboard}}
            {{/dashboard}}

        </div>
    </div>

</div>

{{>charcoal/admin/template/inc.footer}}
