// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$black: #000000;
$white: #ffffff;
$gray: #6c6c6c;
$gray-light: #cccccc;
$gray-dark: #262626;
$red: #ed5564;
$blue: #3498db;

// Charcoal
// =============================================================================
$charcoal-darkblue: #080909;
$charcoal-blue: #1a252d;
$charcoal-lightblue: #eaf2f4;
$charcoal-lightblue-dark: #d9e5e8;
