// ==========================================================================
// Settings / Config
// ==========================================================================

// Fonts
// ==========================================================================
$roboto: 'Roboto', sans-serif;

$weight-light: 300;
$weight-normal: 400;
$weight-semi: 500;
$weight-bold: 700;

$heading1: 24px;
$heading2: 20px;
$heading3: 19px;
$heading4: 16px;
$heading5: 13px;
$heading6: 11px;

// Base
// ==========================================================================
$font-family: $roboto;
$font-size: 16px;
$color: $charcoal-darkblue;
$radius: 2px;

// Screen widths
// ==========================================================================
$from-tiny: 500px;
$to-tiny: $from-tiny - 1;
$from-small: 700px;
$to-small: $from-small - 1;
$from-medium: 1000px;
$to-medium: $from-medium - 1;
$from-large: 1200px;
$to-large: $from-large - 1;
$from-huge: 1600px;
$to-huge: $from-huge - 1;

// Units
// ==========================================================================
$unit: 60px;
$unit-small: 15px;
$spacer-x: 25px;

// Components
// ==========================================================================
$nav-width: 390px;
$nav-main-width: 90px;
$nav-header-height: 95px;

$nav-small: 80px;
$nav-page: 100px;

// Transitions
// ==========================================================================
$speed: 0.2s;
$speed-medium: 0.3s;
$slow-speed: $speed-medium;
$speed-large: 0.4s;
$slower-speed: $speed-large;
$easing: linear;
