// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$black: #000000;
$white: #ffffff;
$gray: #6c6c6c;
$gray-light: #cccccc;
$gray-dark: #262626;

// Charcoal
// =============================================================================
// $charcoal-darkblue: #080909;
// $charcoal-blue: #1a252d;
// $charcoal-lightblue: #eaf2f4;
// $charcoal-lightblue-dark: #d9e5e8;
$charcoal-darkblue: red;
$charcoal-blue: red;
$charcoal-lightblue: red;
$charcoal-lightblue-dark: red;

// $charcoal-white-1: #f9f9f9;
$charcoal-white-1: #f0f0f0;

$charcoal-gray-0: #e1e1e1;
$charcoal-gray-1: #dadadb;
$charcoal-gray-2: #bcbcbc;
$charcoal-gray-3: #686868;
$charcoal-gray-4: #393939;
$charcoal-gray-5: #2f2f2f;
$charcoal-gray-6: #202020;

$charcoal-red-1: #c34747;

$charcoal-blue-1: #6092f5;
$charcoal-blue-2: #4d84f1;
