// ==========================================================================
// Settings
// ==========================================================================

// Colors
// ==========================================================================
// Generic
$black: #000000;
$white: #ffffff;
$gray: #6c6c6c;
$gray-light: #cccccc;
$gray-dark: #262626;
$red: #ed5564;
$blue: #3498db;
// Charcoal
$charcoal-darkblue: #080909;
$charcoal-blue: #1a252d;
$charcoal-lightblue: #eaf2f4;
$charcoal-lightblue-dark: #d9e5e8;

// Fonts
// ==========================================================================
$roboto: 'Roboto', sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-semi: 500;
$weight-bold: 700;

// Base
// ==========================================================================
$font-family: $roboto;
$font-size: 16px;
$color: $charcoal-darkblue;
$radius: 2px;

// Screen widths
// ==========================================================================
$from-tiny: 500px;
$to-tiny: $from-tiny - 1;
$from-small: 700px;
$to-small: $from-small - 1;
$from-medium: 1000px;
$to-medium: $from-medium - 1;
$from-large: 1200px;
$to-large: $from-large - 1;
$from-huge: 1600px;
$to-huge: $from-huge - 1;


$heading1: rem(31px); // .alpha
$heading2: rem(20px); // .beta
$heading3: rem(19px); // .gamma
$heading4: rem(16px); // .delta
$heading5: rem(13px); // .epsilon
$heading6: rem(11px); // .zeta

// Units
// ==========================================================================
$unit: 60px;
$unit-small: 15px;

// Transitions
// ==========================================================================
$speed: 0.3s;
$slow-speed: 0.45s;
$slower-speed: 0.6s;
$easing: linear;
