var audioPropertyL10n = {
    "captureFailed": "{{# _t }}Failed to capture audio.{{/ _t }}",
    "missingRecorderPlugin": "{{# _t }}The audio recorder plugin is unavailable.{{/ _t }}",
    "missinRecorderUrl": "{{# _t }}The audio recorder plugin URL is missing or invalid.{{/ _t }}",
    "unsupportedAPI": "{{# _t }}Your browser does not support the audio API.{{/ _t }}",
    "unsupportedElement": "{{# _t }}Your browser does not support the <code>audio</code> element.{{/ _t }}",

    "idleState": "{{# _t }}Idle{{/ _t }}",
    "captureState": "{{# _t }}Recording…{{/ _t }}",
    "playbackState": "{{# _t }}Playing…{{/ _t }}",

    "recordAction": "{{# _t }}Record{{/ _t }}",
    "playAction": "{{# _t }}Play{{/ _t }}",
    "pauseAction": "{{# _t }}Pause{{/ _t }}",
    "resumeAction": "{{# _t }}Resume{{/ _t }}",
    "stopAction": "{{# _t }}Stop{{/ _t }}",
    "rewindAction": "{{# _t }}Rewind{{/ _t }}",
    "forwardAction": "{{# _t }}Forward{{/ _t }}",
    "skipStartAction": "{{# _t }}Skip to Start{{/ _t }}",
    "skipEndAction": "{{# _t }}Skip to End{{/ _t }}",

    "toggleCaptureLabel": "{{# _t }}Toggle recording state{{/ _t }}",
    "togglePlaybackLabel": "{{# _t }}Toggle playback state of a recording{{/ _t }}",
    "stopPlaybackLabel": "{{# _t }}Stop playback{{/ _t }}",
    "stopCaptureLabel": "{{# _t }}Complete recording{{/ _t }}",
    "resetCaptureLabel": "{{# _t }}Discard recording{{/ _t }}",

    "currentTimeLabel": "{{# _t }}Current Time{{/ _t }}",
    "durationLabel": "{{# _t }}Duration{{/ _t }}"
};