var authL10n = {
    "login":             "{{# _t }}Log In{{/ _t }}",
    "loginTitle":        "{{# _t }}auth.login.title{{/ _t }}",
    "loginAction":       "{{# _t }}auth.login.action{{/ _t }}",
    "postLoginRedirect": "{{# _t }}You will be redirected soon.{{/ _t }}",
    "postLoginFallback": '{{# _t }}If not, click <a href="[[ url ]]">here</a>.{{/ _t }}',

    "logoutTitle":        "{{# _t }}auth.logout.title{{/ _t }}",
    "logoutAction":       "{{# _t }}auth.logout.action{{/ _t }}",

    "authSuccess":       "{{# _t }}Authentication Successful{{/ _t }}",
    "authFailed":        "{{# _t }}Authentication Failed{{/ _t }}",

    "passwordReset":     "{{# _t }}Password Reset{{/ _t }}",
    "resetPassSuccess":  "{{# _t }}Password has been successfully changed.{{/ _t }}",
    "resetPassFailed":   "{{# _t }}An error occurred while processing the password change.{{/ _t }}",

    "lostPassword":      "{{# _t }}Lost Password{{/ _t }}",
    "lostPassSuccess":   "{{# _t }}If a registered user matches the given email address, instructions to reset your password will be sent to the email address registered with that account.{{/ _t }}",
    "lostPassFailed":    "{{# _t }}An error occurred while processing the password reset request.{{/ _t }}"
};