BootstrapDialog = {
    DEFAULT_TEXTS: {}
};
BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_DEFAULT] = '{{# _t }}Information{{/ _t }}';
BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_INFO]    = '{{# _t }}Information{{/ _t }}';
BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_PRIMARY] = '{{# _t }}Information{{/ _t }}';
BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_SUCCESS] = '{{# _t }}Success{{/ _t }}';
BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_WARNING] = '{{# _t }}Warning{{/ _t }}';
BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_DANGER]  = '{{# _t }}Danger{{/ _t }}';

BootstrapDialog.DEFAULT_TEXTS['OK']      = '{{# _t }}OK{{/ _t }}';
BootstrapDialog.DEFAULT_TEXTS['CANCEL']  = '{{# _t }}Cancel{{/ _t }}';
BootstrapDialog.DEFAULT_TEXTS['CONFIRM'] = '{{# _t }}Confirmation{{/ _t }}';
