var cacheL10n = {
    "progress":      "{{# _t }}In progress…{{/ _t }}",
    "unknownError":  "{{# _t }}Unknown Error{{/ _t }}",
    "errorTemplate": "{{# _t }}[[ errorMessage ]]: [[ errorThrown ]]{{/ _t }}",
    "errorOccurred": "{{# _t }}An error occurred{{/ _t }}",
    "cleared":       "{{# _t }}Cache Cleared{{/ _t }}",
    "failed":        "{{# _t }}Failed to clear cache{{/ _t }}",
    "title":         "{{# _t }}Cache{{/ _t }}"
};
