var commonL10n = {
    "loading":        "{{# _t }}Loading…{{/ _t }}",
    "redirecting":    "{{# _t }}Redirecting…{{/ _t }}",
    "confirmAction":  "{{# _t }}Are you sure you want to do this?{{/ _t }}",
    "cantUndo":       "{{# _t }}This operation cannot be undone.{{/ _t }}",
    "dismissNotice":  "{{# _t }}Dismiss this notice.{{/ _t }}",
    "invalidObject":  "{{# _t }}Invalid object type or ID{{/ _t }}",
    "tryAgain":       "{{# _t }}Try again{{/ _t }}",
    "tryAgainLater":  "{{# _t }}Try again later{{/ _t }}",
    "unknownError":   "{{# _t }}Unknown Error{{/ _t }}",
    "workerTimedout": "{{# _t }}Web Worker time-out period reached{{/ _t }}",
    "errorTemplate":  "{{# _t }}[[ errorMessage ]]: [[ errorThrown ]]{{/ _t }}",
    "errorOccurred":  "{{# _t }}An error occurred{{/ _t }}",
    "error":          "{{# _t }}Error{{/ _t }}",
    "reason":         "{{# _t }}Reason:{{/ _t }}",
    "success":        "{{# _t }}Success{{/ _t }}",
    "notice":         "{{# _t }}Notice{{/ _t }}",
    "warning":        "{{# _t }}Attention{{/ _t }}",
    "confirm":        "{{# _t }}Confirmation{{/ _t }}",
    "proceed":        "{{# _t }}Proceed{{/ _t }}",
    "continue":       "{{# _t }}Continue{{/ _t }}",
    "remove":         "{{# _t }}Remove{{/ _t }}",
    "delete":         "{{# _t }}Delete{{/ _t }}",
    "cancel":         "{{# _t }}Cancel{{/ _t }}",
    "aye":            "{{# _t }}Yes{{/ _t }}",
    "nay":            "{{# _t }}No{{/ _t }}",
    "close":          "{{# _t }}Close{{/ _t }}"
};