var formWidgetL10n = {
    "isBusy":          "{{# _t }}Form is busy{{/ _t }}",
    "isBlocked":       "{{# _t }}Form is blocked{{/ _t }}",
    "isProcessing":    "{{# _t }}Form is processing{{/ _t }}",
    "isSubmitting":    "{{# _t }}Form is submitting{{/ _t }}",
    "saving":          "{{# _t }}Saving object{{/ _t }}",
    "saveFailed":      "{{# _t }}Failed to save object{{/ _t }}",
    "creating":        "{{# _t }}Creating object{{/ _t }}",
    "createFailed":    "{{# _t }}Failed to create object{{/ _t }}",
    "updating":        "{{# _t }}Updating object{{/ _t }}",
    "updateFailed":    "{{# _t }}Failed to update object{{/ _t }}",
    "confirmDeletion": "{{# _t }}Confirm Deletion{{/ _t }}",
    "deletingObject":  "{{# _t }}Deleting object{{/ _t }}",
    "deleteObject":    "{{# _t }}Delete Object{{/ _t }}",
    "deleteFailed":    "{{# _t }}Failed to delete object{{/ _t }}",
    "revisions":       "{{# _t }}Revisions{{/ _t }}",
    "validation": {
        "badInput":                         "{{# _t }}form.validation.bad_input{{/ _t }}",
        "badInputNumber":                   "{{# _t }}form.validation.bad_input_number{{/ _t }}",
        "patternMismatch":                  "{{# _t }}form.validation.pattern_mismatch{{/ _t }}",
        "patternMismatchWithFormat":        "{{# _t }}form.validation.pattern_mismatch_with_format{{/ _t }}",
        "patternMismatchWithStart":         "{{# _t }}form.validation.pattern_mismatch_with_start{{/ _t }}",
        "patternMismatchWithEnd":           "{{# _t }}form.validation.pattern_mismatch_with_end{{/ _t }}",
        "rangeOverflow":                    "{{# _t }}form.validation.range_overflow{{/ _t }}",
        "rangeOverflowDatetime":            "{{# _t }}form.validation.range_overflow_datetime{{/ _t }}",
        "rangeUnderflow":                   "{{# _t }}form.validation.range_underflow{{/ _t }}",
        "rangeUnderflowDatetime":           "{{# _t }}form.validation.range_underflow_datetime{{/ _t }}",
        "rangeUnderflowAndOverflow":        "{{# _t }}form.validation.range_underflow_and_overflow{{/ _t }}",
        "stepMismatch":                     "{{# _t }}form.validation.step_mismatch{{/ _t }}",
        "stepMismatchOneValue":             "{{# _t }}form.validation.step_mismatch_one_value{{/ _t }}",
        "tooLong":                          "{{# _t }}form.validation.too_long{{/ _t }}",
        "tooLongWithCount":                 "{{# _t }}form.validation.too_long_with_count{{/ _t }}",
        "tooShort":                         "{{# _t }}form.validation.too_short{{/ _t }}",
        "tooShortWithCount":                "{{# _t }}form.validation.too_short_with_count{{/ _t }}",
        "tooShortPlural":                   "{{# _t }}form.validation.too_short_plural{{/ _t }}",
        "notUnique":                        "{{# _t }}form.validation.not_unique{{/ _t }}",
        "typeMismatch":                     "{{# _t }}form.validation.type_mismatch{{/ _t }}",
        "typeMismatchDate":                 "{{# _t }}form.validation.type_mismatch_date{{/ _t }}",
        "typeMismatchDatetime":             "{{# _t }}form.validation.type_mismatch_datetime{{/ _t }}",
        "typeMismatchEmail":                "{{# _t }}form.validation.type_mismatch_email{{/ _t }}",
        "typeMismatchNumber":               "{{# _t }}form.validation.type_mismatch_number{{/ _t }}",
        "typeMismatchTel":                  "{{# _t }}form.validation.type_mismatch_tel{{/ _t }}",
        "typeMismatchTime":                 "{{# _t }}form.validation.type_mismatch_time{{/ _t }}",
        "typeMismatchUrl":                  "{{# _t }}form.validation.type_mismatch_url{{/ _t }}",
        "valueMissing":                     "{{# _t }}form.validation.value_missing{{/ _t }}",
        "valueMissingCheckbox":             "{{# _t }}form.validation.value_missing_checkbox{{/ _t }}",
        "valueMissingFile":                 "{{# _t }}form.validation.value_missing_file{{/ _t }}",
        "valueMissingFileMultiple":         "{{# _t }}form.validation.value_missing_file_multiple{{/ _t }}",
        "valueMissingRadio":                "{{# _t }}form.validation.value_missing_radio{{/ _t }}",
        "valueMissingSelect":               "{{# _t }}form.validation.value_missing_select{{/ _t }}",
        "valueMissingSelectMultiple":       "{{# _t }}form.validation.value_missing_select_multiple{{/ _t }}"
    }
};