var formWidgetL10n = {
    "createFailed":    "{{# _t }}Failed to create object{{/ _t }}",
    "updateFailed":    "{{# _t }}Failed to update object{{/ _t }}",
    "confirmDeletion": "{{# _t }}Confirm Deletion{{/ _t }}",
    "deleteObject":    "{{# _t }}Delete Object{{/ _t }}",
    "deleteFailed":    "{{# _t }}Failed to delete object{{/ _t }}"
};
