var objectRevisionsWidgetL10n = {
    "title":        "{{# _t }}Restore This Revision{{/ _t }}",
    "message":      "{{# _t }}Are you sure you want to restore this revision?{{/ _t }} {{# _t }}Any changes made since this revision will be canceled.{{/ _t }}",
    "restore":      "{{# _t }}Restore{{/ _t }}",
    "restoreError": "{{# _t }}Error:{{/ _t }} {{# _t }}Unable to revert to the revision.{{/ _t }}"
};
