var pivotWidgetL10n = {
    "editObject":     "{{# _t }}Edit Object{{/ _t }}",
    "confirmRemoval": "{{# _t }}Confirm Removal{{/ _t }}",
    "removeObject":   "{{# _t }}Remove Object{{/ _t }}",
    "removeFailed":   "{{# _t }}Failed to remove object{{/ _t }}"
};
