var tableWidgetL10n = {
    "quickCreate":     "{{# _t }}Quick Create{{/ _t }}",
    "quickEdit":       "{{# _t }}Quick Edit{{/ _t }}",
    "confirmDeletion": "{{# _t }}Confirm Deletion{{/ _t }}",
    "deleteObject":    "{{# _t }}Delete Object{{/ _t }}",
    "deleteFailed":    "{{# _t }}Failed to delete object{{/ _t }}",
    "importList":      "{{# _t }}Import List{{/ _t }}",
};
