var widgetL10n = {
    "loading":       "{{# _t }}Loading Widget…{{/ _t }}",
    "loadingFailed": "{{# _t }}Failed to load widget{{/ _t }}",
    "isBusy":        "{{# _t }}Widget is busy{{/ _t }}",
    "isBlocked":     "{{# _t }}Widget is blocked{{/ _t }}",
    "isProcessing":  "{{# _t }}Widget is processing{{/ _t }}"
};