{{!--
    File Property Input JS Component
    ================================

    @used-by `charcoal/admin/property/input/file`
--}}
{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id:   '{{ inputId }}',
    type: '{{ inputType }}',
    data: {
        input_name:   '{{ inputName }}',
        // input_val:    '{{ inputVal }}',
        dialog_title: '{{ dialogTitle }}',
        elfinder_url: '{{ adminUrl }}elfinder?obj_type={{ objType }}&obj_id={{ objId }}&property={{ p.ident }}&callback={{ inputId }}'
    }
});
</script>
{{/ addJs }}
