{{!--
    File Property Input JS Component
    ================================

    @used-by `charcoal/admin/property/input/file`
--}}
{{# prepareFilePickerUrl }}{{!-- NOOP --}}{{/ prepareFilePickerUrl }}
{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id:   '{{ inputId }}',
    type: '{{ inputType }}',
    data: {{& controlDataForJsAsJson }}
});
</script>
{{/ addJs }}