{{!--
    File Property Input \ Preview Container
    =======================================

    `charcoal/admin/property/input/file`
--}}
{{# showFilePreview }}
{{# placeholder }}
<figure class="img-thumbnail show-if-no-file{{# inputVal }} d-none{{/ inputVal }}">
    <div>
        <img src="{{& placeholderVal }}" style="max-width: 100%; opacity: 0.5">
    </div>
    <figcaption class="figure-caption">
        <p class="u-truncate">
            <samp title="{{ placeholder }}">{{& placeholder }}</samp>
        </p>
    </figcaption>
</figure>
{{/ placeholder }}
{{/ showFilePreview }}

