{{!--
    File Property Input \ Preview
    ==============================

    `charcoal/admin/property/input/file`
--}}
{{!--
<a class="btn btn-default" href="[[ previewVal ]]" target="_blank">[[# _t ]]View File[[/ _t ]]</a>
--}}
