{{!--
Audio Property Input
=======================

`charcoal/admin/property/input/audio`

--}}
{{!#add_css}}
<style>
canvas {
    display: inline-block;
    background: #202020;
    width: 50%;
    height: 200px;
    box-shadow: 0px 0px 10px blue;
}
.btn-record.-is-recording {
    background: red;
}
.btn-play.-is-playing {
    background: green;
}
</style>
{{!/add_css}}

<canvas id="analyser" width="500" height="250"></canvas><canvas id="wavedisplay" width="500" height="250"></canvas>

<button class="btn btn-record" type="button" data-label-record="Record" data-label-pause="Pause">Record</button>

<button class="btn btn-stop-record" disabled type="button">Stop recording</button>

<button class="btn btn-play" disabled type="button" data-label-play="Play" data-label-pause="Pause">Play</button>

<button class="btn btn-reset" disabled type="button">Reset</button>

 <input type="hidden" id="{{input_id}}" name="{{input_name}}" value="">

{{#add_js}}
<script>
var audio_property;
$(document).ready(function() {
    audio_property = new Charcoal.Admin.Property_Audio({
        input_id : '{{input_id}}'
    });
});
</script>
{{/add_js}}
