{{!--
Audio Property Input
=======================

`charcoal/admin/property/input/audio`

--}}

{{# displayAudioWidget }}
    <div class="o-toolbox -small" id="{{ inputId }}">
        <div class="o-toolbox_actions">
            <div class="btn-group-vertical btn-group-toggle d-flex h-100" role="group" aria-label="{{# _t }}Audio Actions{{/ _t }}">
                {{# textEnabled }}
                    <button class="o-toolbox_button btn btn-outline-dark js-toggle-pane" data-pane="text" type="button">
                        <svg class="o-toolbox_icon" role="img"><use xlink:href="{{ baseUrl }}assets/admin/images/svgs.svg#icon-text"></use></svg>
                        <span class="sr-only">{{# _t }}Enter text here{{/ _t }}</span>
                    </button>
                {{/ textEnabled }}
                {{# recordingEnabled }}
                    <button class="o-toolbox_button btn btn-outline-dark js-toggle-pane" data-pane="recording" type="button">
                        <svg class="o-toolbox_icon" role="img"><use xlink:href="{{ baseUrl }}assets/admin/images/svgs.svg#icon-microphone"></use></svg>
                        <span class="sr-only">{{# _t }}Record A Message{{/ _t }}</span>
                    </button>
                {{/ recordingEnabled }}
                {{# fileEnabled }}
                    <button class="o-toolbox_button btn btn-outline-dark js-toggle-pane" data-pane="file" type="button">
                        <svg class="o-toolbox_icon" role="img"><use xlink:href="{{ baseUrl }}assets/admin/images/svgs.svg#icon-file"></use></svg>
                        <span class="sr-only">{{# _t }}Upload Audio File{{/ _t }}</span>
                    </button>
                {{/ fileEnabled }}
            </div>
        </div>
        <div class="o-toolbox_content">
            {{# textEnabled }}
                <div class="o-toolbox_pane js-pane" data-pane="text">
                    <textarea class="form-control -norounded -noborder js-text-voice-message" id="voice_message_input_{{ inputId }}" style="height:100%;" name="voice_message[fr]">{{& alert.voiceMessage.fr }}</textarea>
                </div>
            {{/ textEnabled }}
            {{# recordingEnabled }}
                <div class="o-toolbox_pane p-3 js-pane d-none" data-pane="recording">
                    {{!-- Here be the recording widget --}}
                    <div class="c-audio-player -complex">
                        <div class="c-audio-player_wrap">
                            <button class="btn c-audio-player_button -playback js-recording-playback" disabled type="button">
                                <span class="fa fa-play" aria-hidden="true"></span>
                                <span class="fa fa-pause" aria-hidden="true"></span>
                                <span class="sr-only">{{# _t }}Play/Pause{{/ _t }}</span>
                            </button>
                            <button class="btn c-audio-player_button -stop js-recording-stop" disabled type="button">
                                <span class="fa fa-stop" aria-hidden="true"></span>
                                <span class="sr-only">{{# _t }}Complete Recording{{/ _t }}</span>
                            </button>
                            <button class="btn c-audio-player_button -reset js-recording-reset" disabled type="button">
                                <span class="fa fa-refresh" aria-hidden="true"></span>
                                <span class="sr-only">{{# _t }}Restart Recording{{/ _t }}</span>
                            </button>
                            <button class="btn c-audio-player_button -record js-recording-record" type="button">
                                <span class="c-audio-player_button_circle"></span>
                                <span class="fa fa-pause" aria-hidden="true"></span>
                                <span class="sr-only">{{# _t }}Record{{/ _t }}</span>
                            </button>
                            <span class="c-audio-player_time js-recording-timer">00:00</span>
                        </div>
                        <canvas class="c-audio-player_canvas -analyser js-recording-analyser"></canvas>
                        <canvas class="c-audio-player_canvas -waves d-none js-recording-waves"></canvas>
                    </div>
                </div>
            {{/ recordingEnabled }}
            {{# fileEnabled }}
                <div class="o-toolbox_pane p-3 js-pane d-none" data-pane="file">
                    <p><audio class="js-file-audio{{^ alert.voiceAudio }} hide{{/ alert.voiceAudio }}" src="{{ alert.voiceAudio }}" controls></audio></p>
                    <div class="row">
                        <div class="col-6"><input type="file" name="voice_audio" class="form-control js-file-input{{# alert.voiceAudio }} hide{{/ alert.voiceAudio }}"></div>
                        <div class="col-6"><button type="button" class="btn btn-danger js-file-reset{{^ alert.voiceAudio }} hide{{/ alert.voiceAudio }}">{{# _t }}Delete{{/ _t }}</button></div>
                    </div>
                </div>
            {{/ fileEnabled }}
        </div>
        {{!
            Input that will contain the actual data
            This input will be posted on save / update
        }}
        <input
            class="js-file-input-hidden"
            id="hidden_{{ inputId }}"
            type="hidden"
            name="voice_audio"
            value="{{ alert.voiceAudio }}">
    </div>
    {{# addJsRequirement }}
        <script rel="l10n">
            {{> charcoal/admin/l10n/audio.js }}
        </script>
    {{/ addJsRequirement }}
    {{# addJs }}
        <script>
            Charcoal.Admin.manager().add_property_input({
                id:   '{{ inputId }}',
                type: 'charcoal/admin/property/input/audio',
                data: {{& controlDataForJsAsJson }}
            });
        </script>
    {{/ addJs }}
{{/ displayAudioWidget }}
{{^ displayAudioWidget }}
    <div class="o-toolbox -small">
        <p>{{# _t }}You must activate at least one of the following methods: text, record, or file{{/ _t }}</p>
    </div>
{{/ displayAudioWidget }}
