{{!--
    Audio Property Input
    ====================

    `charcoal/admin/property/input/audio`
--}}
{{# addJsRequirement }}
    <script rel="l10n">
        {{> charcoal/admin/l10n/audio.js }}
    </script>
{{/ addJsRequirement }}
{{> charcoal/admin/property/input/file }}