{{!--
Checkbox Property Input
=======================

`charcoal/admin/property/input/checkbox`

--}}
<div class="checkbox">
    <input
        type="checkbox"
        id="{{inputId}}"
        name="{{inputName}}"
        class="{{inputClass}}"
        {{#checked}}checked{{/checked}}
        {{#readOnly}}readonly{{/readOnly}}
        {{#required}}required{{/required}}
        {{#disabled}}disabled{{/disabled}}
    >
    <label></label>
</div>
