{{!--
Checkbox Property Input
=======================

`charcoal/admin/property/input/checkbox`

--}}
{{#choices}}
<label class="checkbox-inline">
    <input
        type="checkbox"
        id="{{inputId}}"
        name="{{inputName}}"
        class="{{inputClass}}"
        {{#checked}}checked{{/checked}}
        {{#readOnly}}readonly{{/readOnly}}
        {{#required}}required{{/required}}
        {{#disabled}}disabled{{/disabled}}
        value="{{value}}"
    >
    <span>{{title}}</span>
</label>
{{/choices}}
