{{!--
DateTime picker Range Property Input
=======================

`charcoal/admin/property/input/datetimepickerrange`

--}}
<div class="row">
    <div class="col-md-6">
        <div class="datetimepickerinput input-group{{# inputGroupClass }} {{ . }}{{/ inputGroupClass }}" id="datetimepicker_from_{{ inputId }}" data-target-input="nearest">
            <input
                type="text"
                id="from_{{ inputId }}"
                name="{{ inputName }}[from]"
                class="form-control datetimepicker-input{{# inputClass }} {{ . }}{{/ inputClass }}"
                data-target="#datetimepicker_from_{{ inputId }}"
                placeholder="De"
                {{# readOnly }}readonly{{/ readOnly }}
                {{# required }}required{{/ required }}
                {{# disabled }}disabled{{/ disabled }}
                value="">
            <div class="input-group-append">
                <button id="from_{{ inputId }}_create" class="btn btn-lg btn-outline-secondary"
                        data-target="#datetimepicker_from_{{ inputId }}"
                        data-toggle="datetimepicker"
                        for="from_{{ inputId }}" type="button">
                    <span class="sr-only">{{# _t }}Use Calendar Widget{{/ _t }}</span>
                    <span class="fa fa-calendar" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="datetimepickerinput input-group{{# inputGroupClass }} {{ . }}{{/ inputGroupClass }}" id="datetimepicker_to_{{ inputId }}" data-target-input="nearest">
            <input
                type="text"
                id="to_{{ inputId }}"
                name="{{ inputName }}[to]"
                class="form-control datetimepicker-input{{# inputClass }} {{ . }}{{/ inputClass }}"
                data-target="#datetimepicker_to_{{ inputId }}"
                placeholder="A"
                {{# readOnly }}readonly{{/ readOnly }}
                {{# required }}required{{/ required }}
                {{# disabled }}disabled{{/ disabled }}
                value="">
            <div class="input-group-append">
                <button id="to_{{ inputId }}_create" class="btn btn-lg btn-outline-secondary"
                        data-target="#datetimepicker_to_{{ inputId }}"
                        data-toggle="datetimepicker"
                        for="to_{{ inputId }}" type="button">
                    <span class="sr-only">{{# _t }}Use Calendar Widget{{/ _t }}</span>
                    <span class="fa fa-calendar" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

</div>


{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id: 'from_{{ inputId }}',
    type: 'charcoal/admin/property/input/DateTimePicker',
    data: {
        datetimepicker_selector: '#datetimepicker_from_{{ inputId }}',
        datetimepicker_options:  {{& pickerOptionsAsJson }}
    }
});
Charcoal.Admin.manager().add_property_input({
    id: 'to_{{ inputId }}',
    type: 'charcoal/admin/property/input/DateTimePicker',
    data: {
        datetimepicker_selector: '#datetimepicker_to_{{ inputId }}',
        datetimepicker_options:  {{& pickerOptionsAsJson }}
    }
});
</script>
{{/ addJs }}
