{{!--
DateTime picker Property Input
=======================

`charcoal/admin/property/input/datetimepicker`

--}}
<div class="input-group date" id="datetimepicker_{{inputId}}">
    <input
        type="text"
        id="{{inputId}}"
        name="{{inputName}}"
        class="form-control {{inputClass}}"
        {{#placeholder}}placeholder="{{placeholder}}"{{/placeholder}}
        {{#readOnly}}readonly{{/readOnly}}
        {{#required}}required{{/required}}
        {{#disabled}}disabled{{/disabled}}
        value="{{inputVal}}"
    >
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

{{#addJs}}
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{inputId}}',
    type: 'charcoal/admin/property/input/DateTimePicker',
    data: {
        datetimepicker_selector : '#datetimepicker_{{inputId}}',
        datetimepicker_options: {
            // moment.js formatting
            format: 'YYYY-MM-DD HH:mm:ss',
            defaultDate: '{{inputVal}}'
        }
    }
});
</script>
{{/addJs}}
