 {{!--
DualSelect Options Property Input
=============================

`charcoal/admin/property/input/dualselect`
--}}

<div class="row">
    <div class="col-xs-5">



        {{# searchable }}
            <input id="{{inputId}}_searchLeft" type="text" name="q" class="form-control" placeholder="{{ left.placeholder }}" />
        {{/ searchable }}

        <select name="[]" id="{{inputId}}" class="form-control {{inputClass}}" size="8" multiple="multiple">
            {{# unselectedChoices }}
                <option value="{{value}}" label="{{label}}" data-subtext="{{subtext}}" data-icon="{{icon}}">{{ title }}</option>
            {{/ unselectedChoices }}
        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="{{inputId}}_undo" class="btn btn-info btn-block">undo</button>
        <button type="button" id="{{inputId}}_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="{{inputId}}_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="{{inputId}}_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="{{inputId}}_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
        <button type="button" id="{{inputId}}_redo" class="btn btn-warning btn-block">redo</button>
        <!--<div class="col-xs-6">-->
            <!--<button type="button" id="{{inputId}}_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>-->
            <!--<button type="button" id="{{inputId}}_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>-->
        <!--</div>-->
        <!--<div class="col-xs-6">-->
            <!--<button type="button" id="{{inputId}}_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>-->
            <!--<button type="button" id="{{inputId}}_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>-->
        <!--</div>-->
    </div>

    <div class="col-xs-5">
        {{# searchable }}
            <input id="{{inputId}}_searchRight" type="text" name="q" class="form-control" placeholder="{{ right.placeholder }}" />
        {{/ searchable }}

        <input type="hidden" name="{{inputName}}" value="">
        <select name="{{inputName}}" id="{{inputId}}_to" class="form-control" size="8" multiple="multiple">
            {{# selectedChoices }}
                <option value="{{value}}" label="{{label}}" data-subtext="{{subtext}}" data-icon="{{icon}}">{{ title }}</option>
            {{/ selectedChoices}}
        </select>
    </div>
</div>

{{#addJs}}
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{inputId}}',
    type: 'charcoal/admin/property/input/DualSelect',
    data: {
        {{# searchable }}searchable: true, {{/ searchable }}
        dualinput_options: {{& options }}
    }
});
</script>
{{/addJs}}
