{{!--
    Dual Select Property Input
    ==========================

    `charcoal/admin/property/input/dual-select`
--}}

<div class="row">
    <div class="col-xs-5">
        {{# searchable }}
        <input id="{{ inputId }}_searchLeft" type="text" name="q" class="form-control" placeholder="{{ left.placeholder }}" />
        {{/ searchable }}

        <select name="[]" id="{{ inputId }}" class="form-control {{ inputClass }}" size="8" multiple="multiple">
            {{# unselectedChoices }}
            {{> charcoal/admin/property/input/dual-select/option }}
            {{/ unselectedChoices }}
        </select>
    </div>

    <div class="col-xs-2">
        {{> charcoal/admin/property/input/dual-select/actions }}
    </div>

    <div class="col-xs-5">
        {{# searchable }}
        <input id="{{ inputId }}_searchRight" type="text" name="q" class="form-control" placeholder="{{ right.placeholder }}" />
        {{/ searchable }}

        <input type="hidden" name="{{ inputName }}" value="">
        <select name="{{ inputName }}" id="{{ inputId }}_to" class="form-control" size="8" multiple="multiple">
            {{# selectedChoices }}
            {{> charcoal/admin/property/input/dual-select/option }}
            {{/ selectedChoices }}
        </select>
    </div>
</div>

{{> charcoal/admin/property/input/dual-select/js }}
