{{!--
    Dual Select Property Input
    ==========================

    `charcoal/admin/property/input/dual-select`
--}}

<div class="row c-dualselect bootstrap-multiselect">
    <div class="c-dualselect_list -left col-xs-5">
        <label class="sr-only" for="{{ inputId }}">{{# _t }}Unselected options{{/ _t }}</label>

        {{# searchable }}
            <label class="sr-only" for="{{ inputId }}_searchLeft">{{# _t }}Search the left side{{/ _t }}</label>
            <input id="{{ inputId }}_searchLeft" type="text" name="q" class="form-control"
                   placeholder="{{ left.placeholder }}"/>
        {{/ searchable }}

        <select name="[]" id="{{ inputId }}" class="form-control {{ inputClass }}" size="8" multiple="multiple">
        {{# unselectedChoices }}
            {{> charcoal/admin/property/input/dual-select/option }}
        {{/ unselectedChoices }}
        </select>
    </div>

    <div class="c-dualselect_transfer col-xs-2">
        {{> charcoal/admin/property/input/dual-select/transfer }}
    </div>

    <div class="c-dualselect_list -right col-xs-5">
        <label class="sr-only" for="{{ inputId }}_to">{{# _t }}Selected options{{/ _t }}</label>

        {{# searchable }}
            <label class="sr-only" for="{{ inputId }}_searchRight">{{# _t }}Search the right side{{/ _t }}</label>
            <input id="{{ inputId }}_searchRight" type="text" name="q" class="form-control"
                   placeholder="{{ right.placeholder }}"/>
        {{/ searchable }}

        {{> charcoal/admin/property/control/fallback }}
        <select name="{{ inputName }}" id="{{ inputId }}_to" class="form-control" size="8" multiple="multiple">
        {{# selectedChoices }}
            {{> charcoal/admin/property/input/dual-select/option }}
        {{/ selectedChoices }}
        </select>

        {{# reorderable }}
            <div class="c-dualselect_reorder row">
                {{> charcoal/admin/property/input/dual-select/reorder }}
            </div>
        {{/ reorderable }}
    </div>
</div>

{{> charcoal/admin/property/input/dual-select/js }}
