{{!--
    File Property Input
    ===================

    `charcoal/admin/property/input/file`
--}}
<div id="{{ inputId }}">
    {{> charcoal/admin/property/input/file/control }}
    {{> charcoal/admin/property/input/file/preview }}
</div>

{{> charcoal/admin/property/input/file/js }}
