{{!--
File Property Input
===================

`charcoal/admin/property/input/file`

--}}
<input
    type="file"
    id="{{inputId}}"
    name="{{inputName}}"
    class="{{inputClass}}"
    {{#accept}}accept="{{accept}}"{{/accept}}
    {{#readOnly}}read_only{{/readOnly}}
    {{#required}}required{{/required}}
    {{#disabled}}disabled{{/disabled}}
>
{{inputVal}}
