{{!--
File Property Input
===================

`charcoal/admin/property/input/file`

--}}
<input
	type="checkbox" 
	id="{{input_id}}" 
	name="{{input_name}}" 
	class="{{input_class}}"
	{{#accept}}accept="{{accept}}"{{/accept}}
	{{#read_only}}read_only{{/read_only}} 
	{{#required}}required{{/required}} 
	{{#disabled}}disabled{{/disabled}}
>
