{{!--
    Hidden Input Control
    ====================

    `charcoal/admin/property/input/hidden`
--}}
<input type="hidden" id="{{ inputId }}" name="{{ inputName }}"{{# disabled }} disabled{{/ disabled }} value="{{ inputVal }}">
