{{!--
Image Property Input
===================

`charcoal/admin/property/input/image`

--}}
<div id="{{inputId}}">
    <div class="js-preview">{{#inputVal}}<img src="{{baseUrl}}{{inputVal}}" style="max-width: 100%">{{/inputVal}}</div>
    {{#inputVal}}
    <div>
        <button type="button" class="btn btn-default js-remove-image">{{# _t }}Retirer l'image{{/ _t }}</button>
    </div>

    <input type="hidden" value="{{inputVal}}" name="{{inputName}}">

    {{/inputVal}}
    <input
        type="file"
        name="{{inputName}}"
        class="{{inputClass}}"
        {{#accept}}accept="{{accept}}"{{/accept}}
        {{#readOnly}}readonly{{/readOnly}}
        {{#required}}required{{/required}}
        {{#disabled}}disabled{{/disabled}}
    >

    <button type="button" class="btn btn-default js-elfinder">{{# _t }}Choisissez une image…{{/ _t }}</button>

</div>

{{#addJsRequirement}}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{baseUrl}}assets/admin/elfinder/css/elfinder.min.css">
<link rel="stylesheet" type="text/css" href="{{baseUrl}}assets/admin/elfinder/css/theme.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{baseUrl}}assets/admin/elfinder/themes/moono/css/theme.css">
<script src="{{baseUrl}}assets/admin/elfinder/js/elfinder.min.js"></script>
{{/addJsRequirement}}

{{#addJs}}
<script>
var inputDialog = inputDialog || null;
    elFinderCallback = elFinderCallback || {};

elFinderCallback['{{inputId}}'] = function (file, elf) {
    console.debug('Selected File', file);

    if (inputDialog) {
        inputDialog.close();
    }

    if (file && file.path) {
        // $('input[type="file"]', '#{{inputId}}').val(file.path);
    }
};

$(document).ready(function(){
    $('#{{inputId}}').on('click.charcoal.elfinder', '.js-elfinder', function(event) {
        event.preventDefault();

        inputDialog = BootstrapDialog.show({
            title:   '{{# _t }}Librairie de fichiers{{/ _t }}',
            size:    BootstrapDialog.SIZE_WIDE,
            message: $('<div></div>').load('{{admin_url}}elfinder?callback={{inputId}}')
        });
    });

    Charcoal.Admin.manager().add_property_input({
        id:   '{{inputId}}',
        type: 'charcoal/admin/property/input/image',
        data: {
            input_name: "{{inputName}}",
            input_val:  "{{inputVal}}"
        }
    });
});
</script>
{{/addJs}}
