{{!--
Image Property Input
===================

`charcoal/admin/property/input/image`

--}}
<div id="{{inputId}}">
    <div class="js-preview">
        {{#inputVal}}
        <img src="{{baseUrl}}{{inputVal}}" style="max-width: 100%">
        {{/inputVal}}
    </div>
    {{#inputVal}}
    <div>
        <a href="#" class="js-remove-image btn btn-default">
            Retirer l'image
        </a>
    </div>

        <input type="hidden" value="{{inputVal}}" name="{{inputName}}">
    {{/inputVal}}

    <input
        type="file"
        name="{{inputName}}"
        class="{{inputClass}}"
        {{#accept}}accept="{{accept}}"{{/accept}}
        {{#readOnly}}readonly{{/readOnly}}
        {{#required}}required{{/required}}
        {{#disabled}}disabled{{/disabled}}
    >

    <a class="btn btn-default js-elfinder">Select...</a>

</div>

{{#addJs}}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{base_url}}elfinder/css/elfinder.min.css">
<link rel="stylesheet" type="text/css" href="{{base_url}}elfinder/css/theme.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{base_url}}elfinder/themes/moono/css/theme.css">
<script src="{{base_url}}elfinder/js/elfinder.min.js"></script>

<script>

var inputDialog;

var elFinderCallback = elFinderCallback ? elFinderCallback : {};

elFinderCallback['{{inputId}}'] = function (file, elf) {
    console.debug(file);
    inputDialog.close();
};

$('.js-elfinder').on('click', function(event) {
    event.preventDefault();
    inputDialog = BootstrapDialog.show({
        title: "File manager",
        size: BootstrapDialog.SIZE_WIDE,
        message: $('<div></div>').load('{{admin_url}}elfinder?callback={{inputId}}')
    });
});

Charcoal.Admin.manager().add_property_input({
    id: '{{inputId}}',
    type: 'charcoal/admin/property/input/image',
    data: {
        input_name : "{{inputName}}",
        input_val : "{{inputVal}}"
    }
});

</script>
{{/addJs}}
