{{!--
    Map Widget Control
    ==================

    `charcoal/admin/property/input/map-widget`

    The map input widget will allow the user to access data that come from a google map
    There are difference possible action such as:
    - Create new marker
    - Create new line
    - Create new polygon
    - Create new area (radius) not yet active
    - Add marker by address
    - Center map by address

--}}
<div class="o-toolbox -left" id="{{inputId}}">
    <div class="o-toolbox_actions">
        <div class="btn-group-vertical" role="group" aria-label="{{# _t }}Mapping Actions{{/ _t }}">
            <button type="button" class="btn btn-secondary {{! -active }} js-display-marker-toolbox">
                <svg class="o-toolbox_icon" role="img"><use xlink:href="{{baseUrl}}assets/admin/images/svgs.svg#icon-map-marker"></use></svg>
                <span class="btn-label sr-only">{{#_t}}Add Marker{{/_t}}</span>
            </button>
            <button type="button" class="btn btn-secondary js-add-line">
                <svg class="o-toolbox_icon" role="img"><use xlink:href="{{baseUrl}}assets/admin/images/svgs.svg#icon-map-path"></use></svg>
                <span class="btn-label sr-only">{{#_t}}Add Line{{/_t}}</span>
            </button>
            <button type="button" class="btn btn-secondary js-add-polygon">
                <svg class="o-toolbox_icon" role="img"><use xlink:href="{{baseUrl}}assets/admin/images/svgs.svg#icon-map-region"></use></svg>
                <span class="btn-label sr-only">{{#_t}}Add Polygon{{/_t}}</span>
            </button>
            <button type="button" class="btn btn-secondary js-reset">
                <strong class="btn-label">{{# _t }}Reset{{/ _t }}</strong>
            </button>
            {{! Added this here to keep this button's integration, but cannot be used yet with the plugin }}
            {{!--
            <button type="button" class="btn btn-secondary">
                <svg class="o-toolbox_icon" role="img"><use xlink:href="[[ baseUrl ]]assets/admin/images/svgs.svg#icon-map-area"></use></svg>
                <span class="btn-label sr-only">[[# _t ]]Find My Location[[/ _t ]]</span>
            </button>
            --}}
        </div>
    </div>
    <div class="o-toolbox_content c-map-maker">
        <div class="c-map-maker_header">
            <label class="c-map-maker_label" for="c-map-maker-search">{{#_t}}Address{{/_t}}</label>
            <input class="c-map-maker_input form-control js-address" name="c-map-maker-search" type="text">
            <button type="button" class="c-map-maker_btn btn btn-lg btn-info js-add_place_by_address" data-toggle="modal" data-target="#myModal">
                <span class="btn-label">{{#_t}}Search{{/_t}}</span>
                </button>
            <button type="button" class="c-map-maker_btn btn btn-lg btn-info js-add-marker">
                <span class="fa fa-plus" aria-hidden="true"></span>
                <span class="btn-label sr-only">{{#_t}}Add Location{{/_t}}</span>
            </button>
        </div>
        <div class="c-map-maker_map js-map-maker-map"></div>
    </div>
    {{!
        Input that will contain the actual data
        This input will be posted on save / update
    }}
    <input type="hidden" name="{{inputName}}" value="{{inputVal}}">
</div>

{{# addJs }}
<script>
var inputOptions = {
    id:   '{{ inputId }}',
    type: 'charcoal/admin/property/input/map-widget',
};

{{#mapOptionsAsJson}}
    inputOptions['data'] = {{& mapOptionsAsJson }};
{{/mapOptionsAsJson}}

Charcoal.Admin.manager().add_property_input(inputOptions);
</script>
{{/ addJs }}
