{{!--
    Password Input Control
    =================

    `charcoal/admin/property/input/password`
--}}
{{> charcoal/admin/property/control/input-group }}
{{> charcoal/admin/property/input/text/js }}
