{{!--
    Text Input Control
    =================

    `charcoal/admin/property/input/text`
--}}
{{> charcoal/admin/property/control/input-group }}
{{# samples }}
{{> charcoal/admin/widget/permalink-sample }}
{{/ samples }}
