{{!--
Telephone Input

Display a property (most likely a `PropertyString`...) as a "tel" input.

`charcoal/admin/property/input/phone`

See also:
- `charcoal/admin/property/input/tel`
- `charcoal/admin/property/input/url`
--}}
<input
	type="tel"
	id="{{inputId}}"
	name="{{inputName}}"
	class="form-control {{inputClass}}"
	{{#size}}size="{{size}}"{{/size}}
	{{#minLength}}minlength="{{minLength}}"{{/minLength}}
	{{#maxLength}}maxlength="{{maxLength}}"{{/maxLength}}
	{{#pattern}}pattern="{{pattern}}"{{/pattern}}
	{{#placeholder}}placeholder="{{placeholder}}"{{/placeholder}}
	{{#readOnly}}read_only{{/readOnly}}
	{{#required}}required{{/required}}
	{{#disabled}}disabled{{/disabled}}
	value="{{inputVal}}"
>
