{{!--
    Radio Button Property Input
    ===========================

    `charcoal/admin/property/input/radio`
--}}
{{# choices }}
<div class="radio{{# inputLayouts.inline }} radio-inline{{/ inputLayouts.inline }}">
    {{> charcoal/admin/property/control/choice }}
    <label for="{{ inputId }}">{{& label }}</label>
</div>
{{/ choices }}
