{{!--
Radio Button Property Input
===========================

`charcoal/admin/property/input/radio`

--}}
{{#choices}}
<label class="radio-inline">
    <input
        type="radio"
        id="{{inputId}}"
        name="{{inputName}}"
        class="{{inputClass}}"
        {{#checked}}checked{{/checked}}
        {{#readOnly}}readonly{{/readOnly}}
        {{#required}}required{{/required}}
        {{#disabled}}disabled{{/disabled}}
        value="{{value}}"
    >
    <span>{{title}}</span>
</label>
{{/choices}}
