{{!--
    Radio Button Property Input
    ===========================

    `charcoal/admin/property/input/radio-color`
--}}
<fieldset class="radio-color-group">
    {{# choices }}
    <div class="radio-color form-check{{# inputLayouts.inline }} form-check-inline{{/ inputLayouts.inline }} radio-lg">
        {{> charcoal/admin/property/control/choice }}
        {{> charcoal/admin/property/input/choice/color-label }}
    </div>
    {{/ choices }}
</fieldset>
