{{!--
    Static Property Input
    =====================

    `charcoal/admin/property/input/readonly`
--}}
<p class="form-control-static">{{# inputVal }}{{& . }}{{/ inputVal }}{{^ inputVal }}—{{/ inputVal }}</p>
