{{!--
    Static Property Input
    =====================

    `charcoal/admin/property/input/readonly`
--}}
<div class="form-control-plaintext">{{^ inputVal }}—{{/ inputVal }}{{& displayVal }}</div>
