{{!--
    Static Property Input
    =====================

    `charcoal/admin/property/input/readonly`
--}}
<div class="form-control-plaintext">{{# hasInputVal }}{{& displayVal }}{{/ hasInputVal }}{{^ hasInputVal }}—{{/ hasInputVal }}</div>