{{!--

    Readonly Select
    ===============

    @used-by
        - `charcoal/admin/property/input/readonly-select`

--}}
<input type="hidden" name="{{ inputName }}" value="{{ inputVal }}">
<input type="text" id="{{ inputId }}" class="form-control {{ inputClass }}" readonly value="{{ displayVal }}">
