 {{!--
Select input

Display a property as a select with "choices".

`charcoal/admin/property/input/select`
--}}
<select
    id="{{inputId}}"
    name="{{inputName}}"
    class="selectpicker {{inputClass}}"
    {{#multiple}}multiple data-max-options=""{{/multiple}}
    {{#required}}required{{/required}}
    {{#disabled}}disabled{{/disabled}}
    {{#header}}data-header="Test"{{/header}}
>
    {{#choices}}
    <option value="{{value}}" label="{{label}}" data-subtext="{{subtext}}" data-icon="{{icon}}"{{#selected}} selected{{/selected}}>{{title}}</option>
    {{/choices}}
</select>
