{{!--
    Selectize Property Input
    ========================

    `charcoal/admin/property/input/selectize`
--}}

{{> charcoal/admin/property/input/selectize/control }}
{{> charcoal/admin/property/input/selectize/js }}