{{!--
    Select Options Property Input
    =============================

    `charcoal/admin/property/input/select`
--}}

{{# inputGroup }}
    <div class="input-group input-group-lg">
{{/ inputGroup }}
{{# isObject }}
    {{> charcoal/admin/property/control/select }}
{{/ isObject }}
{{^ isObject }}
        <input
            type="text"
            id="{{ inputId }}"
            name="{{ inputName }}"
            class="form-control {{ inputClass }}"
            value="{{ inputVal }}"
            {{# placeholder }}placeholder="{{ . }}"{{/ placeholder }}
            {{# readOnly }}readonly{{/ readOnly }}
            {{# required }}required{{/ required }}
            {{# disabled }}disabled{{/ disabled }}
        >
{{/ isObject }}

{{# inputGroup }}
        <span class="input-group-btn">
    {{# allowClipboardCopy }}
        <button id="{{ inputId }}_copy" class="btn btn-lg btn-secondary" type="button"
                data-clipboard-target="#{{ inputId }}">
            <span class="fa fa-copy" aria-hidden="true"></span>
            <span class="btn-label sr-only">{{# _t }}Copy To Clipboard{{/ _t }}</span>
        </button>
    {{/ allowClipboardCopy }}
    {{# allowUpdate }}
        <button id="{{ inputId }}_update" class="btn btn-info" type="button"
                        data-update-target="#{{ inputId }}">
            <span class="fa fa-pencil" aria-hidden="true"></span>
            <span class="btn-label sr-only">{{# _t }}Update selected item{{/ _t }}</span>
        </button>
    {{/ allowUpdate }}
    {{# allowCreate }}
        <button id="{{ inputId }}_create" class="btn btn-info" type="button"
                        data-update-target="#{{ inputId }}">
            <span class="fa fa-plus" aria-hidden="true"></span>
            <span class="btn-label sr-only">{{# _t }}Create a new item{{/ _t }}</span>
        </button>
    {{/ allowCreate }}
    </span>
    </div>
{{/ inputGroup }}

{{# addJs }}
    <script>
        Charcoal.Admin.manager().add_property_input({
            id:   '{{ inputId }}',
            type: 'charcoal/admin/property/input/selectize',
            data: {{& controlDataForJsAsJson }}
        });
    </script>
{{/ addJs }}
