{{!--
    Select Options Property Input
    =============================

    `charcoal/admin/property/input/select`
--}}
<select
    id="{{ inputId }}"
    name="{{ inputName }}"
    class="{{ inputClass }}"
    {{# size }}size="{{ . }}"{{/ size }}
    {{# multiple }}multiple{{/ multiple }}
    {{# placeholder }}placeholder="{{ . }}"{{/ placeholder }}
    {{# required }}required{{/ required }}
    {{# disabled }}disabled{{/ disabled }}
>
    {{# choices }}
    {{> charcoal/admin/property/input/select/option }}
    {{/ choices }}
</select>

{{> charcoal/admin/property/input/select/js }}
