{{!--
Switch Property Input
=======================

`charcoal/admin/property/input/switch`

--}}
<div>
<input
    id="switch_{{inputId}}"
    type="checkbox"
    class="form-control {{inputClass}}"
    data-target="{{inputId}}"
    {{#checked}}checked{{/checked}}
    {{#readOnly}}readonly{{/readOnly}}
    {{#required}}required{{/required}}
    {{#disabled}}disabled{{/disabled}}
>
<input type="hidden"
    id="{{inputId}}"
    name="{{inputName}}"
    value="{{value}}"
>
</div>

{{#addJs}}
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{inputId}}',
    type: 'charcoal/admin/property/input/switch',
    data: {
        input_selector : '#{{inputId}}',
        switch_selector : '#switch_{{inputId}}'
    }
});
</script>
{{/addJs}}
