{{!--
Text Input

Display a property (most likely a `PropertyString`...) as a "text" input.

`charcoal/admin/property/input/text`

See also:
- `charcoal/admin/property/input/tel`
- `charcoal/admin/property/input/url`
--}}
<input
	type="text"
	id="{{inputId}}"
	name="{{inputName}}"
	class="form-control {{inputClass}}"
	{{#size}}size="{{size}}"{{/size}}
	{{#minLength}}minlength="{{minLength}}"{{/minLength}}
	{{#maxLength}}maxlength="{{maxLength}}"{{/maxLength}}
	{{#pattern}}pattern="{{pattern}}"{{/pattern}}
	{{#placeholder}}placeholder="{{placeholder}}"{{/placeholder}}
	{{#readOnly}}read_only{{/readOnly}}
	{{#required}}required{{/required}}
	{{#disabled}}disabled{{/disabled}}
	value="{{inputVal}}"
>


{{#addJs}}
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{inputId}}',
    type: 'charcoal/admin/property/input/text',
    data: {
        input_name : "{{inputName}}"
        ,input_val : "{{inputVal}}"
        {{#multiple}}
        ,multiple : true
        ,multiple_separator : "{{property.multipleSeparator}}"
        {{/multiple}}
        {{#l10n}}
        ,l10n : true
        {{/l10n}}
        {{#minLength}}
        ,min_length : {{.}}
        {{/minLength}}
        {{#maxLength}}
        ,max_length : {{.}}
        {{/maxLength}}
        {{#required}}
        ,required : true
        {{/required}}
        {{#readOnly}}
        ,readonly : true
        {{/readOnly}}
        {{#size}}
        ,size : {{.}}
        {{/size}}
    }
});
</script>
{{/addJs}}

