{{!--
Tinymce Property Input
======================

`charcoal/admin/property/input/tinymce`

--}}

<textarea
    id="{{inputId}}"
    name="{{inputName}}"
    class="form-control {{inputClass}}"
    cols="{{cols}}"
    rows="{{rows}}"
    {{#readOnly}}read_only{{/readOnly}}
    {{#required}}required{{/required}}
    {{#disabled}}disabled{{/disabled}}
>
    {{&inputVal}}
</textarea>

{{#addJs}}
<script src="{{baseUrl}}assets/admin/scripts/vendors/tinymce/tinymce.min.js"></script>
<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{inputId}}',
    type: 'charcoal/admin/property/input/tinymce',
    data: {
        editor_options: {{&editorOptionsJson}}
    }
});
</script>
{{/addJs}}
