{{!--
Tinymce Property Input
======================

`charcoal/admin/property/input/tinymce`

--}}

<textarea
    id="{{input_id}}"
    name="{{input_name}}"
    class="form-control {{input_class}}"
    cols="{{cols}}"
    rows="{{rows}}"
    {{#read_only}}read_only{{/read_only}}
    {{#required}}required{{/required}}
    {{#disabled}}disabled{{/disabled}}
>
    {{&input_val}}
</textarea>

{{#add_js}}
<script src="{{base_url}}assets/admin/scripts/vendors/tinymce/tinymce.min.js"></script>
<script>
var tinymce_input_{{input_id}};
$(document).ready(function() {
    tinymce_input_{{input_id}} = new Charcoal.Admin.Property_Input_Tinymce({
        input_id: '{{input_id}}',
        editor_options: {{&editor_options_json}}
    });
});
</script>
{{/add_js}}
