{{!--
    Video Property Input
    ====================

    `charcoal/admin/property/input/video`
--}}
{{# addJsRequirement }}
    <script rel="l10n">
        {{> charcoal/admin/l10n/video.js }}
    </script>
{{/ addJsRequirement }}
{{> charcoal/admin/property/input/file }}