// ==========================================================================
// Background
// ==========================================================================

.o-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}
