// ==========================================================================
// Container Objects
// ==========================================================================

.o-container {
    @media (max-width: $to-small) {
        padding: 0 $unit-small;
    }

    @media (min-width: $from-small) {
        padding: 0 rem($unit);
    }

    &.-right {
        padding-left: 0;
    }

    &.-top {
        @media (max-width: $to-small) {
            padding-top: $unit-small;
        }

        @media (min-width: $from-small) {
            padding-top: rem($unit);
        }
    }
}

.o-container_aside {
    width: rem(360px - $unit);
}

.o-section {
    margin-bottom: rem(40px);
}
