// ==========================================================================
// Flex Objects
// ==========================================================================

.o-flex {
    display: flex;
}

.o-flex_aside {
    flex: 0 0 auto;
}

.o-flex_main {
    flex: 1;
    min-height: calc(100vh - #{rem($unit)});
}
