// ==========================================================================
// Flex Objects
// ==========================================================================

.o-flex {
    @media (min-width: $from-medium) {
        display: flex;
    }
}

.o-flex_aside {
    @media (min-width: $from-medium) {
        flex: 0 0 auto;
    }
}

.o-flex_main {
    @media (min-width: $from-medium) {
        // min-height: calc(100vh - #{rem($unit)});
        min-height: 100vh;
        flex: 1;
        min-width: 0;
    }
}
