// ==========================================================================
// Header Objects
// ==========================================================================

.o-header {
    // @media (max-width: $to-small) {
    //     min-height: 34px;
    //     margin: 25px 0;
    // }

    // @media (min-width: $from-small) {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    // }

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $unit;

    @media (min-width: $from-small) and (max-width: $to-large) {
        height: $nav-main-width;
    }

    @media (min-width: $from-large) {
        height: rem($header-height);
    }

    &.-border {
        border-bottom: 1px solid $gray-light;
        margin-bottom: rem(20px);
    }
}
