// ==========================================================================
// Header Objects
// ==========================================================================

.o-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: ($unit * 2 - 1);
}
