// ==========================================================================
// Toolbox (navigation/actions + content)
// ==========================================================================
.o-toolbox {
    height: 540px;
    overflow: hidden;

    &.-small {
        height: 330px;
    }
}

.o-toolbox_actions {
    height: 100%;
    width: 60px;

    .-left &{
        float: left;
    }
    .-right & {
        float: right;
    }

    .btn-group-vertical {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        &:hover {
            .btn.-active {
                &::after {
                    transform: translateX(calc(-100% - 1px));
                }

                &:hover {
                    &::after {
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    .btn {
        background-color: $white;
        border-radius: 0;
        flex: 1;
        padding: 0;
        position: relative;

        &::after {
            background-color: $blue;
            bottom: -1px;
            content: "";
            left: 0;
            position: absolute;
            top: -1px;
            transform: translateX(calc(-100% - 1px));
            transition: transform $speed;
            width: 5px;
        }

        &:active {
            background-color: $white;
        }

        &:hover,
        &.-active {
            background-color: $white;

            &::after {
                transform: translateX(0);
            }

            .o-toolbox_icon {
                fill: $blue;
            }
        }
    }
}

.o-toolbox_content {
    .-left &{
        float: left;
    }
    .-right & {
        float: right;
    }

    height: 100%;
    width: calc(100% - 60px);
}

.o-toolbox_icon {
    fill: $black;
    height: 40px;
    transition: fill 0.5s;
    width: 25px;
}