// ==========================================================================
// Toolbox (navigation/actions + content)
// ==========================================================================
.o-toolbox {
    // border-radius: 2px;
    height: rem(540px);
    overflow: hidden;
    position: relative;

    &.-small {
        height: rem(330px);
    }
}

.o-toolbox_actions {
    float: left;
    height: 100%;
    width: rem(60px);
}

.o-toolbox_button {
    height: 100%;

    &:first-child {
        border-top-right-radius: 0;
    }

    &:last-child {
        border-bottom-right-radius: 0;
    }
}

.o-toolbox_content {
    border: 1px solid #ccc;
    height: 100%;
    width: calc(100% - #{rem(60px)});
    border-left: none;
    border-bottom-right-radius: $btn-border-radius;
    border-top-right-radius: $btn-border-radius;
    float: left;
}

.o-toolbox_pane {
    position: relative;
    height: 100%;
    width: 100%;
}

.o-toolbox_icon {
    fill: currentColor;
    height: rem(40px);
    transition: fill 0.5s;
    width: $font-size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
