<div id="{{widgetId}}" style="height:{{height}}px;"></div>

{{#addJsRequirement}}
<script src="{{baseUrl}}assets/admin/scripts/vendors/echarts/echarts.js"></script>
{{/addJsRequirement}}

{{#addJs}}
<script type="text/javascript">
require.config({
    paths: {
        echarts: '{{baseUrl}}assets/admin/scripts/vendors/echarts/'
    }
});

require(
    [
        'echarts',
        'echarts/chart/bar',
        'echarts/chart/line'
    ],
    function (ec) {
        var myChart = ec.init(document.getElementById('{{widgetId}}'));

        myChart.showLoading({
            text: 'Loading...',
        });
        myChart.hideLoading();

        myChart.setOption({
            color:[
                {{#colors}}
                    '{{.}}',
                {{/colors}}
            ],
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                show: false,
                data:['Data 1', 'Data 2']
            },
            toolbox: {
                show : true
            },
            calculable : false,
            xAxis : [
                {
                    type : 'category',
                    data : ['J','F','M','A','M','J','J','A','S','O','N','D']
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    splitArea : {show : true}
                }
            ],
            series : {{&series}}
        });
    }
);
</script>
{{/addJs}}
