<div id="{{ widgetId }}" style="height: {{ height }};"></div>

{{ assets.enqueue.js.echarts_js }}

{{# addJs }}
<script type="text/javascript">
    Charcoal.Admin.manager().add_widget({
        id: '{{ widgetId }}',
        type: 'charcoal/admin/widget/graph',
        data: {
            graph_options: {
                color: {{& colorsJson }},
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    show: true
                },
                calculable: false,
                xAxis: [
                    {
                        type: 'category',
                        data: {{& categoriesJson }}
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        splitArea: {
                            show: true
                        }
                    }
                ],
                series: {{& seriesJson }}
            }
        }
    });
</script>
{{/ addJs }}