{{!--
    Text Property Input JS Component
    ================================

    @used-by `charcoal/admin/property/input/text`
--}}
{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id:   '{{ inputId }}',
    type: 'charcoal/admin/property/input/text',
    data: {
          input_name: '{{ inputName }}'
        , input_val:  "{{ inputVal }}"
        {{# multiple }}
        , multiple: true
        , multiple_separator: "{{ property.multipleSeparator }}"
        {{# property.multipleOptionsAsJson }}
        , multiple_options: {{& .}}
        {{/ property.multipleOptionsAsJson }}
        {{/ multiple }}
        {{# l10n }}
        , l10n: true
        {{/ l10n }}
        {{# minLength }}
        , min_length: {{ . }}
        {{/ minLength }}
        {{# maxLength }}
        , max_length: {{ . }}
        {{/ maxLength }}
        {{# required }}
        , required: true
        {{/ required }}
        {{# readOnly }}
        , readonly: true
        {{/ readOnly }}
        {{# size }}
        , size: {{ . }}
        {{/ size }}
    }
});
</script>
{{/ addJs }}
