{{!--
    Text Property Input JS Component
    ================================

    @used-by `charcoal/admin/property/input/text`
--}}
{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id:   '{{ inputId }}',
    type: 'charcoal/admin/property/input/text',
    data: {{& controlDataForJsAsJson }}
});
</script>
{{/ addJs }}
