{{!--
    Video Property Input \ Preview
    ==============================

    `charcoal/admin/property/input/video`
--}}
<video controls src="{{ previewVal }}" class="js-file-audio" style="max-width: 100%">{{# _t }}Your browser does not support the <code>video</code> element.{{/ _t }}</video>