{{!--
    Radio \ Checkbox \ Label
    =========================

    `charcoal/admin/property/input/checkbox-color`
    `charcoal/admin/property/input/radio-color`
--}}
<label for="{{ inputId }}" class="o-color-swatch minicolors-sprite" aria-label="{{ label }}">
    <span class="minicolors-swatch-color"{{# value }} style="background-color: {{ . }};"{{/ value }}></span>
</label>
