// ==========================================================================
// Imports
// ==========================================================================

// Global tools
@import "settings/tools";

// ==========================================================================
// Bootstrap
// ==========================================================================

// Core variables
@import "../../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/border-radius";
@import "../../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/labels";
// Charcoal variables
@import "settings/settings";
// Core variables overwrites
@import "bootstrap/variables";
@import "bootstrap/type";

// ==========================================================================
// Charcoal
// ==========================================================================

// Settings
// ==========================================================================


// Tools
// ==========================================================================
@import "tools/tools";

// Generic
// ==========================================================================


// Base
// ==========================================================================
@import "base/base";

// Objects
// ==========================================================================
@import "objects/flex";
@import "objects/header";
@import "objects/container";
@import "objects/overlay";
@import "objects/background";
@import "objects/toolbox";
@import "objects/module";

// Components
// ==========================================================================
@import "components/header-main";
@import "components/nav";
@import "components/nav-main";
@import "components/nav-secondary";
@import "components/nav-user";
@import "components/aside";
@import "components/login";
@import "components/panel";
@import "components/info";
@import "components/audio-player";
@import "components/map-maker";
@import "components/stats";
@import "components/attachment";
@import "components/color-inputs";

// Bootstrap overwrites
// ==========================================================================
@import "bootstrap/badges";
@import "bootstrap/navs";
@import "bootstrap/forms";
@import "bootstrap/tables";
@import "bootstrap/buttons";
@import "bootstrap/scaffolding";

// Bootstrap custom components
// ==========================================================================
@import "bootstrap-custom/table-header";
@import "bootstrap-custom/multiselect";
@import "bootstrap-custom/dialog";


// Vendors
// ==========================================================================
@import "vendors/minicolors";
@import "vendors/summernote";
@import "vendors/bootstrap-select";
@import "vendors/bootstrap-switch";
@import "vendors/awesome-bootstrap-checkbox";
@import "vendors/selectize-base-style";
@import "vendors/selectize-default";
@import "vendors/selectize";

// Trumps
// ==========================================================================
@import "trumps/trumps";

