{{!--
Lost password template
======================

This template, which obviously does not require authentication, displays a form to enter
a username (or email) to send a link

See the `\Charcoal\Admin\Action\LostPasswordAction` class for details on what happens next.

--}}
{{>charcoal/admin/template/inc.header}}

<div class="o-background -fixed u-background-lightblue"{{#backgroundImage}} style="background-image: url({{.}});"{{/backgroundImage}}>
    {{#backgroundVideo}}
    <video class="embedded-video horizontal" muted="" preload="auto" autoplay loop>
        <source src="{{.}}" type="video/mp4">
    </video>
    {{/backgroundVideo}}
</div>

<div class="c-login">
    <div class="c-login_panel">
        <div class="c-login_header">
            <div class="c-login_avatar">
                <img class="c-login_avatar_image" src="{{avatarImage}}">
            </div>
        </div>
        <div class="c-login_body">
            <div class="text-center">
                <h2>{{#_t}}Lost Password{{/_t}}</h2>
                <p>{{#_t}}Please enter your username or email address.{{/_t}}</p>
                <p>{{#_t}}You will receive an email containing a link to create a new password.{{/_t}}</p>
            </div>
            <form id="lost-password-form" method="POST" action="{{urlLostPasswordAction}}">
                <input type="hidden" name="csrf_token" value="{{csrfToken}}">
                <div class="form-group">
                    <label class="sr-only" for="username">{{#_t}}Username or Email Address{{/_t}}</label>
                    <div class="input-group">
                        <label class="input-group-addon" for="username"><i class="fa fa-user fa-fw"></i></label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="{{#_t}}Username or Email Address{{/_t}}" required autofocus tabindex="1">
                    </div>
                </div>

                {{> charcoal/admin/widget/recaptcha }}

                <div class="form-group">
                    <p>
                        <button type="submit" class="btn btn-info btn-lg btn-block" tabindex="3">
                            <span class="glyphicon glyphicon-refresh u-spin hidden"></span>
                            <span class="btn-label">{{#_t}}Get Reset Link{{/_t}}</span>
                        </button>
                    </p>

                    <p class="text-center">
                        <small>
                            <a href="{{urlResetPassword}}">{{#_t}}Already received a token by email?{{/_t}}</a>
                        </small>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

{{# addJsRequirement }}
<script rel="l10n">
    {{> charcoal/admin/l10n/auth.js }}
</script>
{{/ addJsRequirement }}

{{#addJs}}
<script>
var lostPasswordTemplate;
$(document).ready(function() {
    lostPaswordTemplate = new Charcoal.Admin.Template_Account_LostPassword({});
    //Charcoal.Admin.register_template(lostPasswordTemplate);
});
</script>
{{/addJs}}

{{>charcoal/admin/template/inc.footer}}
