{{!--
Lost password template
======================

This template, which obviously does not require authentication, displays a form to enter
a username (or email) to send a link

See the `\Charcoal\Admin\Action\LostPasswordAction` class for details on what happens next.

--}}
{{>charcoal/admin/template/inc.header}}

<div class="o-background -fixed u-background-lightblue"{{#backgroundImage}} style="background-image: url({{.}});"{{/backgroundImage}}>
    {{#backgroundVideo}}
    <video class="embedded-video horizontal" muted="" preload="auto" autoplay loop>
      <source src="{{.}}" type="video/mp4">
    </video>
    {{/backgroundVideo}}
</div>

<div class="c-login">
    <div class="c-login_panel" style="width: 390px;">
        <div class="c-login_header">
            <div class="c-login_avatar">
                <img class="c-login_avatar_image" src="{{baseUrl}}assets/admin/images/avatar.jpg">
            </div>
        </div>

        {{>charcoal/admin/widget/feedbacks}}

        <div class="text-center">
            <h2>{{#_t}}Password Reset{{/_t}}</h2>

            <p>{{#_t}}Enter the reset token you have received via email, your username or email address, and your new password.{{/_t}}</p>

            <form id="reset-password-form" method="POST" action="{{urlResetPasswordAction}}">
                <input type="hidden" name="csrf_token" value="{{csrfToken}}">
                <div class="form-group">
                    <label class="sr-only" for="token">{{#_t}}Password Reset Token{{/_t}}</label>
                    <div class="input-group">
                        <label class="input-group-addon" for="token"><span class="fa fa-ticket fa-fw"></span></label>
                        <input class="form-control" type="text" name="token" id="token" placeholder="{{#_t}}Token (received by email){{/_t}}" required{{#lostPasswordToken}} readonly{{/lostPasswordToken}}{{^lostPasswordToken}} autofocus{{/lostPasswordToken}} value="{{lostPasswordToken}}">
                    </div>
                    <small><a href="{{urlLostPassword}}">{{#_t}}Get new password reset token{{/_t}}</a></small>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="username">{{#_t}}Username or Email Address{{/_t}}</label>
                    <div class="input-group">
                        <label class="input-group-addon" for="username"><span class="fa fa-user fa-fw"></span></label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="{{#_t}}Username or Email Address{{/_t}}" required{{#lostPasswordToken}} autofocus{{/lostPasswordToken}}>
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="password1">{{#_t}}New Password{{/_t}}</label>
                    <div class="input-group">
                        <label class="input-group-addon" for="password1"><span class="fa fa-key fa-fw"></span></label>
                        <input class="form-control" type="password" name="password1" id="password1" placeholder="{{#_t}}New Password{{/_t}}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="password2">{{#_t}}Confirm New Password{{/_t}}</label>
                    <div class="input-group">
                        <label class="input-group-addon" for="password2"><span class="fa fa-key fa-fw"></span></label>
                        <input class="form-control" type="password" name="password2" id="password2" placeholder="{{#_t}}Confirm New Password{{/_t}}" required>
                    </div>
                </div>

                {{# recaptchaKey }}
                <div style="margin: 1rem 0 1rem 0;">
                    <div class="g-recaptcha" data-sitekey="{{ . }}"></div>
                </div>
                {{/ recaptchaKey }}

                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-lg btn-block">
                        <span class="glyphicon glyphicon-refresh u-spin hidden"></span>
                        <span class="btn-label">{{#_t}}Reset Password{{/_t}}</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

{{# recaptchaKey }}
{{#addJsRequirement}}
<script src="https://www.google.com/recaptcha/api.js"></script>
{{/addJsRequirement}}
{{/ recaptchaKey }}

{{# addJsRequirement }}
<script rel="l10n">
    {{> charcoal/admin/l10n/auth.js }}
</script>
{{/ addJsRequirement }}

{{#addJs}}
<script>
var resetPasswordTemplate;
$(document).ready(function() {
    resetPaswordTemplate = new Charcoal.Admin.Template_Account_ResetPassword({});
    //Charcoal.Admin.register_template(lostPasswordTemplate);
});
</script>
{{/addJs}}

{{>charcoal/admin/template/inc.footer}}
